{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="stick-menu"></div>
    <header class="st_header_area sticky-bg-clear-day">
        <div class="container">
            <div class="row" style="align-items: center;justify-content: center;" >
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
                    <div class="st_logo">
                        <a href="#"><img src="{% static 'assets/images/logo/st_logo-04.png' %}" alt="St Logo"></a>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
                    <div class="st_nav_wrapper st-mean-emerald">
                        <div class="st_menu text-hover-emerald">
                           <ul>
                                <li><a href="{% url 'sign' %}">Home</a></li>
                                <li><a href="{% url 'sign' %}#about">About</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'sign' %}#download">Download</a></li>
                                <li><a href="{% url 'sign' %}#faqs">Faqs</a></li>
                                <li><a href="{% url 'sign' %}#contact">Contact</a></li>
                                <li><a href="{% url 'sign' %}" class="st_default_btn bg-emerald bg-hover-st-aqua m-l-40 m-lg-l-none">SIGN IN</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End row -->
        </div>
        <!--End container -->
    </header>
    <!--End st_header_area -->

		<section class="st_inner_banner_area aqua-gredient-color text-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="st_inner_banner_wrap">
							<div class="st_inner_banner_content p-t-150 p-b-70 p-lg-t-120 p-lg-b-50 p-md-t-100 p-md-b-40">
								<h1 class="st-font-34 st-font-lg-30 st-font-sm-24 text-st-white"><strong>Sawari Blog</strong></h1>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_inner_banner_menu_area position-relative">
			<div class="container">
				<nav class="st_inner_banner_menu d-inline-block bg-st-white">
					<ul class="list-inline m-0">
						<li><a class="text-st-aqua" href="{% url 'sign' %}"><i class="fas fa-home m-r-10 text-haiti"></i>Home</a></li>
<!--						<li class="text-haiti">/</li>-->
<!--						<li><a class="text-st-aqua" href="#">Page</a></li>-->
						<li class="text-haiti">/</li>
						<li class="text-st-primary">Blog</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="st_blog_area p-t-110 p-lg-t-70 p-md-t-40">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="st_blog_wrap">

						{% for b in blog %}
                            {% if b.is_active is True %}
							<div class="st_blog_item p-b-75 p-lg-b-60">
								<div class="st_blog_img">
									<img src="{{MEDIA_URL}}{{b.image.url}}" alt="">
								</div>
								<div class="st_blog_content d-flex flex-column flex-md-row">
									<div class="st_blog_poster_wrap st_poster_mt text-center p-l-r-25 d-flex justify-content-between align-items-center d-md-block justify-content-md-start align-items-md-start">
										<div class="st_blog_poster_img rounded-circle m-b-15 m-sm-t-15">
											<img src="{% static 'assets/images/logo/st_logo-04.png' %}" alt="">
										</div>
										<p class="text-haiti st-font-34 st-font-lg-30 st-line-height-1 m-0"><span class="st-font-22">{{ b.date }}</span></p>
									</div>
									<div class="st_blog_title_area p-l-25 p-t-15 p-sm-l-15 p-sm-r-15">
										<p class="st-font-14 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">{{ b.author }}</span></p>
										<a href="{% url 'view_blog_detail' b.id %}"><h3 class="st-font-24 st-font-lg-22 st-font-md-18 st-line-height-1-4 m-0"><strong>{{ b.title }}</strong></h3></a>
									</div>
								</div>
							</div>
                            {% endif %}
							{% endfor %}
<!--							<div class="st_blog_item p-b-75 p-lg-b-60">-->
<!--								<div class="st_blog_img">-->
<!--									<img src="assets/images/blog/blog-02.jpg" alt="">-->
<!--								</div>-->
<!--								<div class="st_blog_content d-flex flex-column flex-md-row">-->
<!--									<div class="st_blog_poster_wrap st_poster_mt text-center p-l-r-25 d-flex justify-content-between align-items-center d-md-block justify-content-md-start align-items-md-start">-->
<!--										<div class="st_blog_poster_img rounded-circle m-b-15 m-sm-t-15">-->
<!--											<img src="assets/images/blog/blog-poster.jpg" alt="">-->
<!--										</div>-->
<!--										<p class="text-haiti st-font-34 st-font-lg-30 st-line-height-1 m-0">24 <span class="st-font-22">JUN</span></p>-->
<!--									</div>-->
<!--									<div class="st_blog_title_area p-l-25 p-t-15 p-sm-l-15 p-sm-r-15">-->
<!--										<p class="st-font-14 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>-->
<!--										<a href="#"><h3 class="st-font-24 st-font-lg-22 st-font-md-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance based action fry drive by your items.</strong></h3></a>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="st_blog_item p-b-75 p-lg-b-60">-->
<!--								<div class="st_blog_img">-->
<!--									<img src="assets/images/blog/blog-03.jpg" alt="">-->
<!--								</div>-->
<!--								<div class="st_blog_content d-flex flex-column flex-md-row">-->
<!--									<div class="st_blog_poster_wrap st_poster_mt text-center p-l-r-25 d-flex justify-content-between align-items-center d-md-block justify-content-md-start align-items-md-start">-->
<!--										<div class="st_blog_poster_img rounded-circle m-b-15 m-sm-t-15">-->
<!--											<img src="assets/images/blog/blog-poster.jpg" alt="">-->
<!--										</div>-->
<!--										<p class="text-haiti st-font-34 st-font-lg-30 st-line-height-1 m-0">24 <span class="st-font-22">JUN</span></p>-->
<!--									</div>-->
<!--									<div class="st_blog_title_area p-l-25 p-t-15 p-sm-l-15 p-sm-r-15">-->
<!--										<p class="st-font-14 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>-->
<!--										<a href="#"><h3 class="st-font-24 st-font-lg-22 st-font-md-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance based action fry drive by your items.</strong></h3></a>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="st_blog_item p-b-75 p-lg-b-60">-->
<!--								<div class="st_blog_img">-->
<!--									<img src="assets/images/blog/blog-04.jpg" alt="">-->
<!--								</div>-->
<!--								<div class="st_blog_content d-flex flex-column flex-md-row">-->
<!--									<div class="st_blog_poster_wrap st_poster_mt text-center p-l-r-25 d-flex justify-content-between align-items-center d-md-block justify-content-md-start align-items-md-start">-->
<!--										<div class="st_blog_poster_img rounded-circle m-b-15 m-sm-t-15">-->
<!--											<img src="assets/images/blog/blog-poster.jpg" alt="">-->
<!--										</div>-->
<!--										<p class="text-haiti st-font-34 st-font-lg-30 st-line-height-1 m-0">24 <span class="st-font-22">JUN</span></p>-->
<!--									</div>-->
<!--									<div class="st_blog_title_area p-l-25 p-t-15 p-sm-l-15 p-sm-r-15">-->
<!--										<p class="st-font-14 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>-->
<!--										<a href="#"><h3 class="st-font-24 st-font-lg-22 st-font-md-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance based action fry drive by your items.</strong></h3></a>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="st_blog_item p-b-75 p-lg-b-60">-->
<!--								<div class="st_blog_img">-->
<!--									<img src="assets/images/blog/blog-05.jpg" alt="">-->
<!--								</div>-->
<!--								<div class="st_blog_content d-flex flex-column flex-md-row">-->
<!--									<div class="st_blog_poster_wrap st_poster_mt text-center p-l-r-25 d-flex justify-content-between align-items-center d-md-block justify-content-md-start align-items-md-start">-->
<!--										<div class="st_blog_poster_img rounded-circle m-b-15 m-sm-t-15">-->
<!--											<img src="assets/images/blog/blog-poster.jpg" alt="">-->
<!--										</div>-->
<!--										<p class="text-haiti st-font-34 st-font-lg-30 st-line-height-1 m-0">24 <span class="st-font-22">JUN</span></p>-->
<!--									</div>-->
<!--									<div class="st_blog_title_area p-l-25 p-t-15 p-sm-l-15 p-sm-r-15">-->
<!--										<p class="st-font-14 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>-->
<!--										<a href="#"><h3 class="st-font-24 st-font-lg-22 st-font-md-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance based action fry drive by your items.</strong></h3></a>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
						</div>
					</div>
<!--					<div class="col-lg-4">-->
<!--						<div class="st_blog_sidebar m-l-15 m-lg-l-none m-md-l-25 m-md-r-25 m-sm-l-none m-sm-r-none">-->
<!--							<div class="st_blog_sidebar_item bg-polar rounded p-l-r-40 p-t-40 p-b-40 m-b-60 m-sm-b-25 m-md-b-35">-->
<!--								<div class="st_blog_sidebar_title">-->
<!--									<h3 class="st-font-24 m-b-30 p-b-15"><strong>Search</strong></h3>-->
<!--								</div>-->
<!--								<div class="st_search_box">-->
<!--									<form id="st-form">-->
<!--										<input placeholder="Search here..." name="search" type="search">-->
<!--										<button id="st_search_btn" type="submit" value="Submit"><i class="fas fa-search"></i></button>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--							<div class="st_blog_sidebar_item bg-polar rounded p-l-r-40 p-t-40 p-b-40 m-b-60 m-sm-b-25 m-md-b-35">-->
<!--								<div class="st_blog_sidebar_title">-->
<!--									<h3 class="st-font-24 m-b-30 p-b-15"><strong>Categorey</strong></h3>-->
<!--								</div>-->
<!--								<ul class="st_blog_categorey list-inline m-0">-->
<!--									<li><a href="#">App Design<span>( 20 )</span></a></li>-->
<!--									<li><a href="#">Web ui Design<span>( 21 )</span></a></li>-->
<!--									<li><a href="#">Ux Design<span>( 5 )</span></a></li>-->
<!--									<li><a href="#">Graphic & illustration<span>( 8 )</span></a></li>-->
<!--									<li><a href="#">Art & Motion<span>( 15 )</span></a></li>-->
<!--									<li><a href="#">3D Rendering<span>( 18 )</span></a></li>-->
<!--									<li><a href="#">Marketing Banner<span>( 13 )</span></a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							<div class="st_blog_sidebar_item bg-polar rounded p-l-r-40 p-t-40 p-b-40 m-b-60 m-sm-b-25 m-md-b-35">-->
<!--								<div class="st_blog_sidebar_title">-->
<!--									<h3 class="st-font-24 m-b-30 p-b-15"><strong>Most Populer</strong></h3>-->
<!--								</div>-->
<!--								<div class="st_popular_post_wrap m-b-40">-->
<!--									<div class="st_poster_neme">-->
<!--										<ul class="st_single_popular_post list-inline m-0 m-b-15 st-font-13">-->
<!--											<li class="d-inline-block  m-r-25">Posted By: <i class="text-haiti">Jhon Legend</i></li>-->
<!--											<li class="d-inline-block ">20 JUN 2018</li>-->
<!--										</ul>-->
<!--										<a href="#"><h3 class="st-font-16"><strong>How to Prepare for an Automted Future Build Car</strong></h3></a>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="st_popular_post_wrap m-b-40">-->
<!--									<div class="st_poster_neme">-->
<!--										<ul class="st_single_popular_post list-inline m-0 m-b-15">-->
<!--											<li class="d-inline-block st-font-13 m-r-25">Posted By: <i class="text-haiti">Jhon Legend</i></li>-->
<!--											<li class="d-inline-block st-font-13">20 JUN 2018</li>-->
<!--										</ul>-->
<!--										<a href="#"><h3 class="st-font-16"><strong>How to Prepare for an Automted Future Build Car</strong></h3></a>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="st_popular_post_wrap">-->
<!--									<div class="st_poster_neme">-->
<!--										<ul class="st_single_popular_post list-inline m-0 m-b-15">-->
<!--											<li class="d-inline-block st-font-13 m-r-25">Posted By: <i class="text-haiti">Jhon Legend</i></li>-->
<!--											<li class="d-inline-block st-font-13">20 JUN 2018</li>-->
<!--										</ul>-->
<!--										<a href="#"><h3 class="st-font-16"><strong>How to Prepare for an Automted Future Build Car</strong></h3></a>-->
<!--									</div>-->
<!--								</div>	-->
<!--							</div>-->
<!--							<div class="st_blog_sidebar_item aqua-gredient-color rounded p-l-r-25 p-t-40 p-t-b-60">-->
<!--								<div class="st_blog_subscription text-center">-->
<!--									<img class="m-b-30" src="assets/images/blog/email.png" alt="">-->
<!--									<h3 class="text-white st-font-24 m-b-5"><strong>Subscribe</strong></h3>-->
<!--									<p class="text-white m-b-30 font-weight-light">To get latest update & news</p>-->
<!--									<div class="st_subscribe st_blog_page">-->
<!--										<form class="st-form st-subscription-form">-->
<!--											<input class="st_subscribe_email st_subscribe_email_transparent st-font-13" placeholder="Email address" required="required" name="EMAIL" type="email">-->
<!--											<input class="st_subscribe_btn bg-st-aqua font-weight-semi-bold st-font-12" value="subscribe" type="submit">-->
<!--											<div class="st_subscription_info">Please enter a value</div>-->
<!--										</form>-->
<!--									</div>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>&lt;!&ndash;End row &ndash;&gt;-->
			
            </div><!--End container -->

            <!-- Starting Paging list-->
            <div class="st_pagination_wrap d-flex justify-content-between align-items-center p-t-70 p-b-100 p-md-t-50 p-md-b-60">
                <div class="st_single_pagination order-0">
                    <a class="st_pagination font-weight-medium d-inline-block p-t-b-25 p-l-r-35 text-haiti st-font-14 bg-polar" href="#"><i class="fas fa-arrow-left text-st-aqua m-r-10"></i>PREV PAGE</a>
                </div>
                <div class="st_single_pagination order-lg-2 order-md-1">
                    <a class="st_pagination font-weight-medium d-inline-block p-t-b-25 p-l-r-35 text-haiti st-font-14 bg-polar" href="#">NEXT PAGE<i class="fas fa-arrow-right text-st-aqua m-l-10"></i></a>
                </div>
                
                <div class="st_single_pagination order-lg-1 order-md-2 st-text-md-center m-md-t-40">
                    <ul class="list-inline m-0 st_number_pagenation">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a class="active" href="#">3</a></li>
                    </ul>
                </div>
            </div>
<!-- Closing Paging list-->>

		</div><!--End st_blog_area -->
    
        
		 <footer id="contact" class="st_default_footer_area bg-haiti st_subscribe_footer st_section_padding" style="background-image: url(assets/images/footer-shape.png);">
        <div class="container">
            <div class="st_subscription_wrapper text-center wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="text-st-white">Subscribe our newsletter for product & promtion</h2>
                <div class="st_subscribe st_subscribe_flat">
                    <form id="st-subscription-form" class="st-form">
                        <input id="st-subscription-email" class="st_subscribe_email" placeholder="Enter email address" required="required" name="EMAIL" type="email">
                        <input class="st_subscribe_btn bg-emerald bg-hover-aqua" value="subscribe" type="submit">
                        <div class="st_subscription_info">Please enter a value</div>
                    </form>
                    <label for="st-subscription-email" class="st-subscription-info position-absolute"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="st_footer_logo_warap">
                        <a href="#"><img src="{% static 'assets/images/logo/fotter-logo-02.png' %}" alt=""></a>
                        <!-- <p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p> -->
                    </div>
                    <div class="st_copyright_content d-lg-block st-d-md-none">
                        <p>All Right Reserved by <a class="text-white" href="https://itsoch.com">iTsoch</a> Copyright &copy;2020</p>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="row">
                        <!-- <div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6 offset-lg-1">
                            <div class="st_fotter_heding_title">
                                <h3 class="text-emerald">Links</h3>
                            </div>
                            <div class="st_fotter_menu text-st-white">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Features</a></li>
                                    <li><a href="#">Doc</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- <div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6">
                            <div class="st_fotter_heding_title">
                                <h3 class="text-emerald">Support</h3>
                            </div>
                            <div class="st_fotter_menu text-st-white">
                                <ul>
                                    <li><a href="#">Stack Comunity</a></li>
                                    <li><a href="#">Support Docs</a></li>
                                    <li><a href="#">Help API Docs</a></li>
                                    <li><a href="#">Service Satus</a></li>
                                    <li><a href="#">Email Contact</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <div class="col-lg-5 col-md-4 m-md-b-60">
                            <div class="st_fotter_heding_title">
                                <h3 class="text-emerald">Contact</h3>
                            </div>
                            <div class="st_social_icon text-st-white">
                                <p class="text-st-primary">info@saastrend.com</p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-git-square"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--- End row -->
                </div>
            </div>
            <!--- End row -->
            <div class="d-none st-d-md-block">
                <div class="st_copyright_content text-center">
                    <p>All Right Reserved by <a class="text-white" href="https://itsoch.com">iTsoch</a> Copyright &copy;2020</p>
                </div>
            </div>
        </div>
        <!--- End container -->
    </footer>
    <!--- End st_default_footer_area -->
    {% endblock content %}
