<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Sawari</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700"
          rel="stylesheet">
    <!--- End google font-->

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!--- End favicon-->

    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugins.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/saastrend.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endbuild -->
    <!--End ALL STYLESHEET -->

</head>
{% block content %}

<body>

</body>
{% endblock content %}
<!-- build:js -->
<script src="{% static 'assets/js/plugins.min.js' %}"></script>
<script src="{% static 'assets/js/sliderInit.js' %}"></script>
<script src="{% static 'assets/js/saastrend.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<!-- endbuild -->
<!-- End All Js -->



    
</html>