<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:200,300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>

	<body>


		<div id="stick-menu"></div>
		<header class="st_header_area sticky-bg-st-white sticky-box-shadow bg-st-white">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="../index.html"><img src="assets/images/logo/st_logo-13.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-st-aqua">
							<nav class="st_menu">
								<ul>
									<li class="st-has-submenu"><a href="#home">Demos <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="v10.html">Github</a></li>
											<li><a href="v7.html">Bootstrap</a></li>
											<li><a href="v2.html">Slack</a></li>
											<li><a href="v14.html">Paypal</a></li>
											<li><a href="v13.html">Uber</a></li>
											<li><a href="v8.html">Trello</a></li>
											<li><a href="v6.html">Skype</a></li>
											<li><a href="v11.html">Gmail</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v1.html">Webpack 1</a></li>
											<li><a href="v3.html">Webpack 2</a></li>
											<li><a href="v4.html">Webpack 3</a></li>
											<li><a href="v12.html">Webpack 4</a></li>
											<li><a href="v17.html">Webpack 5</a></li>
											<li><a href="v20.html">Webpack 6</a></li>
											<li><a href="v21.html">Webpack 7</a></li>
											<li><a href="v22.html">Webpack 8</a></li>
										</ul>
									</li>
									<li><a href="#feature">Pages <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="about.html">About </a></li>
											<li class="st-has-submenu"><a href="contact.html">Contact</a>
												<ul>
													<li><a href="contact.html">Contact 1</a></li>
													<li><a href="contact-2.html">Contact 2</a></li>
												</ul>
											</li>
											<li class="st-has-submenu"><a href="#">Extra</a>
												<ul>
													<li><a href="login.html">Login Page</a></li>
													<li><a href="register.html">Register Page</a></li>
													<li><a href="404.html">404 Page</a></li>
												</ul>
											</li>
											<li><a href="coming-soon.html">Coming Soon Page</a></li>
											<li><a href="docs.html">Documentation</a></li>
										</ul>
									</li>
									<li><a href="blog.html">Blog <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="blog.html">Defult</a></li>
											<li><a href="blog-grid.html">Grid</a></li>
											<li><a href="blog-single.html">Single</a></li>
										</ul>
									</li>
									<li><a href="shop.html">Shop <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="shop.html">Shop</a></li>
											<li><a href="shop-single.html">Single</a></li>
										</ul>
									</li>
									<li class="st-has-submenu"><a href="#">Elements <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="elements-features.html">Features</a></li>
											<li><a href="elements-promo.html">Promo</a></li>
											<li><a href="elements-price.html">Price</a></li>
											<li><a href="elements-screenshots.html">Screenshotsypal</a></li>
											<li><a href="elements-clients.html">Clients</a></li>
											<li><a href="elements-counter.html">Counter</a></li>
											<li><a href="elements-team.html">Team</a></li>
											<li><a href="elements-testimonial.html">Testimonial</a></li>
											<li><a href="elements-video.html">Video</a></li>
											<li><a href="elements-faqs.html">Faqs</a></li>
											<li><a href="elements-subscriptions.html">Subscription Form</a></li>
											<li><a href="elements-contact-form.html">Contact Form</a></li>
										</ul>
									</li>
									<li><a href="https://1.envato.market/c/1267300/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fsaastrend-bootstrap-saas-startup-software-webapp-template%2F22673166" target="_blank" class="st_default_btn m-l-40 m-lg-l-none bg-st-aqua text-st-white">Buy $17</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section class="st_breadcrumb_wrapper bg-polar p-t-150 p-b-60 p-lg-t-120 p-md-t-100 p-lg-b-40">
			<div class="container">
				<div class="st_breadcrumb_content text-center">
					<h1 class="st-font-34 st-font-lg-30 st-font-sm-24 m-md-b-10"><strong>About Us</strong></h1>
					<ul class="list-inline m-0">
						<li><a class="text-st-aqua" href="#"><i class="fas fa-home m-r-10 text-haiti"></i>Home</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li><a class="text-st-aqua" href="#">Page</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li class="text-st-primary">About</li>
					</ul>
				</div>
			</div><!--End container -->
		</section><!--End st_breadcrumb_wrapper -->

		<div id="about" class="st_about_inner_page p-b-150 p-md-b-100 p-sm-b-60">
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 d-flex align-items-end">
							<article class="st_default_content p-t-50">
								<h5 class="text-st-aqua font-weight-semi-bold">TIMELINE</h5>
								<h2>Great Timeline Analysis</h2>
								<p>Proactively reinvent inexpensive e-commerce for parallel relationships. Distinctively brand adaptive innovation after state of the art alignments.</p>
								<p>Uniquely streamline parallel quality vectors without turnkey vortals..</p>
								<a class="st_default_btn bg-perison-blue bg-hover-st-aqua" href="#">GET STARTED</a>
							</article>
						</div>
						<div class="col-lg-7">
							<div class="st_about_right_item m-md-t-30">
								<img src="assets/images/about/breadcurmb.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
		</div>

		<div class="st_video_area bg-koamaru p-t-b-70 st_video_3 text-center">
			<div class="container">
				<div class="position-relative text-center d-inline-block">
					<img src="assets/images/video-bg.png" alt="">
					<div class="st_video_icon">
						<a class="st_popup_youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
							<img src="assets/images/video-icon.png" alt="">
						</a>
						<p class="st_watch_video font-weight-semi-bold text-white m-0">WATCH VIDEO</p>
					 	<div class="iq-waves">
							<div class="waves wave-1"></div>
							<div class="waves wave-2"></div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_video_area -->

		<div class="st_counter_area p-t-b-150 p-md-t-b-100">
			<div id="st_counter"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter bg-polar">
							<div class="st_counter_left">
								<i class="icon-happy st-font-52 text-science-blue"></i>
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="800" class="counter-result">0</h2>
								<p>Satisfied Client</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter bg-polar">
							<div class="st_counter_left">
								<i class="icon-mobile st-font-52 text-gigas"></i>
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="200" class="counter-result">0</h2>
								<p>Appriciation</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter bg-polar">
							<div class="st_counter_left">
								<i class="icon-adjustments st-font-52 text-yellow-orange"></i>
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="5289" class="counter-result">0</h2>
								<p>Response time</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter bg-polar">
							<div class="st_counter_left">
								<i class="icon-trophy st-font-52 text-shhamrock"></i>
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="3335" class="counter-result">0</h2>
								<p>Data Entry</p>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st-counter-area -->

		<div class="st_team_area p-0 p-b-150 p-md-b-100">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Our dedicated team member & developers</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="st_team_item_v2 st_team_4 p-0 border-0 shadow-none m-md-b-50 ">
							<div class="st_team_member rounded m-b-25 position-relative">
								<img src="assets/images/about/team-01.png" alt="">
								<div class="st_team_hover_content text-left d-flex flex-column justify-content-center">
									<h3>BIO</h3>
									<p>Proactively reinvent inexpnsive e-commerce for parallel for a relationships.</p>
									<p>With 3 year experience working now reputed software develop-ing company</p>
									<ul class="list-inline m-0 p-t-20 p-lg-t-none">
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-facebook"></i></a></li>
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="st_team_content p-0">
								<div class="st_team_single_content p-l-15">
									<h3 class="font-weight-medium st-line-height-1 m-b-10">Alan Walker</h3>
									<p class="font-weight-medium">Visual designer</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="st_team_item_v2 st_team_4 p-0 border-0 shadow-none m-md-b-50 ">
							<div class="st_team_member rounded m-b-25 position-relative">
								<img src="assets/images/about/team-03.png" alt="">
								<div class="st_team_hover_content text-left d-flex flex-column justify-content-center">
									<h3>BIO</h3>
									<p>Proactively reinvent inexpnsive e-commerce for parallel for a relationships.</p>
									<p>With 3 year experience working now reputed software develop-ing company</p>
									<ul class="list-inline m-0 p-t-20 p-lg-t-none">
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-facebook"></i></a></li>
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="st_team_content p-0">
								<div class="st_team_single_content p-l-15">
									<h3 class="font-weight-medium st-line-height-1 m-b-10">Captain Joker</h3>
									<p class="font-weight-medium">Visual designer</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="st_team_item_v2 st_team_4 p-0 border-0 shadow-none m-md-b-50 ">
							<div class="st_team_member rounded m-b-25 position-relative">
								<img src="assets/images/about/team-02.png" alt="">
								<div class="st_team_hover_content text-left d-flex flex-column justify-content-center">
									<h3>BIO</h3>
									<p>Proactively reinvent inexpnsive e-commerce for parallel for a relationships.</p>
									<p>With 3 year experience working now reputed software develop-ing company</p>
									<ul class="list-inline m-0 p-t-20 p-lg-t-none">
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-facebook"></i></a></li>
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="st_team_content p-0">
								<div class="st_team_single_content p-l-15">
									<h3 class="font-weight-medium st-line-height-1 m-b-10">Justin Thanos</h3>
									<p class="font-weight-medium">Visual designer</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="st_team_item_v2 st_team_4 p-0 border-0 shadow-none m-md-b-50 ">
							<div class="st_team_member rounded m-b-25 position-relative">
								<img src="assets/images/about/team-03.png" alt="">
								<div class="st_team_hover_content text-left d-flex flex-column justify-content-center">
									<h3>BIO</h3>
									<p>Proactively reinvent inexpnsive e-commerce for parallel for a relationships.</p>
									<p>With 3 year experience working now reputed software develop-ing company</p>
									<ul class="list-inline m-0 p-t-20 p-lg-t-none">
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-facebook"></i></a></li>
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li class="d-inline-block m-r-15"><a class="st-font-18 text-koamaru" href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="st_team_content p-0">
								<div class="st_team_single_content p-l-15">
									<h3 class="font-weight-medium st-line-height-1 m-b-10">Captain Joker</h3>
									<p class="font-weight-medium">Visual designer</p>
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_v10_team_area -->

		<div class="st_client_area bg-polar p-t-b-40 p-md-t-b-20">
			<div class="container">
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div class="st_design_feature_area p-t-b-130 p-md-t-b-100 text-center">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Designed for everyone, everywhere</h2>
					<p>Bootstrap makes front-end web development faster.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="st_design_feature_item m-sm-b-50">
							<div class="st_design_feature_img h-auto m-b-30">
								<a href="#"><img src="assets/images/about/feature-01.png" alt=""></a>
							</div>
							<div class="st_design_feature_content br-lg-none">
								<h3 class="m-b-25">Preprocessors</h3>
								<p class="m-0">Conveniently procrastinate seamless value <br/>with distinctive opportunities.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_design_feature_item m-sm-b-50">
							<div class="st_design_feature_img h-auto m-b-30">
								<a href="#"><img src="assets/images/about/feature-02.png" alt=""></a>
							</div>
							<div class="st_design_feature_content br-lg-none">
								<h3 class="m-b-25">Responsive</h3>
								<p class="m-0">Conveniently procrastinate seamless value <br/>with distinctive opportunities.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 m-md-t-50">
						<div class="st_design_feature_item m-sm-b-50">
							<div class="st_design_feature_img h-auto m-b-30">
								<a href="#"><img src="assets/images/about/feature-03.png" alt=""></a>
							</div>
							<div class="st_design_feature_content br-lg-none">
								<h3 class="m-b-25">Features</h3>
								<p class="m-0">Conveniently procrastinate seamless value <br/>with distinctive opportunities.</p>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_design_feature_area -->

		<footer id="contact" class="st_default_footer_area bg-haiti st_subscribe_footer st_section_padding bgi-sm-none" style="background-image: url(assets/images/footer-shape.png);">
			<div class="container">
				<div class="st_subscription_wrapper text-center m-sm-b-100">
					<h2 class="text-st-white">Subscribe our newsletter for product & promtion</h2>
					<div class="st_subscribe st_subscribe_flat">
						<form class="st-form">
							<input class="st_subscribe_email" placeholder="Enter email address" required="required" name="EMAIL" type="email">
							<input class="st_subscribe_btn" value="subscribe" type="submit">
							<div class="st_subscription_info">Please enter a value</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo-10.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Links</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Support</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Contact</h3>
								</div>
								<div class="st_social_icon text-st-white">
									<p class="text-st-primary">info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->

		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>