<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:200,300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>

	<body>


		<div id="stick-menu"></div>
		<header class="st_header_area sticky-bg-st-white sticky-box-shadow bg-st-white">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="../index.html"><img src="assets/images/logo/st_logo-13.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-st-aqua">
							<nav class="st_menu">
								<ul>
									<li class="st-has-submenu"><a href="#home">Demos <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="v10.html">Github</a></li>
											<li><a href="v7.html">Bootstrap</a></li>
											<li><a href="v2.html">Slack</a></li>
											<li><a href="v14.html">Paypal</a></li>
											<li><a href="v13.html">Uber</a></li>
											<li><a href="v8.html">Trello</a></li>
											<li><a href="v6.html">Skype</a></li>
											<li><a href="v11.html">Gmail</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v1.html">Webpack 1</a></li>
											<li><a href="v3.html">Webpack 2</a></li>
											<li><a href="v4.html">Webpack 3</a></li>
											<li><a href="v12.html">Webpack 4</a></li>
											<li><a href="v17.html">Webpack 5</a></li>
											<li><a href="v20.html">Webpack 6</a></li>
											<li><a href="v21.html">Webpack 7</a></li>
											<li><a href="v22.html">Webpack 8</a></li>
										</ul>
									</li>
									<li><a href="#feature">Pages <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="about.html">About </a></li>
											<li class="st-has-submenu"><a href="contact.html">Contact</a>
												<ul>
													<li><a href="contact.html">Contact 1</a></li>
													<li><a href="contact-2.html">Contact 2</a></li>
												</ul>
											</li>
											<li class="st-has-submenu"><a href="#">Extra</a>
												<ul>
													<li><a href="login.html">Login Page</a></li>
													<li><a href="register.html">Register Page</a></li>
													<li><a href="404.html">404 Page</a></li>
												</ul>
											</li>
											<li><a href="coming-soon.html">Coming Soon Page</a></li>
											<li><a href="docs.html">Documentation</a></li>
										</ul>
									</li>
									<li><a href="blog.html">Blog <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="blog.html">Defult</a></li>
											<li><a href="blog-grid.html">Grid</a></li>
											<li><a href="blog-single.html">Single</a></li>
										</ul>
									</li>
									<li><a href="shop.html">Shop <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="shop.html">Shop</a></li>
											<li><a href="shop-single.html">Single</a></li>
										</ul>
									</li>
									<li class="st-has-submenu"><a href="#">Elements <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="elements-features.html">Features</a></li>
											<li><a href="elements-promo.html">Promo</a></li>
											<li><a href="elements-price.html">Price</a></li>
											<li><a href="elements-screenshots.html">Screenshotsypal</a></li>
											<li><a href="elements-clients.html">Clients</a></li>
											<li><a href="elements-counter.html">Counter</a></li>
											<li><a href="elements-team.html">Team</a></li>
											<li><a href="elements-testimonial.html">Testimonial</a></li>
											<li><a href="elements-video.html">Video</a></li>
											<li><a href="elements-faqs.html">Faqs</a></li>
											<li><a href="elements-subscriptions.html">Subscription Form</a></li>
											<li><a href="elements-contact-form.html">Contact Form</a></li>
										</ul>
									</li>
									<li><a href="https://1.envato.market/c/1267300/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fsaastrend-bootstrap-saas-startup-software-webapp-template%2F22673166" target="_blank" class="st_default_btn m-l-40 m-lg-l-none bg-st-aqua text-st-white">Buy $17</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section class="st_breadcrumb_wrapper bg-polar p-t-150 p-b-80 p-lg-t-120 p-md-t-100 p-lg-b-40">
			<div class="container">
				<div class="st_breadcrumb_content text-center">
					<h1 class="st-font-34 st-font-lg-30 st-font-sm-24 m-md-b-10"><strong>Price</strong></h1>
					<ul class="list-inline m-0">
						<li><a class="text-st-aqua" href="#"><i class="fas fa-home m-r-10 text-haiti"></i>Home</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li><a class="text-st-aqua" href="#">Eelements</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li class="text-st-primary">Price</li>
					</ul>
				</div>
			</div><!--End container -->
		</section><!--End st_breadcrumb_wrapper -->

		<section class="st_pricing_table_area text-center st_section_padding">
			<div class="container">
				<div class="st_section_heding_title light">
					<p>SaasDrive pricing</p>
					<h2>Our adorable pricing plan</h2>
				</div>
				<div class="st-pricing-container st-pricing-btn-style-wrapper">
					<div class="row">
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInUp" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">Free</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-science-blue st_btn_round " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInUp" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>STANDARD</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$80</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent  text-science-blue st_btn_round " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInUp" data-wow-delay="0.7s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$50</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent  text-science-blue st_btn_round " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</section><!--- End st_pricing_table_area -->

		<div class="st_pricing_table_area st_section_padding bg-polar">
			<div class="container">
				<div class="st_section_heding_title">
					<div class="st_section_title_icon bg-icon rgba-science-blue">
						<img src="assets/images/v10/title-icon-02.png" alt="">
					</div>
					<h2>Our regulare pricing</h2>
				</div>
				<div class="st_pricing_table_waraper">
					<div class="st_pricing_single_item wow fadeInLeft" data-wow-delay="0.3s">
						<div class="st_pricing_title">
							<h3>FEATURES</h3>
						</div>
						<div class="st_pricing_package">
							<p>Code Saving</p>
						</div>
						<div class="st_pricing_package">
							<p>Team Manage</p>
						</div>
						<div class="st_pricing_package">
							<p>Auto Correct</p>
						</div>
						<div class="st_pricing_package">
							<p>React support</p>
						</div>
						<div class="st_pricing_package">
							<p>Online support</p>
						</div>
						<div class="st_pricing_package">
							<p>C panel</p>
						</div>
						<div class="st_pricing_package">
							<p>Iframe Support</p>
						</div>
						<div class="st_pricing_package st_extra_height"></div>
					</div>
					<div class="st_pricing_single_item wow fadeInRight" data-wow-delay="0.5s">
						<div class="st_pricing_title">
							<h3>FREE PACKAGE</h3>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package"></div>
						<div class="st_pricing_package"></div>
						<div class="st_pricing_package"></div>
						<div class="st_pricing_package"></div>
						<div class="st_pricing_package st_extra_height">
							<a class="st_default_btn st_transparent text-emerald text-hover-st-white" href="#">Subscribe</a>
						</div>
					</div>
					<div class="st_pricing_single_item wow fadeInRight" data-wow-delay="0.7s">
						<div class="st_pricing_title color_blue">
							<h3>PREMIUM PACKAGE</h3>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package st_extra_height">
							<a class="st_default_btn bg-emerald" href="#">Subscribe</a>
						</div>
					</div>
				</div>
				<div class="st_bank_card d-flex justify-content-center m-t-35">
					<div class="st_single_bank_card m-l-r-15">
						<img src="assets/images/v10/visa.png" alt="">
					</div>
					<div class="st_single_bank_card m-l-r-15">
						<img src="assets/images/v10/pay.png" alt="">
					</div>
					<div class="st_single_bank_card m-l-r-15">
						<img src="assets/images/v10/master-card.png" alt="">
					</div>
					<div class="st_single_bank_card m-l-r-15">
						<img src="assets/images/v10/paypal.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_v10_pricing_table_area -->

		<section class="st_pricing_table_area st_section_padding">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Our adorable app pricing & details</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="st-pricing-container">
					<div class="st-pricing-switcher">
						<div class="fieldset fieldset-active-medium-purple">
							<input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
							<label for="monthly-1">Monthly</label>
							<input type="radio" name="duration-1" value="yearly" id="yearly-1">
							<label for="yearly-1">Yearly</label>
							<div class="st-pricing-underlines">
								<div class="st-pricing-underlines-1"></div>
								<div class="st-pricing-underlines-2"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$00</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Free</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$00</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>2 Active Account</li>
													<li>1000 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Free</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.4s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Popular</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$40</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Popular</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>Popular</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$100</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Popular</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Basic</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$20</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>3 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Basic</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>Basic</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$60</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Basic</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.6s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Pro</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$50</span>
												<span class="st-duration">/m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>10 Active Account</li>
													<li>1 TB Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Pro</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>Pro</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$80</span>
												<span class="st-duration">/m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Pro</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</section><!--- End st_pricing_table_area -->

		<div class="st_v2_pricing_table_area bg-polar st_section_padding">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Our adorable app pricing & details</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="row d-flex">
					<div class="col-lg-4 col-md-6 order-xl-1 order-lg-1 order-sm-1 m-sm-b-50 st_no_padding">
						<div class="st_pricing_packges wow fadeInLeft" data-wow-delay="0.4s">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name">BASIC</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$89</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 order-xl-3 order-lg-3 order-sm-2 m-sm-b-50 st_no_padding">
						<div class="st_pricing_packges wow fadeInRight" data-wow-delay="0.4s">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name pink">ELITE</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$89</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 order-xl-2 order-lg-2 order-sm-3 m-md-t-50 m-sm-t-none offset-lg-0 offset-md-3 m-sm-b-50 st_no_padding">
						<div class="st_pricing_packges st_pricing_packges_highlight orange-pricing-bg st_pricing_bg wow fadeInUp" data-wow-delay="0.2s">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name yellow">PREMIUM</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$156</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
							<div class="st_most_popular">
								Most Popular
							</div>	
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End container -->
		</div><!-- End st_v2_pricing_table_area -->

		<section class="st_pricing_table_area st_pricing_table_waraper st_section_padding shadow-none">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Our adorable app pricing & details</h2>
					<p>Lets see how it works with full fuctionality with more acessable things</p>
				</div>
				<div class="st-pricing-container st-pricing-btn-style-wrapper">
					<div class="st-pricing-switcher">
						<div class="fieldset">
							<input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
							<label for="monthly-1">Monthly</label>
							<input type="radio" name="duration-1" value="yearly" id="yearly-1">
							<label for="yearly-1">Yearly</label>
							<div class="st-pricing-underlines">
								<div class="st-pricing-underlines-2"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">Free</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-gigas" href="#">SUBSCRIBE</a>
											</div>	
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">PREMIUM</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-gigas" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>STANDARD</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$80</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-gigas" href="#">SUBSCRIBE</a>
											</div>	
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$60</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-gigas" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.7s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$50</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-gigas" href="#">SUBSCRIBE</a>
											</div>	
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$40</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-gigas" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</section><!--- End st_pricing_table_area -->
		
		<footer id="contact" class="st_default_footer_area st_footer_variation bg-haiti st_subscribe_fotter">
			<div class="container">
				<div class="row st_fotter_border_bottom st_fotter_border_bottom_v2">
					<div class="col-xl-3 col-lg-6 d-flex d-lg-flex d-sm-block d-xs-block justify-content-start align-items-center">
						<div class="st_footer_logo_warap m-b-none">
							<a href="#"><img class="m-b-none" src="assets/images/logo/fotter-logo-04.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 order-xl-3 d-flex d-lg-flex justify-content-end align-items-cente d-sm-block d-xs-block m-md-t-80 m-sm-t-50 st-font-sm-left">
						<div class="st_social_icon text-st-white">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fab fa-git-square"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12 d-flex d-lg-flex d-sm-block d-xs-block justify-content-center align-items-center m-lg-t-80 m-sm-t-50">
						<div class="st_fotter_menu text-st-white st_fotter_menu_inline">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Why Choose</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!--- End row -->
				<div class="st_copyright_content text-center p-b-60">
					<p>All Right Reserved by <a href="#" class="text-st-white">Pixiefy</a> Copyright &copy;2018</p>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->

		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>