<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:200,300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>

	<body>


		<div id="stick-menu"></div>
		<header class="st_header_area sticky-bg-st-white sticky-box-shadow bg-st-white">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="../index.html"><img src="assets/images/logo/st_logo-13.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-st-aqua">
							<nav class="st_menu">
								<ul>
									<li class="st-has-submenu"><a href="#home">Demos <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="v10.html">Github</a></li>
											<li><a href="v7.html">Bootstrap</a></li>
											<li><a href="v2.html">Slack</a></li>
											<li><a href="v14.html">Paypal</a></li>
											<li><a href="v13.html">Uber</a></li>
											<li><a href="v8.html">Trello</a></li>
											<li><a href="v6.html">Skype</a></li>
											<li><a href="v11.html">Gmail</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v1.html">Webpack 1</a></li>
											<li><a href="v3.html">Webpack 2</a></li>
											<li><a href="v4.html">Webpack 3</a></li>
											<li><a href="v12.html">Webpack 4</a></li>
											<li><a href="v17.html">Webpack 5</a></li>
											<li><a href="v20.html">Webpack 6</a></li>
											<li><a href="v21.html">Webpack 7</a></li>
											<li><a href="v22.html">Webpack 8</a></li>
										</ul>
									</li>
									<li><a href="#feature">Pages <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="about.html">About </a></li>
											<li class="st-has-submenu"><a href="contact.html">Contact</a>
												<ul>
													<li><a href="contact.html">Contact 1</a></li>
													<li><a href="contact-2.html">Contact 2</a></li>
												</ul>
											</li>
											<li class="st-has-submenu"><a href="#">Extra</a>
												<ul>
													<li><a href="login.html">Login Page</a></li>
													<li><a href="register.html">Register Page</a></li>
													<li><a href="404.html">404 Page</a></li>
												</ul>
											</li>
											<li><a href="coming-soon.html">Coming Soon Page</a></li>
											<li><a href="docs.html">Documentation</a></li>
										</ul>
									</li>
									<li><a href="blog.html">Blog <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="blog.html">Defult</a></li>
											<li><a href="blog-grid.html">Grid</a></li>
											<li><a href="blog-single.html">Single</a></li>
										</ul>
									</li>
									<li><a href="shop.html">Shop <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="shop.html">Shop</a></li>
											<li><a href="shop-single.html">Single</a></li>
										</ul>
									</li>
									<li class="st-has-submenu"><a href="#">Elements <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="elements-features.html">Features</a></li>
											<li><a href="elements-promo.html">Promo</a></li>
											<li><a href="elements-price.html">Price</a></li>
											<li><a href="elements-screenshots.html">Screenshotsypal</a></li>
											<li><a href="elements-clients.html">Clients</a></li>
											<li><a href="elements-counter.html">Counter</a></li>
											<li><a href="elements-team.html">Team</a></li>
											<li><a href="elements-testimonial.html">Testimonial</a></li>
											<li><a href="elements-video.html">Video</a></li>
											<li><a href="elements-faqs.html">Faqs</a></li>
											<li><a href="elements-subscriptions.html">Subscription Form</a></li>
											<li><a href="elements-contact-form.html">Contact Form</a></li>
										</ul>
									</li>
									<li><a href="https://1.envato.market/c/1267300/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fsaastrend-bootstrap-saas-startup-software-webapp-template%2F22673166" target="_blank" class="st_default_btn m-l-40 m-lg-l-none bg-st-aqua text-st-white">Buy $17</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section class="st_breadcrumb_wrapper bg-polar p-t-150 p-b-80 p-lg-t-120 p-md-t-100 p-lg-b-40">
			<div class="container">
				<div class="st_breadcrumb_content text-center">
					<h1 class="st-font-34 st-font-lg-30 st-font-sm-24 m-md-b-10"><strong>Contact Forms</strong></h1>
					<ul class="list-inline m-0">
						<li><a class="text-st-aqua" href="#"><i class="fas fa-home m-r-10 text-haiti"></i>Home</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li><a class="text-st-aqua" href="#">Eelements</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li class="text-st-primary">Contact Forms</li>
					</ul>
				</div>
			</div><!--End container -->
		</section><!--End st_breadcrumb_wrapper -->

		<div class="st_user_login_area st_section_padding p-b-40">
			<div class="container">
				<div class="st_section_heding_title m-b-80 m-md-b-50">
					<h2>Send a message to us for any problem</h2>
					<p>Ready to singn in our site and acess merchent account</p>
				</div>
				<div class="st_user_login st_user_login_v2 m-b-80">
					<form action="st_contact_form_box" method="POST">
						<div class="st_user_login_wrap">
							<div class="st_input_column">
								<div class="st_input_item">
									<label>NAME</label>
									<input type="text" placeholder="Enter Your Name">
								</div>
								<div class="st_input_item">
									<label>EMAIL</label>
									<input type="text" placeholder="Enter Your Email">
								</div>
							</div>
							<div class="st_input_column">
								<div class="st_input_item">
									<label>MESSAGE</label>
									<textarea name="textarea" placeholder="Enter Your Message"></textarea>
								</div>
								<div class="st_input_submit">
									<input type="submit" class="aqua-gredient-background st_default_btn_full p-t-b-20 st-font-16 font-weight-normal" value="Send a direct message">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div><!--- End container -->
		</div><!--- End st_user_login_area -->

		<div class="st_contact_area st_section_padding bg-polar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.3s">
						<div class="st_contact_hedding_title">
							<h2>Frequently ask Question</h2>
							<p>Dynamically unleash client-centric web services and market</p>
						</div>
						<div class="st_accordion_item">
							<div class="accordion" id="st_accordion_waraper">
								<div class="card card__active">
									<div class="card-header" id="headingOne">
										<a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<span class="st_accordion_icon_1">
												<i class="fas fa-shield-alt"></i>
											</span>
											<h3>Is saastrend Safer to use with my account?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											<span class="st_accordion_icon_1">
												<i class="fas fa-paw"></i>
											</span>
											<h3>How our saaastrend work?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
											<span class="st_accordion_icon_1">
												<i class="fas fa-cloud-download-alt"></i>
											</span>
											<h3>How to disable main function?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFour">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
											<span class="st_accordion_icon_1">
												<i class="fas fa-heartbeat"></i>
											</span>
											<h3>What is the main process open account?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFive">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
											<span class="st_accordion_icon_1">
												<i class="fab fa-meetup"></i>
											</span>
											<h3>How to make unlimited data entry?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
						<div class="st_contact_hedding_title m-md-t-100">
							<h2>Send us a Quick Message</h2>
							<p>Dynamically unleash client-centric web services and market</p>
						</div>
						<div class="st_contact_waraper">
							<form class="st_contact_form_box" action="#" method="POST">
								<div class="st_contact_form">
									<div class="st_input_item">
										<input type="text" placeholder="Name">
									</div>
									<div class="st_input_item">
										<input  type="text" placeholder="Email address">
									</div>
								</div>
								<div class="st_input_item">
									<textarea name="textarea" placeholder="Textarea"></textarea>
								</div>
								<div class="st_input_item">
									<input type="submit" value="SEND YOUR MESSAGE TO US">
								</div>
							</form>
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End container -->
		</div><!-- End st_contact_area -->

		
		<footer id="contact" class="st_default_footer_area st_footer_variation bg-haiti st_subscribe_fotter">
			<div class="container">
				<div class="row st_fotter_border_bottom st_fotter_border_bottom_v2">
					<div class="col-xl-3 col-lg-6 d-flex d-lg-flex d-sm-block d-xs-block justify-content-start align-items-center">
						<div class="st_footer_logo_warap m-b-none">
							<a href="#"><img class="m-b-none" src="assets/images/logo/fotter-logo-04.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 order-xl-3 d-flex d-lg-flex justify-content-end align-items-cente d-sm-block d-xs-block m-md-t-80 m-sm-t-50 st-font-sm-left">
						<div class="st_social_icon text-st-white">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fab fa-git-square"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12 d-flex d-lg-flex d-sm-block d-xs-block justify-content-center align-items-center m-lg-t-80 m-sm-t-50">
						<div class="st_fotter_menu text-st-white st_fotter_menu_inline">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Why Choose</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!--- End row -->
				<div class="st_copyright_content text-center p-b-60">
					<p>All Right Reserved by <a href="#" class="text-st-white">Pixiefy</a> Copyright &copy;2018</p>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->

		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>