<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:200,300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>

	<body>
		
		<div class="st_login_page_area banner-height" style="background-image: url(assets/images/shop/bg.png);">
			<div class="container">
				<div class="st_login_wrap banner-height text-center">
					<div class="st_login_container p-l-r-75 p-t-b-60">
						<div class="st_login_logo m-b-45">
							<a href="#"><img src="assets/images/logo/login.png" alt=""></a>
							<h3 class="st-font-28 m-t-20 st-line-height-1-1 m-0"><strong>Login page</strong></h3>
						</div>
						<div class="st_login_box">
							<form action="#" method="POST">
								<div class="st_login_form">
									<div class="st_login_item">
										<i class="fas fa-user st-font-20 text-haiti"></i>
										<input class="st_login_input" type="text" placeholder="User Name">
									</div>
									<div class="st_login_item">
										<i class="fas fa-lock st-font-20 text-haiti"></i>
										<input class="st_login_input" type="password" placeholder="password">
									</div>
								</div>
								<button id="st_login_btn" type="button" value="login">LOGIN</button>
								<a class="forget_password text-perison-blue font-weight-medium text-left d-block p-t-b-30" href="#">FORGET PASSWORD?</a>
							</form>
						</div>
						<div class="st_login_social_icon">
							<h3 class="st-font-24 m-b-25">Login With</h3>
							<ul class="list-inline m-0 m-b-30">
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							</ul>
							<p class="st-font-18 font-weight-medium">New user in our site <a class="text-perison-blue" href="#"><u>Create a Account</u></a></p>
						</div>
					</div>
				</div>
			</div><!--End container-->
		</div><!--End st_404_area-->

		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->
	</body>
</html>