<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>

	<body>
		
		<div id="stick-menu"></div>
		<header class="st_header_area sticky-aqua-gradient">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-02.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper">
							<nav class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#feature">Features</a></li>
									<li><a href="#download">download</a></li>
									<li><a href="#testimonial">Testimoinal</a></li>
									<li><a href="#screenshot">Screenshots</a></li>
									<li><a href="#table">Pricing</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area st_banner_default st_banner_aqua_gradient text-center">
			<div class="container">
				<div class="row">
					<div class="col-12 d-flex justify-content-center align-items-end height-100vh st-min-sm-900">
						<div class="st_banner_waraper">
							<div class="st_banner_content m-b-140 m-md-b-100">
								<h1 class="text-white st-font-40 st-font-sm-34">Life on Mars Get to Know the Crew</h1>
								<p class="text-white st-font-18 st-font-sm-16">Continually seize enterprise-wide web-readiness through integrated catalysts for change.</p>
								<a class="st_default_btn bg-perison-blue" href="#">DOWNLOAD NOW</a>
								<a class="st_default_btn st_transparent" href="#">EXPLORE FEATURE</a>
							</div>
							<div class="st_banner_sidebar st_banner_sidebar_v2 p-md-t-110 p-xs-t-50">
								<div class="st_banner_single_img_01 st-side-auto">
									<img src="assets/images/macbook-pro.png" alt="">
									<div class="st_banner_small_img">
										<img src="assets/images/v2/banner-img.png" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
			<div class="st_banner_shape">
				<img src="assets/images/v2/st-shape.png" alt="">
			</div>
		</section><!--End st_banner_area -->

		<div class="st_client_area st_section_padding top_100">
			<div class="container">
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div class="st_promo_area st_section_padding top_0 text-center p-xs-b-20">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Working process only Three Simple step</h2>
					<p>Enthusiastically exploit interactive niche markets after globally underwhelm customized</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<a href="#" class="st_single_prom_item st_single_prom_item_v2 m-sm-b-60 wow fadeInUp" data-wow-delay="0.3s">
							<div class="st_promo_icon">
								<img src="assets/images/v2/promo-01.png" alt="">
								<span class="st_promo_counter">1</span>
							</div>
							<article class="st_promo_content">
								<h3 class="st-fonts-poppins font-weight-medium">Download Our App</h3>
								<p>Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="#" class="st_single_prom_item st_single_prom_item_v2 m-sm-b-60 wow fadeInUp" data-wow-delay="0.5s">
							<div class="st_promo_icon">
								<img src="assets/images/v2/promo-02.png" alt="">
								<span class="st_promo_counter">2</span>
							</div>
							<article class="st_promo_content">
								<h3 class="st-fonts-poppins font-weight-medium">Create a Account</h3>
								<p>Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-12">
						<a href="#" class="st_single_prom_item st_single_prom_item_v2 m-md-t-70 m-sm-t-none m-sm-b-60 wow fadeInUp" data-wow-delay="0.7s">
							<div class="st_promo_icon">
								<img src="assets/images/v2/promo-03.png" alt="">
								<span class="st_promo_counter">3</span>
							</div>
							<article class="st_promo_content">
								<h3 class="st-fonts-poppins font-weight-medium">And Start your Jorney</h3>
								<p>Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div id="feature" class="st_section_padding bg-polar">
			<div class="container">
				<div class="st_section_heding_title">
					<h4 class="text-st-aqua st-fonts-poppins">FEATURE</h4>
					<h2>Awesome Features</h2>
				</div>
				<div class="tab-content">
					<div class="st_custom-tab">
						<ul class="nav nav-pills" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="true"><img src="assets/images/v2/feature-03.png" alt=""><span>Recovery Function</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false"><img src="assets/images/v2/feature-01.png" alt=""><span>Retina Display</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><img src="assets/images/v2/feature-02.png" alt=""><span>Unlimited Data</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-music-tab" data-toggle="pill" href="#pills-music" role="tab" aria-controls="pills-music" aria-selected="false"><img src="assets/images/v2/feature-04.png" alt=""><span>Bufferless Music</span></a>
							</li>
						</ul>
					</div>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
							<div class="st_tab_box">
								<div class="st_tab_single_img">
									<img src="assets/images/tabs/3.png" alt="">
								</div>
								<div class="st_tab_content">
									<h3>Recovery Function</h3>
									<p>Enthusiastically exploit interactive niche markets after enterprise-wide internal or "organic" sources. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
									<p>Completely drive process cent potential without information convenien.</p>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="st_tab_box">
								<div class="st_tab_single_img">
									<img src="assets/images/tabs/1.png" alt="">
								</div>
								<div class="st_tab_content">
									<h3>Great Retina Support</h3>
									<p>Enthusiastically exploit interactive niche markets after enterprise-wide internal or "organic" sources. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
									<p>Completely drive process cent potential without information convenien.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<div class="st_tab_box">
								<div class="st_tab_single_img">
									<img src="assets/images/tabs/2.png" alt="">
								</div>
								<div class="st_tab_content">
									<h3>Unlimited Data</h3>
									<p>Enthusiastically exploit interactive niche markets after enterprise-wide internal or "organic" sources. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
									<p>Completely drive process cent potential without information convenien.</p>
								</div>
							</div>
						</div>
						
						<div class="tab-pane fade" id="pills-music" role="tabpanel" aria-labelledby="pills-music-tab">
							<div class="st_tab_box">
								<div class="st_tab_single_img">
									<img src="assets/images/tabs/4.png" alt="">
								</div>
								<div class="st_tab_content">
									<h3>Bufferless Music</h3>
									<p>Enthusiastically exploit interactive niche markets after enterprise-wide internal or "organic" sources. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
									<p>Completely drive process cent potential without information convenien.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_v2_feature_area -->

		<div id="about" class="st_about_inner_page st_section_padding p-b-80">
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 d-flex align-items-center">
							<article class="st_default_content wow fadeInLeft" data-wow-delay="0.2s">
								<h5 class="text-st-aqua st-fonts-poppins">TIMELINE</h5>
								<h2>Great Timeline Analysis</h2>
								<p>Proactively reinvent inexpensive e-commerce for parallel relationships. Distinctively brand adaptive inn after state of the art alignments. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
								<p>Uniquely streamline parallel quality vectors without turnkey vortals exploit interactive niche markets after enterprise-wide internal..</p>
							</article>
						</div>
						<div class="col-lg-7">
							<div class="st_about_right_item m-md-t-30 p-l-40 wow fadeInRight" data-wow-delay="0.4s">
								<img src="assets/images/v2/about-01.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 order-lg-2">
							<article class="st_default_content wow fadeInRight" data-wow-delay="0.2s">
								<h5 class="text-st-aqua st-fonts-poppins">PIE CHART</h5>
								<h2>Various Design Pie Chart</h2>
								<p>Proactively reinvent inexpensive e-commerce for parallel relationships. Distinctively brand adaptive innovation after state of the art alignments.</p>
								<a class="st_default_btn perison-blue bg-hover-st-aqua" href="#">EXPLORE MORE</a>
							</article>
						</div>
						<div class="col-lg-7">
							<div class="st_about_right_item m-md-t-30 wow fadeInLeft" data-wow-delay="0.3s">
								<img src="assets/images/v2/about-02.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
		</div><!--End st_v2_about_area -->

		<div id="download" class="st_download_area aqua-gredient-bg-2 text-center">
			<div class="container">
				<div class="st_download_waraper">
					<div class="st_download_content_waraper">
						<h2 class="st-font-34 st-font-md-28 br-md-none text-st-white">Ready to Start Download this Awesome App for your <br/>Busineess?</h2>
						<a class="st_default_btn bg-st-aqua wow bounceIn" data-wow-delay="0.2s" href="#">DOWNLOAD NOW</a>
						<a class="st_default_btn st_transparent wow bounceIn" data-wow-delay="0.2s" href="#">EXPLORE FEATURE</a>
					</div>
					<div class="st_download_single_img st-d-sm-none wow fadeIn">
						<img src="assets/images/v2/download-single-img.png" alt="">
					</div>
				</div>
			</div><!--End container -->
			<div class="st_shape">
				<div class="st_single_shape_01"></div>
				<div class="st_single_shape_02"></div>
			</div>
		</div><!--End st_v2_download_area -->
		
		<div id="testimonial" class="st_v2_testimonial_area st_section_padding">
			<div class="container">
				<div class="st_section_heding_title">
					<h4 class="text-st-aqua st-fonts-poppins">TESTIMONIAL</h4>
					<h2>User Review & Feedback</h2>
				</div>
				<div class="st_v2_testimonial_slider st_slider_bottom_dots owl-carousel owl-theme">
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-02.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>jahanara</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-02.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>jahanara</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_v2_testimonial_area -->

		<section id="screenshot" class="st_swiper_slider_area st_section_padding bg-polar">
			<div class="container">
				<div class="st_section_heding_title">
					<h4 class="text-st-aqua st-fonts-poppins">SCREENSHOT</h4>
					<h2>App Screenshot & Screen</h2>
				</div>
				<div class="st_screenshot_wrap">
					<div id="st_screenshot_v2" class="st_screenshot_v2">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-02.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-03.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-02.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-03.jpg" alt="">
							</div>
						</div>
						<!-- Add Arrows -->
					</div>
					<div class="swiper-button-prev">
						<i class="fas fa-angle-left"></i>
					</div>
					<div class="swiper-button-next">
						<i class="fas fa-angle-right"></i>
					</div>
				</div>
			</div><!-- End container -->
		</section><!-- End swiper-slider-area -->

		<div id="table" class="st_pricing_table_area st_section_padding p-md-b-none">
			<div class="container">
				<div class="st_section_heding_title">
					<h4 class="text-st-aqua st-fonts-poppins">PRICING</h4>
					<h2>App Pricing Table</h2>
				</div>
				<div class="row d-flex">
					<div class="col-lg-4 col-md-6 order-xl-1 order-lg-1 order-sm-1 m-sm-b-50">
						<div class="st_pricing_packges wow fadeInLeft" data-wow-delay="0.5s">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name">BASIC</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$89</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 order-xl-3 order-lg-3 order-sm-2 m-sm-b-50">
						<div class="st_pricing_packges wow fadeInRight" data-wow-delay="0.5s">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name pink">ELITE</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$89</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 order-xl-2 order-lg-2 order-sm-3 m-md-t-50 m-sm-t-none offset-lg-0 offset-md-3 m-sm-b-50">
						<div class="st_pricing_packges st_pricing_bg aqua-pricing-bg wow fadeIn" data-wow-delay="0.3s">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name yellow">PREMIUM</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$156</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
							<div class="st_most_popular">
								Most Popular
							</div>	
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End container -->
			<div class="st_pricing_table_shape">
				<img src="assets/images/v2/pricing-shape.png" alt="">
			</div>
		</div><!-- End st_v2_pricing_table_area -->

		<div id="contact" class="st_contact_area st_section_padding bg-polar top_0 p-md-t-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.3s">
						<div class="st_contact_hedding_title">
							<h2>Frequently ask Question</h2>
							<p>Dynamically unleash client-centric web services and market</p>
						</div>
						<div class="st_accordion_item">
							<div class="accordion" id="st_accordion_waraper">
								<div class="card card__active">
									<div class="card-header" id="headingOne">
										<a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<span class="st_accordion_icon_1">
												<i class="fas fa-shield-alt"></i>
											</span>
											<h3>Is saastrend Safer to use with my account?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											<span class="st_accordion_icon_1">
												<i class="fas fa-paw"></i>
											</span>
											<h3>How our saaastrend work?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
											<span class="st_accordion_icon_1">
												<i class="fas fa-cloud-download-alt"></i>
											</span>
											<h3>How to disable main function?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFour">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
											<span class="st_accordion_icon_1">
												<i class="fas fa-heartbeat"></i>
											</span>
											<h3>What is the main process open account?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFive">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
											<span class="st_accordion_icon_1">
												<i class="fab fa-meetup"></i>
											</span>
											<h3>How to make unlimited data entry?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
						<div class="st_contact_hedding_title m-md-t-100">
							<h2>Send us a Quick Message</h2>
							<p>Dynamically unleash client-centric web services and market</p>
						</div>
						<div class="st_contact_waraper">
							<form class="st_contact_form_box st-contact-form-init" action="assets/php/contact.php" method="POST">
								<div class="st_contact_form">
									<div class="st_input_item">
										<input type="text" name="name" placeholder="Name">
									</div>
									<div class="st_input_item">
										<input  type="text" name="email" placeholder="Email address">
									</div>
								</div>
								<div class="st_input_item">
									<textarea name="message" placeholder="Textarea"></textarea>
								</div>
								<div class="st_input_item">
									<input type="submit" value="SEND YOUR MESSAGE TO US">
								</div>
							</form>
							<div class="st-form-info"></div>
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End container -->
		</div><!-- End st_contact_area -->

		<div class="st_news_letter_area bg-haiti st_section_100_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="st_news_left_item text-left st-text-md-center m-md-b-40">
							<h2>Start you 14 day <span>Free trial</span> today !</h2>
							<p>Compellingly re-engineer installed base intellectual capital</p>
						</div>
					</div>
					<div class="col-lg-5 align-items-center d-flex flex-wrap">
						<div class="st_subscribe">
							<form id="st-subscription-form" class="st-form st-subscription-form">
								<input id="st-subscription-email" class="st_subscribe_email st_subscribe_email_transparent" placeholder="Enter your email address" required="required" name="EMAIL" type="email">
								<input class="st_subscribe_btn bg-st-aqua" value="subscribe" type="submit">
								<div class="st_subscription_info">Please enter a value</div>
							</form>
							<label for="st-subscription-email" class="st-subscription-info"></label>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_single_area -->

		<footer class="st_default_footer_area polar-gradient-background p-t-130 p-b-100 p-sm-t-75">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Links</h3>
								</div>
								<div class="st_fotter_menu">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Support</h3>
								</div>
								<div class="st_fotter_menu">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Contact</h3>
								</div>
								<div class="st_social_icon">
									<p>info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>