<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>

		<div id="stick-menu"></div>
		<header id="st-header-section" class="st_header_area bg-st-white p-t-b-15 sticky-bg-st-white st_header_btn sticky-padding-10">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-4 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-09.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-8 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-froly">
							<nav class="st_menu text-st-white">
								<ul>
									<li><a href="#" class="st_default_btn text-froly rgba-froly text-capitalize m-l-40 m-lg-l-none p-t-b-13">Register</a></li>
									<li><a href="#" class="st_default_btn bg-froly sing_in text-capitalize p-t-b-13">Sign in</a></li>

								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area margin-header banner-black-overley" style="background-image: url(assets/images/v11/banner.jpg); background-size: cover; background-repeat: no-repeat;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex justify-content-start align-items-center height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_waraper m-md-t-150 m-md-b-80 wow fadeInLeft" data-wow-delay="0.3s">
							<div class="st_banner_content st-text-md-center align_item">
								<h1 class="st-font-44 st-font-lg-38 st-font-sm-30 text-st-white font-weight-normal st-body-font br-sm-none">A magical mail service<br/> to develop communication</h1>
								<p class="text-st-white">Continually seize enterprise-wide web-readiness through the<br/> integrated catalysts for change.</p>
								<a class="st_default_btn bg-froly bg-hover-st-aqua text-capitalize" href="#">Get a Free Account</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 st_relative d-flex align-items-center justify-content-end height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_sidebar m-md-b-40 st-banner-overlap wow fadeInRight" data-wow-delay="0.4s">
							<img src="assets/images/v11/banner.png" alt="">
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_promo_area st_section_padding st_promo_center p-sm-b-30">
			<div class="container">
				<div class="st_section_heding_title">
					<h2 class="br-md-none">World wide peoples at all age connected with<br/><strong>Saas</strong><span class="text-froly">mail</span> service</h2>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-50 wow fadeInUp" data-wow-delay="0.3s">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-01.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Modern interface & design</h3>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-50 wow fadeInUp" data-wow-delay="0.5s">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-02.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Instant messaging & mail</h3>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-50 wow fadeInUp" data-wow-delay="0.7s">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-03.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Compability desktop & mobile</h3>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div class="st_dashboard_area">
			<div class="container">
				<div class="st_simple_content text-center m-b-45">
					<h2 class="text-st-primary st-font-30 st-font-lg-25 st-font-sm-22 br-sm-none st-line-height-1-7 br-md-none"><span class="text-haiti">Saas<span class="text-froly font-normal">mail</span> is built for designers</span> like you. With useful features<br/> an intuitive interface and powerful plugins built by a community of developers,<br/> it helps you focus on what you do best.</h2>
				</div>
				<div class="st_dashbord_img wow fadeIn" data-wow-delay="0.3s">
					<img src="assets/images/v11/dashboard.png" alt="">
				</div>
			</div><!--End container -->
		</div><!--End st_dashboard_area -->

		<section id="feature" class="st_feature_area bg-haiti st_section_padding p-b-100 p-lg-b-50 p-md-b-40 p-sm-b-30">
			<div class="container">
				<div class="st_section_heding_title m-lg-b-120 m-md-b-120 st_white_color">
					<img src="assets/images/v9/share-02.png" alt="">
					<h2>Why you choose & trust us among<br/> all others services</h2>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-black-rock">
							<div class="feature_item_icon bg-st-aqua">
								<img src="assets/images/feature-01.png" alt="">
							</div>
							<h3 class="text-st-white font-weight-bold">Retina Support</h3>
							<p class="text-french-grey">Progressively procrastinate for an leveraged manufactured<br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-black-rock">
							<div class="feature_item_icon bg-perison-blue">
								<img src="assets/images/feature-02.png" alt="">
							</div>
							<h3 class="text-st-white font-weight-bold">Friendly Customized</h3>
							<p class="text-french-grey">Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-black-rock">
							<div class="feature_item_icon bg-st-violet">
								<img src="assets/images/feature-03.png" alt="">
							</div>
							<h3 class="text-st-white font-weight-bold">Unlocked Turbo</h3>
							<p class="text-french-grey">Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-black-rock">
							<div class="feature_item_icon bg-sun-glow">
								<img src="assets/images/feature-04.png" alt="">
							</div>
							<h3 class="text-st-white font-weight-bold">Auto Appriciate</h3>
							<p class="text-french-grey">Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-black-rock">
							<div class="feature_item_icon bg-st-cabaret">
								<img src="assets/images/feature-05.png" alt="">
							</div>
							<h3 class="text-st-white font-weight-bold">QR Code Scaner</h3>
							<p class="text-french-grey">Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-black-rock">
							<div class="feature_item_icon bg-st-shamrock">
								<img src="assets/images/feature-06.png" alt="">
							</div>
							<h3 class="text-st-white font-weight-bold">Heart Beat Tester</h3>
							<p class="text-french-grey">Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</section><!--- End st_feature_area -->

		<div class="st_mail_service_area bg-froly p-t-b-80">
			<div class="container">
				<div class="row">
					<div class="col-xl-7 col-lg-6 d-md-flex d-block st-text-sm-center align-items-center justify-content-center wow fadeInLeft" data-wow-delay="0.3s">
						<div class="st_mail_service_single_img d-inline-block m-r-35 m-sm-r-none m-sm-b-30">
							<img src="assets/images/v11/cta.png" alt="">
						</div>
						<div class="st_mail_service_single_content d-md-inline-block">
							<h2 class="text-st-white">Join with our SaasMail service</h2>
						</div>
					</div>
					<div class="col-xl-5 col-lg-6 d-md-flex d-block justify-content-lg-end justify-content-sm-center justify-content-center align-items-center m-md-t-35 wow fadeInRight" data-wow-delay="0.5s">
						<a class="st_default_btn st_transparent rounded text-capitalize m-r-none st-d-sm-block" href="#">Sign in account</a>
						<div class="st_or d-md-inline-block d-block st-font-18 m-l-r-20 text-st-white m-sm-l-r-none m-sm-b-15 st-text-sm-center">or</div>
						<a class="st_default_btn rounded text-capitalize bg-st-white bg-hover-st-aqua text-froly text-hover-st-white st_btn_large_shadow st-d-sm-block" href="#">Get a Free Account</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_mail_service_area -->

		<div id="screenshot" class="st_screenshot_area st_section_padding">
			<div class="container">
				<div class="st_section_heding_title ">
					<img src="assets/images/v11/share.png" alt="">
					<h2>All pages showcase & <br/>ui design</h2>
				</div>
				<div class="st_screenshot_warap st_screenshot_warap_v3 text-center">
					<div class="st_screenshot_tab">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-dasboard-tab" data-toggle="pill" href="#pills-dasboard" role="tab" aria-controls="pills-dasboard" aria-selected="true">DASHBOARD</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="false">PRODUCT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-pricing-tab" data-toggle="pill" href="#pills-pricing" role="tab" aria-controls="pills-pricing" aria-selected="false">PRICING</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-analysis-tab" data-toggle="pill" href="#pills-analysis" role="tab" aria-controls="pills-analysis" aria-selected="false">ANALYSIS</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-statsics-tab" data-toggle="pill" href="#pills-statsics" role="tab" aria-controls="pills-statsics" aria-selected="false">STATSICS</a>
							</li>
						</ul>
					</div>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-dasboard" role="tabpanel" aria-labelledby="pills-dasboard-tab">
							<div class="st_tab_single_img">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
						</div>
						<div class="tab-pane fade" id="pills-product" role="tabpanel" aria-labelledby="pills-product-tab">
							<div class="st_tab_single_img">
								<img src="assets/images/swiper-02.jpg" alt="">
							</div>
						</div>
						<div class="tab-pane fade" id="pills-pricing" role="tabpanel" aria-labelledby="pills-pricing-tab">
							<div class="st_tab_single_img">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
						</div>
						<div class="tab-pane fade" id="pills-analysis" role="tabpanel" aria-labelledby="pills-analysis-tab">
							<div class="st_tab_single_img">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
						</div>
						<div class="tab-pane fade" id="pills-statsics" role="tabpanel" aria-labelledby="pills-statsics-tab">
							<div class="st_tab_single_img">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_v3_screenshot_area -->

		<div class="st_content_with_img_area st_section_padding bg-polar position-relative st-overflow-hidden">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="st_content_item">
							<div class="st_sontent_wrap">
								<div class="st_content_top m-b-50">
									<img src="assets/images/v11/share.png" alt="">
									<h2 class="m-b-30">Simple description with bullet</h2>
									<p>Enthusiastically pontificate leading-edge e-services without empowered internal or "organic" sources. Distinctively unleash competitive expertise.Seamlessly innovate proactiv bandwidth without reliable testing procedures.</p>
								</div>
								<div class="st_content_bottom">
									<ul>
										<li>For Families of Teens at Suicide Risk, ‘13 Reason</li>
										<li>One Day, a Machine Will Smell Whether You’re Sick</li>
										<li>Clues to Zika Damage Might Lie in Cases of Twins</li>
										<li>Come On In. The Water’s Fine (Mostly).</li>
									</ul>
								</div>
							</div>
							<div class="st_solid_bg"></div>
							<div class="st_content_bg">
								<img src="assets/images/v11/content-bg.png" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-5 d-flex align-items-center">
						<div class="st_single_right_img wow fadeIn" data-wow-delay="0.3s">
							<img src="assets/images/v11/Group-1144@2x.png" alt="">
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_content_with_img_area -->

		<div class="st_team_area st-white-overley st_section_padding position-relative st-overflow-hidden">
			<div class="container st-over-content">
				<div class="st_section_heding_title">
					<img src="assets/images/v11/share.png" alt="">
					<h2>Creative team members</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="st_team_item st_team_item_v3">
							<div class="st_team_item_img">
								<img src="assets/images/v11/team-01.jpg" alt="">
							</div>
							<div class="st_team_content">
								<h3>Autumn Jacobi</h3>
								<p>Visual designer</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="st_team_item st_team_item_v3">
							<div class="st_team_item_img">
								<img src="assets/images/v11/team-02.jpg" alt="">
							</div>
							<div class="st_team_content">
								<h3>Keven Feil</h3>
								<p>Ui designer</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6">
						<div class="st_team_item st_team_item_v3">
							<div class="st_team_item_img">
								<img src="assets/images/v11/team-03.jpg" alt="">
							</div>
							<div class="st_team_content">
								<h3>Madaline Gibson</h3>
								<p>Ceo, Google</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 offset-lg-0 offset-md-4">
						<div class="st_team_item st_team_item_v3">
							<div class="st_team_item_img">
								<img src="assets/images/v11/team-04.jpg" alt="">
							</div>
							<div class="st_team_content">
								<h3>Dylan Moore</h3>
								<p>UX designer</p>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
			<div class="st_online_community_item st_online_community_item_v3">
				<div class="st_single_item item_1">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_2">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_3">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_4">
					<img src="assets/images/v5/02.jpg" alt="">
				</div>
				<div class="st_single_item item_5">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_6">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_7">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_8">
					<img src="assets/images/v5/06.jpg" alt="">
				</div>
				<div class="st_single_item item_9">
					<img src="assets/images/v5/06.jpg" alt="">
				</div>
				<div class="st_single_item item_10">
					<img src="assets/images/v5/05.jpg" alt="">
				</div>
				<div class="st_single_item item_11">
					<img src="assets/images/v5/04.jpg" alt="">
				</div>
				<div class="st_single_item item_12">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_13">
					<img src="assets/images/v5/06.jpg" alt="">
				</div>
				<div class="st_single_item item_14">
					<img src="assets/images/v5/04.jpg" alt="">
				</div>
			</div>
		</div><!--- End st_team_area -->

		<div class="st_cta_area st_section_padding top_0">
			<div class="container">
				<div class="st_section_heding_title">
					<h2 class="br-md-none">World wide peoples at all age connected with<br/> <strong>Saas</strong><span class="text-froly">mail</span> service</h2>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="st_info_box bg-science-blue bg-shadow-science-blue wow fadeInLeft" data-wow-delay="0.3s">
							<div class="st_info_box_icon">
								<img src="assets/images/v11/01.png" alt="">
							</div>
							<div class="st_info_box_content">
								<h3 class="text-st-white">For Business Deal</h3>
								<p class="text-st-white">Objectively iterate revolutionary interfaces after focused niches. Continually brand for the expertise after integrated</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="st_info_box bg-froly bg-shadow-froly wow fadeInRight" data-wow-delay="0.3s">
							<div class="st_info_box_icon">
								<img src="assets/images/v11/02.png" alt="">
							</div>
							<div class="st_info_box_content">
								<h3 class="text-st-white">Send Attachment file</h3>
								<p class="text-st-white">Objectively iterate revolutionary interfaces after focused niches. Continually brand for the expertise after integrated</p>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_v11_cta_area -->

		<footer id="contact" class="st_default_footer_area st_subscribe_fotter bg-polar st_section_padding bottom_0 bgi-md-none" style="background-image: url(assets/images/v11/footer-bg.png); background-size: 86% 100%; background-repeat: no-repeat; background-position: center right;">
			<div class="container">
				<div class="st_footer_top">
					<div class="row">
						<div class="col-lg-2 col-md-3 col-sm-6 m-md-b-50">
							<div class="st_fotter_heding_title">
								<h3>Links</h3>
							</div>
							<div class="st_fotter_menu text-st-primary">
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">Features</a></li>
									<li><a href="#">Doc</a></li>
									<li><a href="#">Pricing</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 m-md-b-50">
							<div class="st_fotter_heding_title">
								<h3>Support</h3>
							</div>
							<div class="st_fotter_menu text-st-primary">
								<ul>
									<li><a href="#">Stack Comunity</a></li>
									<li><a href="#">Support Docs</a></li>
									<li><a href="#">Help API Docs</a></li>
									<li><a href="#">Service Satus</a></li>
									<li><a href="#">Email Contact</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 m-md-b-50">
							<div class="st_fotter_heding_title">
								<h3>Company</h3>
							</div>
							<div class="st_fotter_menu text-st-primary">
								<ul>
									<li><a href="#">What is saas mail?</a></li>
									<li><a href="#">How it work?</a></li>
									<li><a href="#">Help API Docs</a></li>
									<li><a href="#">Service Satus</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 m-md-b-50">
							<div class="st_fotter_heding_title">
								<h3>Products</h3>
							</div>
							<div class="st_fotter_menu text-st-primary">
								<ul>
									<li><a href="#">Google Play</a></li>
									<li><a href="#">Google Drive</a></li>
									<li><a href="#">Photos</a></li>
									<li><a href="#">Youtube</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 m-md-b-50">
							<div class="st_fotter_heding_title">
								<h3>Solution</h3>
							</div>
							<div class="st_fotter_menu text-st-primary">
								<ul>
									<li><a href="#">Stack Comunity</a></li>
									<li><a href="#">Support Docs</a></li>
									<li><a href="#">Help API Docs</a></li>
									<li><a href="#">Service Satus</a></li>
									<li><a href="#">Email Contact</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-6 m-md-b-50">
							<div class="st_fotter_heding_title">
								<h3>Contact</h3>
							</div>
							<div class="st_social_icon">
								<p>info@saastrend.com</p>
								<ul>
									<li><a href="#"><i class="fab fa-facebook"></i></a></li>
									<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
									<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
					</div><!--- End row -->
				</div><!--- End st_footer_top -->
			</div><!--- End container -->

			<div class="st_footer_bottom p-t-35 p-b-30">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="st_footer_bottom_left d-md-flex d-block st-text-sm-center justify-content-lg-start justify-content-center m-md-b-30">
								<div class="st_footer_bottom_logo m-r-50 m-sm-r-none m-sm-b-30">
									<a href="#"><img src="assets/images/logo/st_logo-09.png" alt="Footer Logo"></a>
								</div>
								<div class="st_fotter_menu text-st-primary st_fotter_menu_inline">
									<ul>
										<li><a href="#">Privacy</a></li>
										<li><a href="#">Trems & condition</a></li>
										<li><a href="#">About SaasMail</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-6 d-flex justify-content-lg-end justify-content-center">
							<div class="st_copyright_content">
								<p>&copy; 2018 , All Right Reserved by <a href="#"><i class="fas fa-heart"></i> Pixiefy Team</a></p>
							</div>
						</div>
					</div><!--- End row -->
				</div><!--- End container -->
			</div><!--- End st_footer_bottom -->
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>