<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>
		
		<div id="stick-menu"></div>
		<header id="st-header-section" class="st_header_area black-alpha-bg sticky-black-alpha-bg st_header_btn">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-07.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-white">
							<div class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#about">About</a></li>
									<li><a href="#choose">why choose</a></li>
									<li><a href="#apps">apps</a></li>
									<li><a href="#contact">Contact</a></li>
									<li><a href="#" class="st_default_btn st_default_btn_extra_pd bg-lochmara bg-hover-st-aqua st_btn_round m-l-50 m-lg-l-none">SIGN IN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area st-background-wrap banner-bg-setup banner-black-overley" style="background-image: url(assets/images/v9/banner.jpg); background-size: cover;">
			<div class="container">
				<div class="row">
					<div class="col-12 d-flex justify-content-center align-items-center height-100vh-full-screen">
						<div class="st_banner_waraper">
							<div class="st_banner_content text-center">
								<h1 class="text-st-white">Make your money go further with Paypal</h1>
								<p class="text-french-grey br-sm-none">Free send money to friends & family Make your online earning online shoping & buisiness<br/> money on the way of using money go further with PayPal</p>
								<a class="st_default_btn bg-lochmara bg-hover-st-aqua st_btn_round st_default_btn_extra_pd wow bounceIn" data-wow-delay="0.3s" href="#">GET START NOW</a>
								<a class="st_default_btn st_transparent st_btn_round st_default_btn_extra_pd wow bounceIn" data-wow-delay="0.3s" href="#"><i class="fas fa-caret-right"></i> HOW IT WORK</a>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_promo_area st_promo_center">
			<div class="container">
				<div class="st_promo_column overlep-content-wrap bg-st-white">
					<div class="st_section_heding_title st-width-md-100 m-sm-b-none">
						<h2>PayPal helps over 17 million businesses with payment and credit solutions.</h2>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<a href="#" class="st_single_prom_item m-md-t-50 st_single_prom_item_5 wow fadeInUp" data-wow-delay="0.3s">
								<div class="st_promo_icon">
									<img src="assets/images/v9/promo-01.png" alt="">
								</div>
								<article class="st_promo_content">
									<h3><strong>Payments are secure</strong></h3>
									<p>Professionally evolve interdependent technology after principle-centered web-readiness quickly generate</p>
								</article>
							</a>
						</div>
						<div class="col-lg-4">
							<a href="#" class="st_single_prom_item m-md-t-50 st_single_prom_item_5 wow fadeInUp" data-wow-delay="0.4s">
								<div class="st_promo_icon">
									<img src="assets/images/v9/promo-02.png" alt="">
								</div>
								<article class="st_promo_content">
									<h3><strong>More payments choice</strong></h3>
									<p>Professionally evolve interdependent technology after principle-centered web-readiness quickly generate</p>
								</article>
							</a>
						</div>
						<div class="col-lg-4">
							<a href="#" class="st_single_prom_item m-md-t-50 st_single_prom_item_5 wow fadeInUp" data-wow-delay="0.5s">
								<div class="st_promo_icon">
									<img src="assets/images/v9/promo-03.png" alt="">
								</div>
								<article class="st_promo_content">
									<h3><strong>FnF free transection</strong></h3>
									<p>Professionally evolve interdependent technology after principle-centered web-readiness quickly generate</p>
								</article>
							</a>
						</div>
					</div><!--End row -->
				</div>
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div id="about" class="st_about_inner_page">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex align-items-center">
						<article class="st_default_content wow fadeIn" data-wow-delay="0.3s">
							<img src="assets/images/v9/share.png" alt="">
							<h2>Upto 2 millions website & provided services worldwide.</h2>
							<p>Holisticly empower alternative expertise without scalable solutions. Objectively monetize cost effective benefits through 24/365 ideas. Objectively disseminate collaborative.</p>
						</article>
					</div>
					<div class="col-lg-5 offset-lg-1 d-flex justify-content-start align-items-center">
						<div class="st_about_right_box js-tilt st-side-md-auto m-md-t-100 wow fadeIn" data-wow-delay="0.4s" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="100" data-tilt-max="5">
							<img src="assets/images/v9/man-people-office-writing.png" alt="">
							<div class="st_video_icon">
								<a class="st_popup_youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
									<img src="assets/images/v9/video-icon.png" alt="">
								</a>
							 	<div class="iq-waves">
									<div class="waves wave-1"></div>
									<div class="waves wave-2"></div>
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_v2_about_area -->

		<div class="st_work_process_area st_section_padding">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>How it work?</h2>
					<p>Distinctively e-enable cutting-edge catalysts for change without user friendly networks.</p>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="st_work_single_item wow fadeInLeft" data-wow-delay="0.3s">
							<img src="assets/images/v9/work-01.png" alt="">
							<h3>Create a new account</h3>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="st_work_single_item wow fadeInLeft" data-wow-delay="0.5s">
							<img src="assets/images/v9/work-02.png" alt="">
							<h3>Deposite money</h3>
						</div>
					</div>
					<div class="col-lg-4 last_child_none">
						<div class="st_work_single_item wow fadeInLeft" data-wow-delay="0.7s">
							<img src="assets/images/v9/work-03.png" alt="">
							<h3>Pay online services</h3>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_work_process_area -->

		<div id="choose" class="st_feature_area bg-lochmara st_section_padding">
			<div class="container">
				<div class="st_section_heding_title st_white_color">
					<img src="assets/images/v9/share-02.png" alt="">
					<h2>Why you choose & trust us among<br/> all others services</h2>
				</div>
				<div class="row d-flex">
					<div class="col-lg-7 d-xl-block d-lg-flex align-items-lg-center st_relative">
						<div class="st_feature_left_item p-lg-t-b-none p-lg-l-r-80 p-sm-all-none wow fadeInDown" data-wow-delay="0.3s">
							<img class="feature-force-large-thumb st-width-lg-100" src="assets/images/v9/feature.png" alt="">
						</div>
					</div>
					<div class="col-lg-5 d-flex align-items-center">
						<div class="st_feature_right_item">
							<div class="st_feature_content">
								<h3>Awesome interface</h3>
								<p>Objectively incubate 2.0 initiatives integrated schemas synergistically.</p>
							</div>
							<div class="st_feature_content">
								<h3>Easy money transection</h3>
								<p>Objectively incubate 2.0 initiatives integrated schemas synergistically.</p>
							</div>
							<div class="st_feature_content">
								<h3>Globally supported</h3>
								<p>Objectively incubate 2.0 initiatives integrated schemas synergistically.</p>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_feature_area -->

		<div class="st_testimonial_slider_area st_section_padding bottom_0 p-t-100 p-md-t-60 p-md-b-60">
			<div class="container">
				<div class="st_v4_testimonial_slider owl-carousel owl-theme">
					<div class="st_testimonial_waraper">
						<div class="st_testimonial_left">
							<img src="assets/images/v9/testimonial-01.png" alt="">
						</div>
						<div class="st_testimonial_right">
							<div class="st_testimonial_content">
								<h3><strong>Great Services provided all time</strong></h3>
								<p>Collaboratively revolutionize client-focused communities and low-<br/>risk high-yield interfaces. Seamlessly disseminate adaptive data<br/> through backward-compatible customer service.</p>
							</div>
							<div class="st_testimonial_client">
								<h3><strong>james anderson</strong></h3>
								<p>Ceo of nike velly</p>
							</div>
							<div id="cd-testimonial-customNav" class="cd-testimonial-control">
								<div class="cd-blog-pagination-prev custom-nav-prev"></div>
								<div class="cd-blog-pagination-next custom-nav-next"></div>
							</div>
						</div>
					</div>
					<div class="st_testimonial_waraper">
						<div class="st_testimonial_left">
							<img src="assets/images/v9/man-people-office-writing.png" alt="">
						</div>
						<div class="st_testimonial_right">
							<div class="st_testimonial_content">
								<h3><strong>Great Services all time</strong></h3>
								<p>Collaboratively revolutionize client-focused communities and low-<br/>risk high-yield interfaces. Seamlessly disseminate adaptive data<br/> through backward-compatible</p>
							</div>
							<div class="st_testimonial_client">
								<h3><strong>Alastair Cook</strong></h3>
								<p>Ceo of nike velly</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_feature_area -->

		<div class="st_client_area p-t-225 p-lg-t-150 p-b-150 p-sm-t-b-70 bg-lg-polar bgi-lg-none" style="background-image: url(assets/images/v9/client-bg.png); background-size: 100% 100%; background-position: bottom center;">
			<div class="container">
				<div class="st_section_heding_title">
					<h2><span>+2 milion</span> trusted us for our service & partnership</h2>
				</div>
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div id="apps" class="st_apps_area bg-alice-blue p-b-100 p-sm-b-50">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 d-flex align-items-center">
						<article class="st_default_content">
							<h5 class="text-lochmara">SYNC</h5>
							<h2>Always in sync no matter where you are</h2>
							<p>No matter where you are, Trello stays in sync across all of your devices.<br/> Collaborate with your team anywhere, from sitting on the bus to sitting on the beach.Working with your team very easy</p>
							<a class="st_default_btn bg-lochmara bg-hover-st-aqua st_google_paly" href="#"><img src="assets/images/v8/google-play.png" alt=""></a>
							<a class="st_default_btn bg-emerald bg-hover-st-aqua app_store" href="#"><img src="assets/images/v8/app-store.png" alt=""></a>
						</article>
					</div>
					<div class="col-lg-5">
						<div class="st_iphone_screen_mockup m-md-t-70 st-text-md-center wow fadeInRight" data-wow-delay="0.3s">
							<img src="assets/images/v8/iphone.png" alt="">
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_apps_area -->

		<div id="pricing" class="st_faq_area st_section_padding p-sm-b-30">
			<div class="container">
				<div class="st_section_heding_title">
					<img src="assets/images/v9/share.png" alt="">
					<h2>Frequently asked question<br/> about <span>paypal!</span></h2>
				</div>
				<div class="st_faq_tab_waraper">
					<div class="st_faqs_tab">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-payment" aria-selected="true">PAYMENTS</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-acount-tab" data-toggle="pill" href="#pills-acount" role="tab" aria-controls="pills-acount" aria-selected="false">ACOUNT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-transfer-tab" data-toggle="pill" href="#pills-transfer" role="tab" aria-controls="pills-transfer" aria-selected="false">TRANSFER</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-widraw-tab" data-toggle="pill" href="#pills-widraw" role="tab" aria-controls="pills-widraw" aria-selected="false">WIDRAW</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-statement-tab" data-toggle="pill" href="#pills-statement" role="tab" aria-controls="pills-statement" aria-selected="false">STATEMENTS</a>
							</li>
						</ul>
					</div>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
						<div class="tab-pane fade" id="pills-acount" role="tabpanel" aria-labelledby="pills-acount-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
						<div class="tab-pane fade" id="pills-transfer" role="tabpanel" aria-labelledby="pills-transfer-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
						<div class="tab-pane fade" id="pills-widraw" role="tabpanel" aria-labelledby="pills-widraw-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
						<div class="tab-pane fade" id="pills-statement" role="tabpanel" aria-labelledby="pills-statement-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_faq_area -->

		<footer id="contact" class="st_default_footer_area st_footer_variation bg-haiti st_subscribe_fotter">
			<div class="container">
				<div class="row st_fotter_border_bottom st_fotter_border_bottom_v2">
					<div class="col-xl-3 col-lg-6 d-flex d-lg-flex d-sm-block d-xs-block justify-content-start align-items-center">
						<div class="st_footer_logo_warap m-b-none">
							<a href="#"><img class="m-b-none" src="assets/images/logo/fotter-logo-05.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 order-xl-3 d-flex d-lg-flex justify-content-end align-items-cente d-sm-block d-xs-block m-md-t-80 m-sm-t-50 st-font-sm-left">
						<div class="st_social_icon text-st-white">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fab fa-git-square"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12 d-flex d-lg-flex d-sm-block d-xs-block justify-content-center align-items-center m-lg-t-80 m-sm-t-50">
						<div class="st_fotter_menu text-st-white st_fotter_menu_inline">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Why Choose</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!--- End row -->
				<div class="st_copyright_content text-center p-b-60">
					<p>All Right Reserved by <a href="#" class="text-st-white">Pixiefy</a> Copyright &copy;2018</p>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->



		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->
		
	</body>
</html>