<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>

		<div id="stick-menu"></div>
		<header id="st-header-section" class="st_header_area bg-st-white p-t-b-15 sticky-padding-10 sticky-bg-st-white st_header_btn">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-10.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-science-blue">
							<div class="st_menu">
								<ul>
									<li><a href="#" class="st_default_btn rgba-science-blue bg-hover-st-aqua text-hover-st-white text-science-blue text-capitalize st_btn_round p-t-b-13 st-font-13"><span><i class="fas fa-cloud"></i></span>Go to your Drive</a></li>
								</ul>
							</div>
						</div>
						
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area bg-polar text-center m-md-b-100 m-sm-b-50">
			<div class="st_banner_with_content st-d-md-none" style="background-image: url(assets/images/v12/banner-bg.png);">
				<div class="st_banner_img_01 wow fadeInLeft" data-wow-delay="0.3s">
					<img src="assets/images/v12/banner-img-01.png" alt="">
				</div>
				<div class="st_banner_img_02">
					<img class="wow fadeInUp" data-wow-delay="0.3s" src="assets/images/v12/banner-img-03.png" alt="">
				</div>
				<div class="st_banner_img_03 wow fadeInRight" data-wow-delay="0.3s">
					<img src="assets/images/v12/banner-img-02.png" alt="">
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-12 d-flex justify-content-center align-items-center height-100vh st-height-md-inherit">
						<div class="st_banner_waraper m-t-120">
							<div class="st_banner_content">
								<h1 class="m-b-20 font-weight-light">Increase productivity<br/> with <strong>Saas<span class="text-science-blue">Drive</span></strong> cloud Business</h1>
								<p>Credibly grow diverse content via 24/365 resources quickly exploite.</p>
								<a class="st_default_btn bg-science-blue bg-hover-aqua st_btn_round st_default_btn_extra_pd text-capitalize" href="#">Create a Free SaasDrive Account</a>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->


		<div class="st_feature_area p-b-85">
			<div class="container">
				<div class="st_section_heding_title light">
					<p>Welcome to Saas Drive</p>
					<h2> Best <strong>Saas<span class="text-science-blue">Drive</span></strong> cloud Business</h2>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="st_simple_feature_item text-center wow fadeInUp" data-wow-delay="0.3s">
							<img src="assets/images/v12/feature-01.png" alt="">
							<p>Add any file from your device</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="st_simple_feature_item text-center wow fadeInUp" data-wow-delay="0.5s">
							<img src="assets/images/v12/feature-02.png" alt="">
							<p>Share with your friends & family</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="st_simple_feature_item text-center wow fadeInUp" data-wow-delay="0.3s">
							<img src="assets/images/v12/feature-03.png" alt="">
							<p>Customize your file easily</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="st_simple_feature_item text-center wow fadeInUp" data-wow-delay="0.5s">
							<img src="assets/images/v12/feature-04.png" alt="">
							<p>Awesome file manager system</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="st_simple_feature_item text-center wow fadeInUp" data-wow-delay="0.3s">
							<img src="assets/images/v12/feature-05.png" alt="">
							<p>Grow your business very fast</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="st_simple_feature_item text-center wow fadeInUp" data-wow-delay="0.5s">
							<img src="assets/images/v12/feature-06.png" alt="">
							<p>Secure file system</p>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_v12_feature_area -->


		<div id="apps" class="st_apps_area bg-polar p-t-175 p-b-240 position-relative p-lg-t-120 p-lg-b-150">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 d-flex align-items-center">
						<article class="st_default_content">
							<h5>Download latest version</h5>
							<h2>Download our latest <strong>Saas<span class="text-science-blue">Drive</span></strong></h2>
							<p>No matter where you are, Trello stays in sync across all of your devices. Collaborate with your team anywhere.</p>
							<a class="st_default_btn bg-science-blue bg-hover-st-aqua st_google_paly" href="#"><img src="assets/images/v12/google-play.png" alt=""></a>
							<a class="st_default_btn bg-st-white bg-hover-st-aqua app_store st_btn_medium_shadow" href="#"><img src="assets/images/v12/app-store.png" alt=""></a>
						</article>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
			<div class="st-right-full-half st-d-md-none wow fadeInUp" data-wow-delay="0.3s">
				<img src="assets/images/v12/single-img.png" alt="">
			</div>
		</div><!--- End st_apps_area -->

		<div id="about" class="st_about_inner_page st_v12 st_section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 st_relative">
						<div class="st_about_bubbles">
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/01.png" alt="">
							</div>
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/02.png" alt="">
							</div>
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/03.png" alt="">
							</div>
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/03.png" alt="">
							</div>
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/04.png" alt="">
							</div>
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/04.png" alt="">
							</div>
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/05.png" alt="">
							</div>
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/06.png" alt="">
							</div>
							<div class="st_about_bubbles_logo">
								<img src="assets/images/v12/07.png" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-6 d-flex justify-content-center align-items-center">
						<article class="st_default_content">
							<h5>Our valuable partner work with us</h5>
							<h2>Helps over 17 million <strong>companies</strong></h2>
							<p>No matter where you are, Trello stays in sync across all of your devices. Collaborate with your team anywhere.</p>
							<p> Appropriately myocardinate goal-oriented data for team building content. Dramatically benchmark open-source infrastructures</p>
						</article>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_v2_about_area -->

		<div id="download" class="st_download_area_v2 bg-md-polar bgi-md-none p-md-b-none p-b-none">
			<div class="container">
				<div class="st_download_content_wrapper st_section_padding js-tilt" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="200" data-tilt-max="5" style="background-image: url(assets/images/st-cta-bg.png)">
					<h2 class="m-b-45 st-font-34 st-font-md-22 br-sm-none">Ready to Start a journey with us & keep you file<br/> secure in <strong><span class="text-science-blue">Saas</span>Drive.</strong></h2>
					<a class="st_default_btn rgba-science-blue bg-hover-st-aqua text-hover-st-white text-science-blue text-capitalize st_btn_round st-font-13 min-w-175" href="#">Sign in</a>
					<a class="st_default_btn bg-science-blue text-st-white bg-hover-st-aqua st_btn_round min-w-175" href="#">Register</a>
				</div>
			</div><!--- End container -->
		</div><!--- End st_cta_area -->

		<section id="pricing" class="st_pricing_table_area text-center st_section_padding">
			<div class="container">
				<div class="st_section_heding_title light">
					<p>SaasDrive pricing</p>
					<h2>Our adorable pricing plan</h2>
				</div>
				<div class="st-pricing-container st-pricing-btn-style-wrapper">
					<div class="row">
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInUp" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">Free</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-science-blue st_btn_round " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInUp" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>STANDARD</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$80</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent  text-science-blue st_btn_round " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInUp" data-wow-delay="0.7s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$50</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent  text-science-blue st_btn_round " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</section><!--- End st_pricing_table_area -->

		<footer id="contact" class="st_default_footer_area st_footer_variation bg-polar st_subscribe_fotter">
			<div class="container">
				<div class="row st_fotter_border_bottom st_fotter_border_bottom_v2 st_fotter_border_bottom_v3">
					<div class="col-xl-3 col-lg-6 d-flex d-lg-flex d-sm-block d-xs-block justify-content-start align-items-center">
						<div class="st_footer_logo_warap m-b-none">
							<a href="#"><img class="m-b-none" src="assets/images/logo/fotter-logo-07.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 order-xl-3 d-flex d-lg-flex justify-content-end align-items-cente d-sm-block d-xs-block m-md-t-80 m-sm-t-50 st-font-sm-left">
						<div class="st_social_icon">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fab fa-git-square"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12 d-flex d-lg-flex d-sm-block d-xs-block justify-content-center align-items-center m-lg-t-80 m-sm-t-50">
						<div class="st_fotter_menu st_fotter_menu_inline">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Why Choose</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!--- End row -->
				<div class="st_copyright_content text-center p-b-60">
					<p>All Right Reserved by <a href="#" class="text-science-blue">Pixiefy</a> Copyright &copy;2018</p>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>