<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>
		
		<div id="stick-menu"></div>
		<header class="st_header_area sticky-aqua-gradient">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-02.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper">
							<div class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#feature">Features</a></li>
									<li><a href="#about">About</a></li>
									<li><a href="#download">download</a></li>
									<li><a href="#testimonial">Testimonial</a></li>
									<li><a href="#table">Table</a></li>
									<li><a href="#contact">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area st_banner_default st_banner_aqua_gradient">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 d-flex justify-content-start align-items-center height-100vh st-height-md-inherit">
						<div class="st_banner_waraper m-md-t-b-150 st-text-md-center">
							<div class="st_banner_content st_banner_content_v2 align_item">
								<h1 class="text-st-white st-font-md-34"><span>SaasApp</span><br/> Best saas landing page organise app</h1>
								<p>Continually seize enterprise-wide web-readiness through an integrated  for change.</p>
								<a class="st_default_btn bg-st-aqua" href="#">DOWNLOAD NOW</a>
								<a class="st_default_btn st_transparent" href="#">EXPLORE FEATURE</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 d-flex align-items-center justify-content-center height-100vh st-d-md-none">
						<div class="st_banner_sidebar">
							<img src="assets/images/v13/mobile.png" alt="">
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
			<div class="st_banner_shape">
				<img src="assets/images/v13/shape.png" alt="">
			</div>
		</section><!--End st_banner_area -->

		<div class="st_client_area st_section_padding">
			<div class="container">
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div class="st_promo_area st_section_padding st_v11 st_promo_center top_0">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Working process only Three Simple step</h2>
					<p>Enthusiastically exploit interactive niche markets after globally underwhelm customized</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-01.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Modern interface & design</h3>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-02.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Instant messaging & mail</h3>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-03.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Compability desktop & mobile</h3>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div id="feature" class="st_section_padding bg-polar">
			<div class="container">
				<div class="st_section_heding_title">
					<h4 class="text-st-aqua st-fonts-poppins">FEATURE</h4>
					<h2>Awesome Features</h2>
				</div>
				<div class="tab-content">
					<div class="st_custom-tab">
						<ul class="nav nav-pills" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="true"><img src="assets/images/v2/feature-03.png" alt=""><span>Recovery Function</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false"><img src="assets/images/v2/feature-01.png" alt=""><span>Retina Display</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><img src="assets/images/v2/feature-02.png" alt=""><span>Unlimited Data</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-music-tab" data-toggle="pill" href="#pills-music" role="tab" aria-controls="pills-music" aria-selected="false"><img src="assets/images/v2/feature-04.png" alt=""><span>Bufferless Music</span></a>
							</li>
						</ul>
					</div>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
							<div class="st_tab_box">
								<div class="st_tab_single_img">
									<img src="assets/images/tabs/3.png" alt="">
								</div>
								<div class="st_tab_content">
									<h3>Recovery Function</h3>
									<p>Enthusiastically exploit interactive niche markets after enterprise-wide internal or "organic" sources. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
									<p>Completely drive process cent potential without information convenien.</p>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="st_tab_box">
								<div class="st_tab_single_img">
									<img src="assets/images/tabs/1.png" alt="">
								</div>
								<div class="st_tab_content">
									<h3>Great Retina Support</h3>
									<p>Enthusiastically exploit interactive niche markets after enterprise-wide internal or "organic" sources. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
									<p>Completely drive process cent potential without information convenien.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<div class="st_tab_box">
								<div class="st_tab_single_img">
									<img src="assets/images/tabs/2.png" alt="">
								</div>
								<div class="st_tab_content">
									<h3>Unlimited Data</h3>
									<p>Enthusiastically exploit interactive niche markets after enterprise-wide internal or "organic" sources. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
									<p>Completely drive process cent potential without information convenien.</p>
								</div>
							</div>
						</div>
						
						<div class="tab-pane fade" id="pills-music" role="tabpanel" aria-labelledby="pills-music-tab">
							<div class="st_tab_box">
								<div class="st_tab_single_img">
									<img src="assets/images/tabs/4.png" alt="">
								</div>
								<div class="st_tab_content">
									<h3>Bufferless Music</h3>
									<p>Enthusiastically exploit interactive niche markets after enterprise-wide internal or "organic" sources. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
									<p>Completely drive process cent potential without information convenien.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_v2_feature_area -->

		<div id="about" class="st_about_inner_page st_v13 st_section_padding st-overflow-hidden">
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 d-flex align-items-center">
							<article class="st_default_content">
								<h5 class="text-st-aqua">TIMELINE</h5>
								<h2>Great Timeline Analysis for view</h2>
								<p>Proactively reinvent inexpensive e-commerce for parallel relationships Distinctively brand adaptive innovation after state of the art wit a new new excited randomly alignments.</p>
								<a class="st_default_btn st_google_paly aqua-gredient-background" href="#"><img src="assets/images/v12/google-play.png" alt=""></a>
								<a class="st_default_btn app_store bg-st-white st_btn_medium_shadow" href="#"><img src="assets/images/v12/app-store.png" alt=""></a>
							</article>
						</div>
						<div class="col-lg-6 d-flex justify-content-center">
							<div class="st_about_right_item m-md-t-30 p-l-40">
								<img src="assets/images/v13/about.png" alt="">
								<div class="st_about_solid_bg"></div>
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 d-flex align-items-center order-lg-2">
							<article class="st_default_content">
								<h5 class="text-st-aqua">TIMELINE</h5>
								<h2>Great Timeline Analysis for view</h2>
								<p>Proactively reinvent inexpensive e-commerce for parallel relationships Distinctively brand adaptive innovation after state of the art wit a new new excited randomly alignments.</p>
							</article>
						</div>
						<div class="col-lg-6 d-flex justify-content-center">
							<div class="st_about_right_item m-md-t-30">
								<img src="assets/images/v13/about.png" alt="">
								<div class="st_about_image_bg">
									<img src="assets/images/v13/mobile-bg.png" alt="">
								</div>
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
		</div><!--End st_v2_about_area -->

		<div id="download" class="st_download_area aqua-gredient-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="st_download_content_waraper align_item p-t-200 p-md-t-100 p-sm-b-50 p-sm-t-50 p-b-100 st-text-md-center">
							<h2 class="text-st-white br-sm-none">Ready to Start Download this Awesome<br/> App for your Busineess?</h2>
							<a class="st_default_btn bg-st-aqua" href="#">DOWNLOAD NOW</a>
							<a class="st_default_btn st_transparent" href="#">EXPLORE FEATURE</a>
						</div>
						<div class="st_stats_content_item p-b-150 p-md-b-100 p-sm-b-50 st-text-md-center">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="st_stats_content">
										<h2 class="st-font-48 st-font-sm-30 m-b-10 text-st-white">100M</h2>
										<p class="text-st-white">conversation enable</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="st_stats_content">
										<h2 class="st-font-48 st-font-sm-30 m-b-10 text-st-white">99.99%</h2>
										<p class="text-st-white">network uptime</p>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-4">
									<div class="st_stats_content">
										<h2 class="st-font-48 st-font-sm-30 m-b-10 text-st-white">24/7</h2>
										<p class="text-st-white">support</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
					</div>
					<div class="col-lg-4 d-flex justify-content-end align-items-center st-d-md-none">
						<div class="st_v2_download_ingle_img js-tilt" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="100" data-tilt-max="5">
							<img src="assets/images/v13/mobile.png" alt="">
						</div>
					</div>
				</div>
			</div><!--End container -->
			<div class="st_shape">
				<div class="st_single_shape_01"></div>
				<div class="st_single_shape_02"></div>
			</div>
		</div><!--End st_v2_download_area -->

		<div id="testimonial" class="st_testimonial_area st_section_padding">
			<div class="container">
				<div class="st_section_heding_title">
					<h4 class="text-st-aqua">TESTIMONIAL</h4>
					<h2>User Review & Feedback</h2>
				</div>
				<div class="st_v2_testimonial_slider st_slider_bottom_dots owl-carousel owl-theme">
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-02.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>jahanara</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-02.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>jahanara</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_v2_testimonial_area -->

		<div class="st_swiper_area st_section_padding bg-polar position-relative st-overflow-hidden">
			<div class="container">
				<div class="st_section_heding_title">
					<h4 class="text-st-aqua">SCREENSHOT</h4>
					<h2>App Screenshot & Screen</h2>
				</div>
				<div class="st_swiper_slider_center_frame">
					<div class="st_swiper_frame">
						<img src="assets/images/v13/mobile-frame.png" alt="">
					</div>
					<div id="st_screenshot_center_frame" class="st_screenshot_center_frame">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-01.png" alt="">
							 </div>
							 <div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-02.png" alt="">
							 </div>
							 <div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-05.png" alt="">
							 </div>
							 <div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-01.png" alt="">
							 </div>
							 <div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-04.png" alt="">
							 </div>
							 <div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-01.png" alt="">
							 </div>
							 <div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-01.png" alt="">
							 </div>
							 <div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-02.png" alt="">
							 </div>
							 <div class="swiper-slide">
							 	<img src="assets/images/v13/swiper-03.png" alt="">
							 </div>
						</div>
					</div>
					<div class="swiper-button-prev">
						<i class="fas fa-angle-left"></i>
					</div>
					<div class="swiper-button-next">
						<i class="fas fa-angle-right"></i>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_v12_swiper_area -->


		<div id="table" class="st_pricing_table_area st_section_padding p-md-b-none">
			<div class="container">
				<div class="st_section_heding_title">
					<h4 class="text-st-aqua st-fonts-poppins">PRICING</h4>
					<h2>App Pricing Table</h2>
				</div>
				<div class="row d-flex">
					<div class="col-lg-4 col-md-6 order-xl-1 order-lg-1 order-sm-1 m-sm-b-50">
						<div class="st_pricing_packges">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name">BASIC</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$89</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 order-xl-3 order-lg-3 order-sm-2 m-sm-b-50">
						<div class="st_pricing_packges">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name pink">ELITE</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$89</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 order-xl-2 order-lg-2 order-sm-3 m-md-t-50 m-sm-t-none offset-lg-0 offset-md-3 m-sm-b-50">
						<div class="st_pricing_packges st_pricing_bg aqua-pricing-bg">
							<div class="st_pricing_packges_header">
								<div class="st_pack_name yellow">PREMIUM</div>
								<div class="st_pack_year">Yearly Package</div>
							</div>
							<div class="st_packges_body">
								<div class="pack_price">
									<h2>$156</h2>
								</div>
								<ul class="st_pack_feature_list">
									<li>12 month Support</li>
									<li>5 user Access</li>
									<li>Unlimited Bandwith</li>
									<li>24x7 Customer Support</li>
								</ul>
							</div>
							<div class="st_pack_footer">
								<a class="st_default_btn st_transparent" href="#">BUY NOW</a>
							</div>
							<div class="st_most_popular">
								Most Popular
							</div>	
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End container -->
			<div class="st_pricing_table_shape">
				<img src="assets/images/v2/pricing-shape.png" alt="">
			</div>
		</div><!-- End st_v2_pricing_table_area -->

		<div id="contact" class="st_contact_area st_section_padding bg-polar top_0 p-md-t-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="st_contact_hedding_title">
							<h2>Frequently ask Question</h2>
							<p>Dynamically unleash client-centric web services and market</p>
						</div>
						<div class="st_accordion_item">
							<div class="accordion" id="st_accordion_waraper">
								<div class="card card__active">
									<div class="card-header" id="headingOne">
										<a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<span class="st_accordion_icon_1">
												<i class="fas fa-shield-alt"></i>
											</span>
											<h3>Is saastrend Safer to use with my account?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											<span class="st_accordion_icon_1">
												<i class="fas fa-paw"></i>
											</span>
											<h3>How our saaastrend work?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
											<span class="st_accordion_icon_1">
												<i class="fas fa-cloud-download-alt"></i>
											</span>
											<h3>How to disable main function?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFour">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
											<span class="st_accordion_icon_1">
												<i class="fas fa-heartbeat"></i>
											</span>
											<h3>What is the main process open account?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFive">
										<a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
											<span class="st_accordion_icon_1">
												<i class="fab fa-meetup"></i>
											</span>
											<h3>How to make unlimited data entry?</h3>
											<span class="st_st_accordion_icon_2">
												<i class="fas fa-plus"></i>
											</span>
										</a>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#st_accordion_waraper">
										<div class="card-body">
											Professionally drive extensive growth strategies and B2B ROI. Holisticly productivate backward-compatible partnerships after user.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="st_contact_hedding_title m-md-t-100">
							<h2>Send us a Quick Message</h2>
							<p>Dynamically unleash client-centric web services and market</p>
						</div>
						<div class="st_contact_waraper">
							<form class="st_contact_form_box st-contact-form-init" action="assets/php/contact.php" method="POST">
								<div class="st_contact_form">
									<div class="st_input_item">
										<input type="text" name="name" placeholder="Name">
									</div>
									<div class="st_input_item">
										<input  type="text" name="email" placeholder="Email address">
									</div>
								</div>
								<div class="st_input_item">
									<textarea name="message" placeholder="Textarea"></textarea>
								</div>
								<div class="st_input_item">
									<input type="submit" value="SEND YOUR MESSAGE TO US">
								</div>
							</form>
							<div class="st-form-info"></div>
						</div>
					</div>
				</div><!-- End row -->
			</div><!-- End container -->
		</div><!-- End st_contact_area -->

		<div class="st_news_letter_area bg-haiti st_section_100_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="st_news_left_item text-left st-text-md-center m-md-b-40">
							<h2>Start you 14 day <span>Free trial</span> today !</h2>
							<p>Compellingly re-engineer installed base intellectual capital</p>
						</div>
					</div>
					<div class="col-lg-5 align-items-center d-flex flex-wrap">
						<div class="st_subscribe">
							<form id="st-subscription-form" class="st-form st-subscription-form">
								<input id="st-subscription-email" class="st_subscribe_email st_subscribe_email_transparent" placeholder="Enter your email address" required="required" name="EMAIL" type="email">
								<input class="st_subscribe_btn bg-st-aqua" value="subscribe" type="submit">
								<div class="st_subscription_info">Please enter a value</div>
							</form>
							<label for="st-subscription-email" class="st-subscription-info"></label>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_single_area -->


		<footer id="contact" class="st_default_footer_area st_footer_variation bg-polar st_subscribe_fotter">
			<div class="container">
				<div class="row st_fotter_border_bottom st_fotter_border_bottom_v2 st_fotter_border_bottom_v3">

					<div class="col-xl-3 col-lg-6 d-flex d-lg-flex d-sm-block d-xs-block justify-content-start align-items-center">
						<div class="st_footer_logo_warap m-b-none">
							<a href="#"><img class="m-b-none" src="assets/images/logo/fotter-logo-09.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 order-xl-3 d-flex d-lg-flex justify-content-end align-items-cente d-sm-block d-xs-block m-md-t-80 m-sm-t-50 st-font-sm-left">
						<a class="st_default_btn p-t-b-10 p-l-r-13 min-w-115 m-r-25 st_google_paly aqua-gredient-background" href="#"><img src="assets/images/v12/google-play.png" alt=""></a>
						<a class="st_default_btn p-t-b-10 p-l-r-13 min-w-115 app_store bg-st-white st_btn_medium_shadow" href="#"><img src="assets/images/v12/app-store.png" alt=""></a>
					</div>
					<div class="col-xl-6 col-lg-12 d-flex d-lg-flex d-sm-block d-xs-block justify-content-center align-items-center m-lg-t-80 m-sm-t-50">
						<div class="st_fotter_menu st_fotter_menu_inline">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Why Choose</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!--- End row -->
				<div class="st_copyright_content text-center p-b-60">
					<p>All Right Reserved by <a href="#" class="text-science-blue">Pixiefy</a> Copyright &copy;2018</p>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->



		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>