<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>

		<div id="stick-menu"></div>
		<header class="st_header_area sticky-aqua-gradient">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-02.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper">
							<nav class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#feature">Features</a></li>
									<li><a href="#download">download</a></li>
									<li><a href="#testimonial">Testimoinal</a></li>
									<li><a href="#screenshot">Screenshots</a></li>
									<li><a href="#table">Pricing</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area st_after_none left-angle-shape left-angle-shape-2 bg-picton-blue">
			<div class="container position-relative">
				<div class="row">
					<div class="col-lg-7 d-flex align-items-center height-100vh">
						<div class="st_banner_waraper text-left m-t-none">
							<div class="st_banner_content m-b-none">
								<h1 class="m-b-35 font-weight-light st-line-height-1-5 text-st-white st-font-48 st-font-sm-34 br-sm-none">Take Photos.<br/>Earn Smiles,Get Rewards.</h1>
								<a class="st_default_btn bg-geraldine font-weight-bold" href="#">GET STARTED NOW</a>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
			<div class="st_banner_sidebar_scenc">
				<img src="assets/images/v21/banner-img.png" alt="">
			</div>
		</section><!--End st_banner_area -->

		<div class="st_client_area st_section_padding top_100">
			<div class="container">
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div class="st_rewards_area text-center p-b-200 st-overflow-hidden p-sm-b-80">
			<div class="container">
				<div class="st_section_heding_title">
					<h2><strong>Turn everyday purchases into cash rewards.</strong></h2>
					<p>Swipe, tap, scan — if you have a debit or credit card, you’re set to earn rewards with every purchase. It’s that easy.</p>
				</div>
				<div class="row">
					<div class="col-lg-8 m-auto">
						<div class="st_rewards_thumb d-inline-block">
							<img class="reward-thumbnail" src="assets/images/v21/iphonex.png" alt="">
							<div class="st_rewards_icon">
								<div class="st_rewards_single_icon wow rewards_icon_1">
									<img src="assets/images/v21/icons/mojo.png" alt="">
								</div>
								<div class="st_rewards_single_icon wow rewards_icon_2">
									<img src="assets/images/v21/icons/google-earth.png" alt="">
								</div>
								<div class="st_rewards_single_icon wow rewards_icon_3">
									<img src="assets/images/v21/icons/creative-cloud.png" alt="">
								</div>
								<div class="st_rewards_single_icon wow rewards_icon_4">
									<img src="assets/images/v21/icons/fi.png" alt="">
								</div>
								<div class="st_rewards_single_icon wow rewards_icon_5">
									<img src="assets/images/v21/icons/u-torrent.png" alt="">
								</div>
								<div class="st_rewards_single_icon wow rewards_icon_6">
									<img src="assets/images/v21/icons/opera.png" alt="">
								</div>
								<div class="st_rewards_single_icon wow rewards_icon_7">
									<img src="assets/images/v21/icons/google-play.png" alt="">
								</div>
								<div class="st_rewards_single_icon wow rewards_icon_8">
									<img src="assets/images/v21/icons/sketch.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_rewards_area -->

		<div class="st_work_area st_work_2 p-t-80 p-b-150">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 offset-lg-1">
						<div class="st_section_heding_img m-b-100">
							<h2 class="text-white st-font-34"><strong>How it work?</strong></h2>
						</div>
						<div class="st_work_content">
							<h3 class="st-font-24"><strong>Link your debit and credit cards</strong></h3>
							<p>Whenever you spend with any of your linked  we automatically give points.</p>
						</div>
						<div class="st_work_content">
							<h3 class="st-font-24"><strong>Link your debit and credit cards</strong></h3>
							<p>Whenever you spend with any of your linked  we automatically give you points.</p>
						</div>
						<div class="st_work_content">
							<h3 class="st-font-24"><strong>Link your debit and credit cards</strong></h3>
							<p>Whenever you spend with any of your linked  we automatically give you points.</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 offset-lg-1 d-flex justify-content-center align-items-end">
						<div class="st_work_right_thumb">
							<div class="st_work_right_thumb_big">
								<img src="assets/images/v21/work-03.png" alt="">
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_work_area -->

		<section class="st_testimonial_area st_section_padding st-position-wrap st_testimonial_slider_5">
			<div class="container">
				<div class="st_section_heding_title">
					<h2><strong>What client say about our app</strong></h2>
				</div>
				<div class="st_testimonial_slider_v3 owl-carousel owl-theme">
					<div class="st_testimonial_item text-center">
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-01.jpg" alt="">
							</div>
						</div>
						<div class="st_testimonial_content">
							<p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
							<h3>Jhon Certer, <span>San francisco</span></h3>
						</div>
						<div class="st_quote">
							<img src="assets/images/v5/quote.png" alt="">
						</div>
					</div>
					<div class="st_testimonial_item text-center">
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-02.jpg" alt="">
							</div>
						</div>
						<div class="st_testimonial_content">
							<p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
							<h3>Jhon Certer, <span>San francisco</span></h3>
						</div>
						<div class="st_quote">
							<img src="assets/images/v5/quote.png" alt="">
						</div>
					</div>
					<div class="st_testimonial_item text-center">
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-03.jpg" alt="">
							</div>
						</div>
						<div class="st_testimonial_content">
							<p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
							<h3>Jhon Certer, <span>San francisco</span></h3>
						</div>
						<div class="st_quote">
							<img src="assets/images/v5/quote.png" alt="">
						</div>
					</div>
				</div>
			</div><!--- End container -->
			<div class="st_online_community_item st_online_community_item_v4">
				<div class="st_single_item item_1">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_2">
					<img src="assets/images/v5/02.jpg" alt="">
				</div>
				<div class="st_single_item item_3">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_4">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_5">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_6">
					<img src="assets/images/v5/05.jpg" alt="">
				</div>
				<div class="st_single_item item_7">
					<img src="assets/images/v5/04.jpg" alt="">
				</div>
				<div class="st_single_item item_8">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
			</div>
		</section><!--- End st_testimonial_area -->

		<div class="st_apps_area st_apps_before_after st_apps_before_after_2 position-relative st-overflow-hidden p-t-40 p-b-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="st_iphone_screen_mockup m-md-t-50 st-text-md-center wow fadeInRight" data-wow-delay="0.5s">
							<img src="assets/images/v21/iphonex.png" alt="">
						</div>
					</div>
					<div class="col-lg-7 d-flex align-items-center offset-lg-1">
						<article class="st_default_content p-t-90 wow fadeInLeft p-l-25" data-wow-delay="0.3s">
							<div class="st_default_content_icon m-b-10">
								<img src="assets/images/v21/icon.png" alt="">
							</div>
							<h2><strong>Download Latest Version Konotis App</strong></h2>
							<p>Now available for both Andriod & IOS version</p>
							<a class="st_default_btn bg-white bg-hover-st-aqua st_google_paly" href="#"><img src="assets/images/v21/google-play.png" alt=""></a>
							<a class="st_default_btn bg-geraldine bg-hover-st-aqua app_store" href="#"><img src="assets/images/v8/app-store.png" alt=""></a>
						</article>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_apps_area -->

		<footer class="st_default_footer_area polar-gradient-background p-t-130 p-b-100 p-sm-t-75">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Links</h3>
								</div>
								<div class="st_fotter_menu">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Support</h3>
								</div>
								<div class="st_fotter_menu">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Contact</h3>
								</div>
								<div class="st_social_icon">
									<p>info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->
		
	</body>
</html>