<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>
		
		<div id="stick-menu"></div>
		<header id="st-header-section" class="st_header_area bg-st-white sticky-bg-st-white st_header_btn sticky-box-shadow">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-05.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-chambray">
							<div class="st_menu text-hover-chambray">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#about">About</a></li>
									<li><a href="#download">Download</a></li>
									<li><a href="#pricing">pricing</a></li>
									<li><a href="#contact">Contact</a></li>
									<li><a href="#" class="st_default_btn bg-st-pink bg-hover-gigas st_btn_round m-l-50 m-lg-l-none">SIGN IN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area bg-chambray margin-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 d-flex justify-content-start align-items-center height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_waraper m-t-none wow fadeInLeft" data-wow-delay="0.3s">
							<div class="st_banner_content align_item margin_0 m-md-t-200 m-xs-t-150 st-text-md-center">
								<span class="st_skype">SAASSKYPE</span>
								<h1 class="text-st-white font-weight-light br-md-none st-font-sm-28">Fast, secure,<br/> easy work & smooth<br/> collaboratively</h1>
								<p class="text-st-lavender">Continually seize enterprise-wide web-readiness through integrated catalysts for change.</p>
								<a class="st_default_btn bg-st-pink st_btn_round" href="#">DOWNLOAD NOW</a>
								<a class="st_default_btn st_transparent st_btn_round" href="#">CONVERSATION</a>
							</div>
						</div>
					</div>
					<div class="col-lg-7 st_relative d-flex align-items-center justify-content-end height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_sidebar st-banner-overlap js-tilt m-md-t-75 wow fadeInRight" data-wow-delay="0.5s">
							<img src="assets/images/v6/mackbook-pro.png" alt="">
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
			<div class="st_header_shape">
				<img src="assets/images/v6/st_shape.png" alt="">
			</div>
		</section><!--End st_banner_area -->

		<div id="about" class="st_about_inner_page p-t-150 position-relative p-sm-t-100">
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 d-flex justify-content-start align-items-center">
							<article class="st_default_content st-text-md-center m-md-b-50 wow fadeInLeft" data-wow-delay="0.3s">
								<img src="assets/images/v6/share.png" alt="">
								<h2>Always In sync across all of<br/> your platform.</h2>
								<p>Holisticly empower alternative expertise without scalable solutions. Objectively monetize cost effective benefits through 24/365 ideas. Objectively disseminate collaborative.</p>
							</article>
						</div>
						<div class="col-lg-5 offset-lg-1 d-flex justify-content-center align-items-center">
							<div class="st_dotted_bg wow fadeInRight" data-wow-delay="0.5s">
								<div class="st_dotted_border">
									<div class="st_solid_bg">
										<div class="st_s">s</div>
									</div>
								</div>
								<div class="st_icon_item">
									<div class="st_about_icon icon_01">
										<i class="fas fa-phone"></i>
									</div>
									<div class="st_about_icon icon_02">
										<i class="fas fa-video"></i>
									</div>
									<div class="st_about_icon icon_03">
										<i class="fas fa-comments"></i>
									</div>
								</div>
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 d-flex justify-content-start align-items-center order-lg-2">
							<article class="st_default_content st-text-md-center m-md-b-50 wow fadeInRight" data-wow-delay="0.3s">
								<img src="assets/images/v6/share.png" alt="">
								<h2>Always In sync across all of<br/> your platform.</h2>
								<p>Holisticly empower alternative expertise without scalable solutions. Objectively monetize cost effective benefits through 24/365 ideas. Objectively disseminate collaborative.</p>
							</article>
						</div>
						<div class="col-lg-6 d-flex justify-content-center align-items-center">
							<div class="st_about_right_img m-r-50 m-md-r-none wow fadeInLeft" data-wow-delay="0.5s">
								<img src="assets/images/v6/about-img.jpg" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_single_img">
				<img src="assets/images/v6/about-side-img.png" alt="">
			</div>
		</div><!--End st_about_inner_page -->

		<div class="st_inner_feature_area st_section_padding bg-titan-white">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 d-flex justify-content-center align-items-center">
						<div class="st_default_content m-md-b-75 p-r-15 word-break-normal">
							<img src="assets/images/v6/share.png" alt="">
							<h2>Awesome Saaskype Features.</h2>
							<p>Holisticly empower alternative expertise without scalable solutions. Objectively monetize cost effective benefits.</p>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="st_inner_feature_item">
									<div class="st_inner_feature_icon text-medium-purple rgba-medium-purple">
										<i class="fas fa-phone"></i>
									</div>
									<div class="st_inner_feature_content">
										<h3>Free Caliing Service</h3>
										<p>Completely grow focused users for an erse content comptently.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="st_inner_feature_item">
									<div class="st_inner_feature_icon text-emerald rgba-emerald">
										<i class="fas fa-video"></i>
									</div>
									<div class="st_inner_feature_content">
										<h3>Unimited Video Call</h3>
										<p>Completely grow focused users for an erse content comptently.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="st_inner_feature_item">
									<div class="st_inner_feature_icon text-st-orange rgba-st-orange">
										<i class="fas fa-comments"></i>
									</div>
									<div class="st_inner_feature_content">
										<h3>Encrypted Chat</h3>
										<p>Completely grow focused users for an erse content comptently.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="st_inner_feature_item">
									<div class="st_inner_feature_icon text-gigas rgba-gigas">
										<i class="fas fa-camera"></i>
									</div>
									<div class="st_inner_feature_content">
										<h3>Camera filter</h3>
										<p>Completely grow focused users for an erse content comptently.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="st_inner_feature_item">
									<div class="st_inner_feature_icon text-st-aqua rgba-st-aqua">
										<i class="fas fa-gift"></i>
									</div>
									<div class="st_inner_feature_content">
										<h3>Daily Free Gift</h3>
										<p>Completely grow focused users for an erse content comptently.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="st_inner_feature_item">
									<div class="st_inner_feature_icon text-st-pink rgba-st-pink">
										<i class="fas fa-gift"></i>
									</div>
									<div class="st_inner_feature_content">
										<h3>Add Favourite contact</h3>
										<p>Completely grow focused users for an erse content comptently.</p>
									</div>
								</div>
							</div>
						</div><!--End row -->
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_inner_feature_area -->

		<div id="download" class="st_download_area download_area_v2 p-b-150 bg-chambray st-overflow-inherit text-center p-sm-b-100">
			<div class="container">
				<div class="st_download_waraper">
					<div class="st_download_content_waraper p-t-none p-b-60">
						<h2 class="m-b-30 st-font-34 text-st-white"><strong>Download SaaSkype for any platform</strong></h2>
						<p class="text-st-lavender br-sm-none">Holisticly empower alternative expertise without scalable solutions. Objectively <br/>monetize cost effective benefits.</p>
					</div>
					<div class="st_download_btn">
						<div class="st_select_warap">
							<select class="text-uppercase font-weight-medium">
								<option>Select your plactform</option>
								<option>Android OS</option>
								<option>IOS</option>
								<option>Firefox OS</option>
								<option>Ubontu</option>
							</select>
						</div>
						<a class="st_default_btn bg-st-pink st_btn_round st_default_btn_extra_pd st-width-xs-100" href="#">DOWNLOAD</a>
					</div>
				</div>
			</div>
		</div>

		<section id="pricing" class="st_pricing_table_area st_pricing_table_waraper st_section_padding shadow-none">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Our adorable app pricing & details</h2>
					<p>Lets see how it works with full fuctionality with more acessable things</p>
				</div>
				<div class="st-pricing-container st-pricing-btn-style-wrapper">
					<div class="st-pricing-switcher">
						<div class="fieldset">
							<input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
							<label for="monthly-1">Monthly</label>
							<input type="radio" name="duration-1" value="yearly" id="yearly-1">
							<label for="yearly-1">Yearly</label>
							<div class="st-pricing-underlines">
								<div class="st-pricing-underlines-2 bg-chambray"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInLeft" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3 class="text-chambray">Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">Free</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-chambray st_btn_round" href="#">SUBSCRIBE</a>
											</div>	
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3 class="text-chambray">PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">PREMIUM</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-chambray st_btn_round" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3 class="text-chambray">STANDARD</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$80</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-chambray st_btn_round" href="#">SUBSCRIBE</a>
											</div>	
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3 class="text-chambray">PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$60</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-chambray st_btn_round" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInRight" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3 class="text-chambray">PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$50</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-chambray st_btn_round" href="#">SUBSCRIBE</a>
											</div>	
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3 class="text-chambray">free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$40</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-chambray st_btn_round" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</section><!--- End st_pricing_table_area -->

		<div class="st_cta_area p-t-b-60 bg-st-pink">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-1">
						<div class="st_cta_content st_cta_content_v2 st-text-md-center m-md-b-50">
							<h2 class="text-st-white">Start you 14 day <strong>Free trial</strong> today !</h2>
							<p class="text-st-white">Compellingly re-engineer installed base intellectual capital</p>
						</div>
					</div>
					<div class="col-lg-4 d-flex justify-content-center align-items-center">
						<a class="st_default_btn bg-st-white text-haiti bg-hover-st-aqua text-hover-st-white st_btn_round" href="#">DOWNLOAD NOW</a>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_cta_area -->
		
		<div id="testimonial" class="st_testimonial_area st_section_padding">
			<div class="container">
				<div class="st_section_heding_title m-b-40">
					<h2>What client say abour our calling service</h2>
					<p>Lets see how it works with full fuctionality with more acessable things</p>
				</div>
				<div class="st_v2_testimonial_slider st_slider_bottom_dots slider-control-chambray owl-carousel owl-theme">
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-02.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>jahanara</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-02.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>jahanara</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_v2_testimonial_area -->

		<footer id="contact" class="st_default_footer_area bg-haiti bacground-bottom bg-repeat-repeat-x bg-size-auto st_subscribe_fotter st_section_padding" style="background-image: url(assets/images/v6/footer-shape.png);">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo-03.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-blue-bell">Links</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6">
								<div class="st_fotter_heding_title">
									<h3 class="text-blue-bell">Support</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-blue-bell">Contact</h3>
								</div>
								<div class="st_social_icon text-st-white">
									<p>info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>