<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>

		<div id="stick-menu"></div>
		<header id="st-header-section" class="st_header_area sticky-gigas-gradient st_header_btn">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-06.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-gigas">
							<div class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#about">About</a></li>
									<li><a href="#download">Download</a></li>
									<li><a href="#pricing">pricing</a></li>
									<li><a href="#contact">Contact</a></li>
									<li><a href="#" class="st_default_btn bg-gigas text-st-white bg-hover-aqua st_btn_round m-l-50 m-lg-l-none">SIGN IN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area bg-medium-purple">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 d-flex justify-content-start align-items-center height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_waraper wow fadeInLeft" data-wow-delay="0.3s">
							<div class="st_banner_content align_item margin_0 m-md-t-150 m-xs-t-150 st-text-md-center">
								<h1 class="text-st-white">Bootstrap<span class="st-font-14 m-l-20 text-snuff">Currently v4.1.0</span></h1>
								<h4 class="text-st-white m-b-30">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</h4>
								<p class="text-st-white m-b-60">Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.</p>
								<a class="st_default_btn st_transparent" href="#">Get Started</a>
								<a class="st_default_btn" href="#">DOWNLOAD NOW</a>
							</div>
						</div>
					</div>
					<div class="col-lg-5 st_relative d-flex align-items-center justify-content-center height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_sidebar_item m-md-t-b-100 wow fadeInRight" data-wow-delay="0.5s">
							<div class="st_banner_single_item_01">
								<div class="st_banner_single_item_02">
									<div class="st_banner_single_item_03 text-st-white">B</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
			<div class="st_banner_shape_group">
				<div class="st_banner_shape_01">
					<img src="assets/images/v7/banner-shape.png" alt="">
				</div>
				<div class="st_banner_shape_02">
					<img src="assets/images/v7/banner-shape-02.png" alt="">
				</div>
			</div>
		</section><!--End st_banner_area -->

		<div class="st_promo_area st_section_padding st_promo_center p-sm-b-none">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<a href="#" class="st_single_prom_item m-sm-b-70 st_single_prom_item_v4 bg-st-white wow fadeIn" data-wow-delay="0.3s">
							<div class="st_promo_icon">
								<img src="assets/images/v7/promo-01.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Free Instalation</h3>
								<p>Proactively conceptualize leveraged schemas with flexible leadership skills. Efficiently productivate cross-unit strategic theme</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="#" class="st_single_prom_item m-sm-b-70 st_single_prom_item_v4 bg-st-white wow fadeIn" data-wow-delay="0.5s">
							<div class="st_promo_icon">
								<img src="assets/images/v7/promo-02.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Growth System</h3>
								<p>Proactively conceptualize leveraged schemas with flexible leadership skills. Efficiently productivate cross-unit strategic theme</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 m-md-t-35 m-sm-t-none">
						<a href="#" class="st_single_prom_item m-sm-b-70 st_single_prom_item_v4 bg-st-white wow fadeIn" data-wow-delay="0.7s">
							<div class="st_promo_icon">
								<img src="assets/images/v7/promo-03.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Data Correction</h3>
								<p>Proactively conceptualize leveraged schemas with flexible leadership skills. Efficiently productivate cross-unit strategic theme</p>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div class="st_inner_feature_area p-b-120 p-sm-b-80">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Take Bootstrap 4 to the next level</h2>
					<p>Distinctively e-enable cutting-edge catalysts for change without user friendly networks.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-medium-purple rgba-medium-purple">
								<i class="fas fa-phone"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Free Caliing Service</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-emerald rgba-emerald">
								<i class="fas fa-video"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Unimited Video Call</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-pink rgba-st-pink">
								<i class="fas fa-comments"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Camera filter</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-orange rgba-st-orange">
								<i class="fas fa-camera"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Encrypted Chat</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-gigas rgba-gigas">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Camera Filter</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-aqua rgba-st-aqua">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Daily Free Gift</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-aqua rgba-st-aqua">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Daily Free Gift</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-pink rgba-st-pink">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Add Favourite contact</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-emerald rgba-emerald">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Free Calling Service</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_inner_feature_area -->

		<div id="about" class="st_about_inner_page">
			<div class="st_about_single_full bg-magnolia m-b-none p-t-b-100 p-sm-t-b-75">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 d-flex justify-content-center align-items-center order-lg-2">
							<article class="st_default_content wow fadeInRight" data-wow-delay="0.3s">
								<i class="fas fa-cloud-download-alt bg-gigas"></i>
								<h2>BootstrapCDN</h2>
								<p>Distinctively productivate prospective expertise after best-of-breed "outside the box" thinking. Synergistically actualize cross functional infomediaries before interoperable value. Objectively exploit 24/365 e-business for interoperable portals.</p>
								<a class="st_default_btn" href="#">Explore the DOCS</a>
							</article>
						</div>
						<div class="col-lg-6">
							<div class="st_about_right_item js-tilt m-md-t-50 wow fadeInLeft" data-wow-delay="0.4s">
								<img src="assets/images/v7/about-01.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_single_full p-t-b-100 p-sm-t-b-75">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 d-flex justify-content-center align-items-center">
							<article class="st_default_content wow fadeInLeft" data-wow-delay="0.4s">
								<i class="fas fa-cloud-download-alt bg-gigas"></i>
								<h2>Official Themes</h2>
								<p>Distinctively productivate prospective expertise after best-of-breed "outside the box" thinking. Synergistically actualize cross functional infomediaries before interoperable value. Objectively exploit 24/365 e-business for interoperable portals.</p>
								<a class="st_default_btn" href="#">Explore the DOCS</a>
							</article>
						</div>
						<div class="col-lg-6">
							<div class="st_about_right_item js-tilt m-md-t-50 wow fadeInRight" data-wow-delay="0.3s">
								<img src="assets/images/v7/about-02.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
		</div><!--End st_v2_about_area -->

		<div class="st_cta_area p-t-b-60 bg-medium-purple">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 offset-lg-1">
						<div class="st_cta_content st_cta_content_v2 st-text-md-center m-md-b-50">
							<h2 class="text-st-white">Start you 14 day <strong>Free trial</strong> today !</h2>
							<p class="text-st-white">Compellingly re-engineer installed base intellectual capital</p>
						</div>
					</div>
					<div class="col-lg-4 d-flex justify-content-center align-items-center">
						<a class="st_default_btn bg-st-white text-haiti bg-hover-st-aqua text-hover-st-white st_btn_round" href="#">DOWNLOAD NOW</a>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div>

		<div class="st_design_feature_area st_section_padding text-center p-sm-b-30">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="st_design_feature_item m-sm-b-50">
							<div class="st_design_feature_img">
								<img src="assets/images/v7/01.png" alt="">
							</div>
							<div class="st_design_feature_content br-lg-none">
								<h3>Preprocessors</h3>
								<p>Conveniently procrastinate seamless value <br/>with distinctive opportunities.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_design_feature_item m-sm-b-50">
							<div class="st_design_feature_img">
								<img src="assets/images/v7/02.png" alt="">
							</div>
							<div class="st_design_feature_content br-lg-none">
								<h3>Responsive</h3>
								<p>Conveniently procrastinate seamless value <br/>with distinctive opportunities.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 m-md-t-50">
						<div class="st_design_feature_item m-sm-b-50">
							<div class="st_design_feature_img">
								<img src="assets/images/v7/03.png" alt="">
							</div>
							<div class="st_design_feature_content br-lg-none">
								<h3>Features</h3>
								<p>Conveniently procrastinate seamless value <br/>with distinctive opportunities.</p>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_design_feature_area -->

		<div class="st_online_community_area st_section_padding bg-magnolia position-relative text-center st-overflow-hidden">
			<div class="container">
				<div class="st_online_community_waraper">
					<div class="st_banner_sidebar_item st_banner_sidebar_item_v2 wow fadeIn" data-wow-delay="0.3s">
						<div class="st_banner_single_item_01">
							<div class="st_banner_single_item_02">
								<div class="st_banner_single_item_03">B</div>
							</div>
						</div>
					</div>
					<div class="st_online_community_content m-t-70">
						<h2 class="m-b-40">We have large online community</h2>
						<a class="st_default_btn bg-st-white text-gigas bg-hover-st-aqua text-hover-st-white st_btn_shadow st_btn_round" href="#">EXPLORE NOW</a>
					</div>
				</div>	
			</div><!--- End container -->
			<div class="st_online_community_item st_online_community_item_v2">
				<div class="st_single_item item_1">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_2">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_3">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_4">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_5">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_6">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_7">
					<img src="assets/images/v5/04.jpg" alt="">
				</div>
				<div class="st_single_item item_8">
					<img src="assets/images/v5/06.jpg" alt="">
				</div>
				<div class="st_single_item item_9">
					<img src="assets/images/v5/06.jpg" alt="">
				</div>
				<div class="st_single_item item_10">
					<img src="assets/images/v5/04.jpg" alt="">
				</div>
				<div class="st_single_item item_11">
					<img src="assets/images/v5/05.jpg" alt="">
				</div>
				<div class="st_single_item item_12">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
			</div>
		</div><!--- End st_online_community_area -->

		<footer id="contact" class="st_default_footer_area st_footer_variation bg-haiti st_subscribe_fotter">
			<div class="container">
				<div class="row st_fotter_border_bottom st_fotter_border_bottom_v2">
					<div class="col-xl-3 col-lg-6 d-flex d-lg-flex d-sm-block d-xs-block justify-content-start align-items-center">
						<div class="st_footer_logo_warap m-b-none">
							<a href="#"><img class="m-b-none" src="assets/images/logo/fotter-logo-04.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 order-xl-3 d-flex d-lg-flex justify-content-end align-items-cente d-sm-block d-xs-block m-md-t-80 m-sm-t-50 st-font-sm-left">
						<div class="st_social_icon text-st-white">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fab fa-git-square"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12 d-flex d-lg-flex d-sm-block d-xs-block justify-content-center align-items-center m-lg-t-80 m-sm-t-50">
						<div class="st_fotter_menu text-st-white st_fotter_menu_inline">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Why Choose</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!--- End row -->
				<div class="st_copyright_content text-center p-b-60">
					<p>All Right Reserved by <a href="#" class="text-st-white">Pixiefy</a> Copyright &copy;2018</p>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>