<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>

		<div id="stick-menu"></div>
		<header id="st-header-section" class="st_header_area sticky-bg-lochmara st_header_btn">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-06.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-white">
							<div class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#features">why choose</a></li>
									<li><a href="#clients">Clients</a></li>
									<li><a href="#contact">Contact</a></li>
									<li><a href="#" class="st_default_btn sign_up st_plain_text text-emerald text-hover-st-white border-right border-emerald m-l-40 m-lg-l-none">SIGN UP</a></li>
									<li class="m-l-none"><a href="#" class="st_default_btn sing_in bg-emerald st_btn_round">SIGN IN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area left-angle-shape bg-lochmara m-b-70">
			<div class="container">
				<div class="row">
					<div class="col-12 d-flex justify-content-center align-items-end height-100vh st-min-1150 st-min-sm-850">
						<div class="st_banner_waraper text-center m-t-100 m-md-b-50 m-sm-b-75">
							<div class="st_banner_content m-b-none">
								<h1 class="m-b-35 font-weight-normal text-st-white st-font-sm-34 br-sm-none">Fast, secure, easy work & smooth<br/> collaboratively</h1>
								<a class="st_default_btn bg-emerald st_btn_round m-sm-r-15" href="#">EXPLORE MORE</a>
								<a class="st_popup_youtube st_default_btn st_icon_btn" href="https://www.youtube.com/watch?v=HPyC6wZqTCg&index=13&list=RDMMnmUKsZG-76A">
									<span><img src="assets/images/v8/vedio-icon.png" alt=""></span>
									<p>PLAY VIDEO</p>
								</a>
							</div>
							<div class="st_banner_single_img p-md-t-110 p-xs-t-50 wow fadeInUp" data-wow-delay="0.3s">
								<img src="assets/images/v8/banner-img.png" alt="">
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
			<div class="st_left_shape wow">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</section><!--End st_banner_area -->

		<div id="features" class="st_feature_area st_section_padding top_0 p-md-b-40">
			<div class="container">
				<div class="st_section_heding_title">
					<p class="text-lochmara">FEATURE</p>
					<h2>Trello offer you some awesome features</h2>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 margin_bottom">
						<div class="st_feature_item_v2 wow fadeIn" data-wow-delay="0.3s">
							<i class="far fa-thumbs-up"></i>
							<h3>Get unlimited offer</h3>
							<p>Objectively incubate 2.0 initiatives integrated schemas. Synergistically get new rengineer parallel alignments after.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item_v2 wow fadeIn" data-wow-delay="0.5s">
							<i class="fas fa-unlock-alt"></i>
							<h3>Free access</h3>
							<p>Objectively incubate 2.0 initiatives integrated schemas. Synergistically get new rengineer parallel alignments after.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item_v2 wow fadeIn" data-wow-delay="0.7s">
							<i class="fas fa-gift"></i>
							<h3>Awesome interface</h3>
							<p>Objectively incubate 2.0 initiatives integrated schemas. Synergistically get new rengineer parallel alignments after.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item_v2 wow fadeIn" data-wow-delay="0.3s">
							<i class="far fa-heart"></i>
							<h3>User friendly</h3>
							<p>Objectively incubate 2.0 initiatives integrated schemas. Synergistically get new rengineer parallel alignments after.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item_v2 wow fadeIn" data-wow-delay="0.5s">
							<i class="far fa-image"></i>
							<h3>Retina supported</h3>
							<p>Objectively incubate 2.0 initiatives integrated schemas. Synergistically get new rengineer parallel alignments after.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item_v2 wow fadeIn" data-wow-delay="0.7s">
							<i class="fab fa-joget"></i>
							<h3>Turbo workspeed</h3>
							<p>Objectively incubate 2.0 initiatives integrated schemas. Synergistically get new rengineer parallel alignments after.</p>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_v8_feature_area -->

		<div id="about" class="st_about_inner_page st_about_padding st-position-wrap">
			<div class="st_about_top bg-polar top-bottom-angle">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 offset-lg-1 order-lg-2 d-flex justify-content-center align-items-center">
							<article class="st_default_content wow fadeInRight" data-wow-delay="0.4s">
								<h5 class="text-lochmara">FEATURE</h5>
								<h2>Work with any platform & with every device</h2>
								<p>Quickly conceptualize collaborative web services rather than backend innovation. Synergistically benchmark backend.</p>
								<a class="st_default_btn bg-emerald st_btn_round" href="#">EXPLORE MORE</a>
							</article>
						</div>
						<div class="col-lg-6">
							<div class="st_about_right_item m-md-t-50 st-text-md-center wow fadeInLeft" data-wow-delay="0.3s">
								<img src="assets/images/v8/userlist.png" alt="">
								<div class="st_about_img_item d-lg-block d-md-none d-sm-none">
									<div class="st_about_single_img item_01">
										<img src="assets/images/v8/01.jpg" alt="">
									</div>
									<div class="st_about_single_img item_02">
										<img src="assets/images/v8/02.jpg" alt="">
									</div>
									<div class="st_about_single_img item_03">
										<img src="assets/images/v8/03.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
						
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_bottom p-lg-t-b-75">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 d-flex align-items-center">
							<article class="st_default_content wow fadeInLeft" data-wow-delay="0.3s">
								<h5 class="text-lochmara">TASKMANAGER</h5>
								<h2>Real time task manage platform &<br/> with every device</h2>
								<p>Quickly conceptualize collaborative web services rather than backend<br/> innovation. Synergistically benchmark backend.</p>
								<a class="st_default_btn bg-emerald bg-hover-st-aqua st_btn_round" href="#">EXPLORE MORE</a>
							</article>
						</div>
						<div class="col-lg-5 d-flex d-md-block justify-content-end align-items-center m-md-t-50 st-text-md-center">
							<div class="st_about_right_item wow fadeInRight" data-wow-delay="0.4s">
								<img src="assets/images/v8/project-card.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_left_about_shape wow">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div><!--End st_v2_about_area -->

		<div class="st_online_community_area bg-chambray top-bottom-angle st-position-wrap p-t-b-350 p-lg-t-175 p-lg-b-225 p-md-t-130 p-md-b-225 p-sm-t-b-80">
			<div class="container">
				<div class="st_online_community_waraper">
					<div class="st_online_community_content text-center">
						<h2 class="font-weight-normal m-b-50 text-st-white st-font-34 st-font-sm-28">From startups to Fortune 500 companies, Trello is the most visual way for teams to collaborate on any project.</h2>
						<a class="st_default_btn bg-emerald bg-hover-st-aqua st_btn_round" href="#">EXPLORE MORE</a>
					</div>
				</div>	
			</div><!--- End container -->
			<div class="st_online_community_item st_simple_call_2_action">
				<div class="st_single_item item_1">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_2">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_3">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_4">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_5">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_6">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_7">
					<img src="assets/images/v5/04.jpg" alt="">
				</div>
				<div class="st_single_item item_8">
					<img src="assets/images/v5/06.jpg" alt="">
				</div>
				<div class="st_single_item item_9">
					<img src="assets/images/v5/06.jpg" alt="">
				</div>
				<div class="st_single_item item_10">
					<img src="assets/images/v5/04.jpg" alt="">
				</div>
				<div class="st_single_item item_11">
					<img src="assets/images/v5/05.jpg" alt="">
				</div>
				<div class="st_single_item item_12">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
			</div>
		</div><!--- End st_online_community_area -->

		<div id="clients" class="st_client_service_area position-relative p-t-b-100 p-lg-t-none p-sm-t-80 st-zindex-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex justify-content-center align-items-center order-lg-2">
						<article class="st_default_content position-relative m-l-30 st-zindex-3">
							<h5 class="text-lochmara">CLIENTS</h5>
							<h2>World wide client connected with trello task manager service</h2>
							<p>Quickly conceptualize collaborative web services rather than backend innovation. Synergistically benchmark backend.</p>
							<a class="st_default_btn bg-emerald bg-hover-st-aqua st_btn_round" href="#">WORK WITH PRESPECTIVE</a>
						</article>
					</div>
					<div class="col-lg-6">
						<div class="st_client_service_left_item">
							<div class="st_client_service_single_item wow fadeInUp" data-wow-delay="0.4s">
								<div class="st_client_service_img">
									<img src="assets/images/client-03.png" alt="">
								</div>
								<h3>SAMANTHA</h3>
								<p>Distinctively expedite empowered "outside the box"</p>
							</div>
							<div class="st_client_service_single_item wow fadeInUp" data-wow-delay="0.3s">
								<div class="st_client_service_img">
									<img src="assets/images/client-02.png" alt="">
								</div>
								<h3>ALEXANDER</h3>
								<p>Distinctively expedite empowered "outside the box"</p>
							</div>
							<div class="st_client_service_single_item wow fadeInUp" data-wow-delay="0.6s">
								<div class="st_client_service_img">
									<img src="assets/images/client-05.png" alt="">
								</div>
								<h3>AMELIE</h3>
								<p>Distinctively expedite empowered "outside the box"</p>
							</div>
							<div class="st_client_service_single_item wow fadeInUp" data-wow-delay="0.5s">
								<div class="st_client_service_img">
									<img src="assets/images/client-04.png" alt="">
								</div>
								<h3>MOJO CO</h3>
								<p>Distinctively expedite empowered "outside the box"</p>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
			<div class="st_left_shape st_left_shape_2 wow">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div><!--- End st_client_service_area -->

		<div class="st_apps_area bg-polar top-bottom-angle top-bottom-angle-index st-zindex-1 p-t-b-none p-lg-t-b-150 p-md-t-130 p-md-b-150 p-sm-t-b-80">
			<div class="container">
				<div class="row">
					<div class="col-lg-7 d-flex align-items-center">
						<article class="st_default_content wow fadeInLeft" data-wow-delay="0.3s">
							<h5 class="text-lochmara">SYNC</h5>
							<h2>Always in sync no matter where you are</h2>
							<p>No matter where you are, Trello stays in sync across all of your devices.<br/> Collaborate with your team anywhere, from sitting on the bus to sitting on the beach.Working with your team very easy</p>
							<a class="st_default_btn bg-lochmara bg-hover-st-aqua st_google_paly" href="#"><img src="assets/images/v8/google-play.png" alt=""></a>
							<a class="st_default_btn bg-emerald bg-hover-st-aqua app_store" href="#"><img src="assets/images/v8/app-store.png" alt=""></a>
						</article>
					</div>
					<div class="col-lg-5">
						<div class="st_iphone_screen_mockup m-md-t-50 st-text-md-center wow fadeInRight" data-wow-delay="0.5s">
							<img src="assets/images/v8/iphone.png" alt="">
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_apps_area -->

		<div class="st_event_area footer-subscription-wrapper">
			<div class="container position-relative">
				<div class="st_single_event short-width-content text-center st-width-sm-100">
					<p class="text-haiti">What are you waiting for?</p>
					<h3 class="text-st-primary st-font-28 m-b-40 font-weight-bold st-font-sm-22"><span class="text-haiti">Sign up for free</span> and become one of the millions of people around the world who have fallen in love with Trello.</h3>
					<a class="st_default_btn bg-emerald bg-hover-st-aqua st_btn_round" href="#">SIGN UP-It's Free</a>
				</div>
				<div class="st_footer_subscriber wow fadeInUp" data-wow-delay="0.3s">
					<span class="subscription-form-logo"></span>
					<div class="st_news_left_item align_item">
						<h2 class="text-haiti">Suscribe <strong>Newsletter</strong> today !</h2>
						<p>Compellingly re-engineer installed base intellectual capital</p>
					</div>
					<div class="st_subscribe">
						<form id="st-subscription-form" class="st-form">
							<input id="st-subscription-email" class="st_subscribe_email" placeholder="Enter your email address" required="required" name="EMAIL" type="email">
							<input class="st_subscribe_btn" value="subscribe" type="submit">
							<div class="st_subscription_info">Please enter a value</div>
						</form>
						<label for="st-subscription-email" class="st-subscription-info"></label>
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_event_area -->

		<footer id="contact" class="st_default_footer_area st_footer_variation st_subscribe_fotter p-t-200 bg-haiti footer-angle">
			<div class="container">
				<div class="row st_fotter_border_bottom st_fotter_border_bottom_v2">
					<div class="col-xl-3 col-lg-6 d-flex d-lg-flex d-sm-block d-xs-block justify-content-start align-items-center">
						<div class="st_footer_logo_warap m-b-none">
							<a href="#"><img class="m-b-none" src="assets/images/logo/fotter-logo-05.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 order-xl-3 d-flex d-lg-flex justify-content-end align-items-cente d-sm-block d-xs-block m-md-t-80 m-sm-t-50 st-font-sm-left">
						<div class="st_social_icon text-st-white">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fab fa-git-square"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12 d-flex d-lg-flex d-sm-block d-xs-block justify-content-center align-items-center m-lg-t-80 m-sm-t-50">
						<div class="st_fotter_menu text-st-white st_fotter_menu_inline">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Why Choose</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!--- End row -->
				<div class="st_copyright_content text-center p-b-60">
					<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
				</div>
			</div><!--- End container -->
			<div class="st_left_about_shape wow">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->
		
	</body>
</html>