<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:200,300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>
	
	<body>
		
		<div class="st_404_area">
			<div class="container">
				<div class="st_404_wrap d-flex align-items-center justify-content-center flex-column text-center banner-height">
					<div class="st_404_img_item position-relative">
						<div class="st_404_img_single_item st_404_01">
							<img src="assets/images/404/404-02.png" alt="">
						</div>
						<div class="st_404_img_single_item st_404_02">
							<img src="assets/images/404/404-01.png" alt="">
						</div>
						<div class="st_404_img_single_item st_404_03">
							<img src="assets/images/404/404-01.png" alt="">
						</div>
					</div>
					<div class="st_404_content p-t-20">
						<h2 class="m-b-40 st-font-48 st-font-md-44 st-font-sm-34 st-line-height-1-2 font-weight-light">Oppss..<br/> Page not found</h2>
						<a class="st_default_btn bg-perison-blue" href="../index.html">BACK TO HOMEPAGE</a>
					</div>
				</div>
			</div><!--End container-->
		</div><!--End st_404_area-->

		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>