<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:200,300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>
		
		<div id="stick-menu"></div>
		<header class="st_header_area sticky-aqua-gradient sticky-md-padding-10 sticky-sm-padding-10 sticky-xs-padding-10">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="../index.html"><img src="assets/images/logo/st_logo-02.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper">
							<nav class="st_menu text-st-white">
								<ul>
									<li class="st-has-submenu"><a href="#home">Demos <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="v10.html">Github</a></li>
											<li><a href="v7.html">Bootstrap</a></li>
											<li><a href="v2.html">Slack</a></li>
											<li><a href="v14.html">Paypal</a></li>
											<li><a href="v13.html">Uber</a></li>
											<li><a href="v8.html">Trello</a></li>
											<li><a href="v6.html">Skype</a></li>
											<li><a href="v11.html">Gmail</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v1.html">Webpack 1</a></li>
											<li><a href="v3.html">Webpack 2</a></li>
											<li><a href="v4.html">Webpack 3</a></li>
											<li><a href="v12.html">Webpack 4</a></li>
											<li><a href="v17.html">Webpack 5</a></li>
											<li><a href="v20.html">Webpack 6</a></li>
											<li><a href="v21.html">Webpack 7</a></li>
											<li><a href="v22.html">Webpack 8</a></li>
										</ul>
									</li>
									<li><a href="#feature">Pages <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="about.html">About </a></li>
											<li class="st-has-submenu"><a href="contact.html">Contact</a>
												<ul>
													<li><a href="contact.html">Contact 1</a></li>
													<li><a href="contact-2.html">Contact 2</a></li>
												</ul>
											</li>
											<li class="st-has-submenu"><a href="#">Extra</a>
												<ul>
													<li><a href="login.html">Login Page</a></li>
													<li><a href="register.html">Register Page</a></li>
													<li><a href="404.html">404 Page</a></li>
												</ul>
											</li>
											<li><a href="coming-soon.html">Coming Soon Page</a></li>
											<li><a href="docs.html">Documentation</a></li>
										</ul>
									</li>
									<li><a href="blog.html">Blog <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="blog.html">Defult</a></li>
											<li><a href="blog-grid.html">Grid</a></li>
											<li><a href="blog-single.html">Single</a></li>
										</ul>
									</li>
									<li><a href="shop.html">Shop <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="shop.html">Shop</a></li>
											<li><a href="shop-single.html">Single</a></li>
										</ul>
									</li>
									<li class="st-has-submenu"><a href="#">Elements <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="elements-features.html">Features</a></li>
											<li><a href="elements-promo.html">Promo</a></li>
											<li><a href="elements-price.html">Price</a></li>
											<li><a href="elements-screenshots.html">Screenshotsypal</a></li>
											<li><a href="elements-clients.html">Clients</a></li>
											<li><a href="elements-counter.html">Counter</a></li>
											<li><a href="elements-team.html">Team</a></li>
											<li><a href="elements-testimonial.html">Testimonial</a></li>
											<li><a href="elements-video.html">Video</a></li>
											<li><a href="elements-faqs.html">Faqs</a></li>
											<li><a href="elements-subscriptions.html">Subscription Form</a></li>
											<li><a href="elements-contact-form.html">Contact Form</a></li>
										</ul>
									</li>
									<li><a href="https://1.envato.market/c/1267300/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fsaastrend-bootstrap-saas-startup-software-webapp-template%2F22673166" target="_blank" class="st_default_btn m-l-40 m-lg-l-none bg-st-aqua text-st-white">Buy $17</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section class="st_inner_banner_area aqua-gredient-color text-center">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="st_inner_banner_wrap">
							<div class="st_inner_banner_content p-t-150 p-b-70 p-lg-t-120 p-lg-b-50 p-md-t-100 p-md-b-40">
								<h1 class="st-font-34 st-font-lg-30 st-font-sm-24 text-st-white"><strong>Blog Page</strong></h1>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_inner_banner_menu_area position-relative">
			<div class="container">
				<nav class="st_inner_banner_menu d-inline-block bg-st-white">
					<ul class="list-inline m-0">
						<li><a class="text-st-aqua" href="#"><i class="fas fa-home m-r-10 text-haiti"></i>Home</a></li>
						<li class="text-haiti">/</li>
						<li><a class="text-st-aqua" href="#">Page</a></li>
						<li class="text-haiti">/</li>
						<li class="text-st-primary">Blog</li>
					</ul>
				</nav>
			</div><!--End container -->
		</div><!--End st_inner_banner_menu_area -->

		<div class="st_blog_area p-t-110 p-lg-t-70 p-md-t-40">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="st_blog_wrap">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="st_blog_item p-b-75 p-lg-b-60 st_blog_grid">
										<div class="st_blog_img">
											<img src="assets/images/blog/blog-grid-01.jpg" alt="">
										</div>
										<div class="st_blog_content d-flex m-b-15">
											<div class="st_blog_poster_wrap text-center p-r-15 p-t-10">
												<div class="st_blog_poster_img rounded-circle m-b-15">
													<img src="assets/images/blog/blog-poster.jpg" alt="">
												</div>
												<p class="st-font-14 st-line-height-1 m-0">24 JUN</p>
											</div>
											<div class="st_blog_title_area p-l-15 p-t-15">
												<p class="st-font-12 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>
												<a href="#"><h3 class="st-font-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance for based action items.</strong></h3></a>
											</div>
										</div>
										<div class="st-blog-short-des st-font-14 st-line-height-1-9 m-b-20">Globally leverage existing magnetic innovation vis-a-vis pandemic metrics. Credibly unleash bleeding-edge experiences through.</div>
										<a class="st_read_post_btn text-st-aqua st-font-13 font-weight-semi-bold" href="#"><span class="m-r-10">READ POST</span><img src="assets/images/blog/arrow-right.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="st_blog_item p-b-75 p-lg-b-60 st_blog_grid">
										<div class="st_blog_img">
											<img src="assets/images/blog/blog-grid-02.jpg" alt="">
										</div>
										<div class="st_blog_content d-flex m-b-15">
											<div class="st_blog_poster_wrap text-center p-r-15 p-t-10">
												<div class="st_blog_poster_img rounded-circle m-b-15">
													<img src="assets/images/blog/blog-poster.jpg" alt="">
												</div>
												<p class="st-font-14 st-line-height-1 m-0">24 JUN</p>
											</div>
											<div class="st_blog_title_area p-l-15 p-t-15">
												<p class="st-font-12 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>
												<a href="#"><h3 class="st-font-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance for based action items.</strong></h3></a>
											</div>
										</div>
										<div class="st-blog-short-des st-font-14 st-line-height-1-9 m-b-20">Globally leverage existing magnetic innovation vis-a-vis pandemic metrics. Credibly unleash bleeding-edge experiences through.</div>
										<a class="st_read_post_btn text-st-aqua st-font-13 font-weight-semi-bold" href="#"><span class="m-r-10">READ POST</span><img src="assets/images/blog/arrow-right.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="st_blog_item p-b-75 p-lg-b-60 st_blog_grid">
										<div class="st_blog_img">
											<img src="assets/images/blog/blog-grid-03.jpg" alt="">
										</div>
										<div class="st_blog_content d-flex m-b-15">
											<div class="st_blog_poster_wrap text-center p-r-15 p-t-10">
												<div class="st_blog_poster_img rounded-circle m-b-15">
													<img src="assets/images/blog/blog-poster.jpg" alt="">
												</div>
												<p class="st-font-14 st-line-height-1 m-0">24 JUN</p>
											</div>
											<div class="st_blog_title_area p-l-15 p-t-15">
												<p class="st-font-12 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>
												<a href="#"><h3 class="st-font-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance for based action items.</strong></h3></a>
											</div>
										</div>
										<div class="st-blog-short-des st-font-14 st-line-height-1-9 m-b-20">Globally leverage existing magnetic innovation vis-a-vis pandemic metrics. Credibly unleash bleeding-edge experiences through.</div>
										<a class="st_read_post_btn text-st-aqua st-font-13 font-weight-semi-bold" href="#"><span class="m-r-10">READ POST</span><img src="assets/images/blog/arrow-right.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="st_blog_item p-b-75 p-lg-b-60 st_blog_grid">
										<div class="st_blog_img">
											<img src="assets/images/blog/blog-grid-04.jpg" alt="">
										</div>
										<div class="st_blog_content d-flex m-b-15">
											<div class="st_blog_poster_wrap text-center p-r-15 p-t-10">
												<div class="st_blog_poster_img rounded-circle m-b-15">
													<img src="assets/images/blog/blog-poster.jpg" alt="">
												</div>
												<p class="st-font-14 st-line-height-1 m-0">24 JUN</p>
											</div>
											<div class="st_blog_title_area p-l-15 p-t-15">
												<p class="st-font-12 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>
												<a href="#"><h3 class="st-font-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance for based action items.</strong></h3></a>
											</div>
										</div>
										<div class="st-blog-short-des st-font-14 st-line-height-1-9 m-b-20">Globally leverage existing magnetic innovation vis-a-vis pandemic metrics. Credibly unleash bleeding-edge experiences through.</div>
										<a class="st_read_post_btn text-st-aqua st-font-13 font-weight-semi-bold" href="#"><span class="m-r-10">READ POST</span><img src="assets/images/blog/arrow-right.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="st_blog_item p-b-75 p-lg-b-60 st_blog_grid">
										<div class="st_blog_img">
											<img src="assets/images/blog/blog-grid-05.jpg" alt="">
										</div>
										<div class="st_blog_content d-flex m-b-15">
											<div class="st_blog_poster_wrap text-center p-r-15 p-t-10">
												<div class="st_blog_poster_img rounded-circle m-b-15">
													<img src="assets/images/blog/blog-poster.jpg" alt="">
												</div>
												<p class="st-font-14 st-line-height-1 m-0">24 JUN</p>
											</div>
											<div class="st_blog_title_area p-l-15 p-t-15">
												<p class="st-font-12 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>
												<a href="#"><h3 class="st-font-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance for based action items.</strong></h3></a>
											</div>
										</div>
										<div class="st-blog-short-des st-font-14 st-line-height-1-9 m-b-20">Globally leverage existing magnetic innovation vis-a-vis pandemic metrics. Credibly unleash bleeding-edge experiences through.</div>
										<a class="st_read_post_btn text-st-aqua st-font-13 font-weight-semi-bold" href="#"><span class="m-r-10">READ POST</span><img src="assets/images/blog/arrow-right.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="st_blog_item p-b-75 p-lg-b-60 st_blog_grid">
										<div class="st_blog_img">
											<img src="assets/images/blog/blog-grid-06.jpg" alt="">
										</div>
										<div class="st_blog_content d-flex m-b-15">
											<div class="st_blog_poster_wrap text-center p-r-15 p-t-10">
												<div class="st_blog_poster_img rounded-circle m-b-15">
													<img src="assets/images/blog/blog-poster.jpg" alt="">
												</div>
												<p class="st-font-14 st-line-height-1 m-0">24 JUN</p>
											</div>
											<div class="st_blog_title_area p-l-15 p-t-15">
												<p class="st-font-12 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>
												<a href="#"><h3 class="st-font-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance for based action items.</strong></h3></a>
											</div>
										</div>
										<div class="st-blog-short-des st-font-14 st-line-height-1-9 m-b-20">Globally leverage existing magnetic innovation vis-a-vis pandemic metrics. Credibly unleash bleeding-edge experiences through.</div>
										<a class="st_read_post_btn text-st-aqua st-font-13 font-weight-semi-bold" href="#"><span class="m-r-10">READ POST</span><img src="assets/images/blog/arrow-right.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="st_blog_item p-b-75 p-lg-b-60 st_blog_grid">
										<div class="st_blog_img">
											<img src="assets/images/blog/blog-grid-07.jpg" alt="">
										</div>
										<div class="st_blog_content d-flex m-b-15">
											<div class="st_blog_poster_wrap text-center p-r-15 p-t-10">
												<div class="st_blog_poster_img rounded-circle m-b-15">
													<img src="assets/images/blog/blog-poster.jpg" alt="">
												</div>
												<p class="st-font-14 st-line-height-1 m-0">24 JUN</p>
											</div>
											<div class="st_blog_title_area p-l-15 p-t-15">
												<p class="st-font-12 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>
												<a href="#"><h3 class="st-font-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance for based action items.</strong></h3></a>
											</div>
										</div>
										<div class="st-blog-short-des st-font-14 st-line-height-1-9 m-b-20">Globally leverage existing magnetic innovation vis-a-vis pandemic metrics. Credibly unleash bleeding-edge experiences through.</div>
										<a class="st_read_post_btn text-st-aqua st-font-13 font-weight-semi-bold" href="#"><span class="m-r-10">READ POST</span><img src="assets/images/blog/arrow-right.png" alt=""></a>
									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="st_blog_item p-b-75 p-lg-b-60 st_blog_grid">
										<div class="st_blog_img">
											<img src="assets/images/blog/blog-grid-01.jpg" alt="">
										</div>
										<div class="st_blog_content d-flex m-b-15">
											<div class="st_blog_poster_wrap text-center p-r-15 p-t-10">
												<div class="st_blog_poster_img rounded-circle m-b-15">
													<img src="assets/images/blog/blog-poster.jpg" alt="">
												</div>
												<p class="st-font-14 st-line-height-1 m-0">24 JUN</p>
											</div>
											<div class="st_blog_title_area p-l-15 p-t-15">
												<p class="st-font-12 m-b-10">Posted By: <span class="text-haiti font-weight-semi-bold ">Jhon Legend</span></p>
												<a href="#"><h3 class="st-font-18 st-line-height-1-4 m-0"><strong>Uniquely grow performance for based action items.</strong></h3></a>
											</div>
										</div>
										<div class="st-blog-short-des st-font-14 st-line-height-1-9 m-b-20">Globally leverage existing magnetic innovation vis-a-vis pandemic metrics. Credibly unleash bleeding-edge experiences through.</div>
										<a class="st_read_post_btn text-st-aqua st-font-13 font-weight-semi-bold" href="#"><span class="m-r-10">READ POST</span><img src="assets/images/blog/arrow-right.png" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="st_blog_sidebar m-l-15 m-lg-l-none m-md-l-25 m-md-r-25 m-sm-l-none m-sm-r-none">
							<div class="st_blog_sidebar_item bg-polar rounded p-l-r-40 p-t-40 p-b-40 m-b-60 m-sm-b-25 m-md-b-35">
								<div class="st_blog_sidebar_title">
									<h3 class="st-font-24 m-b-30 p-b-15"><strong>Search</strong></h3>
								</div>
								<div class="st_search_box">
									<form id="st-form">
										<input placeholder="Search here..." name="search" type="search">
										<button id="st_search_btn" type="submit" value="Submit"><i class="fas fa-search"></i></button>
									</form>
								</div>
							</div>
							<div class="st_blog_sidebar_item bg-polar rounded p-l-r-40 p-t-40 p-b-40 m-b-60 m-sm-b-25 m-md-b-35">
								<div class="st_blog_sidebar_title">
									<h3 class="st-font-24 m-b-30 p-b-15"><strong>Categorey</strong></h3>
								</div>
								<ul class="st_blog_categorey list-inline m-0">
									<li><a href="#">App Design<span>( 20 )</span></a></li>
									<li><a href="#">Web ui Design<span>( 21 )</span></a></li>
									<li><a href="#">Ux Design<span>( 5 )</span></a></li>
									<li><a href="#">Graphic & illustration<span>( 8 )</span></a></li>
									<li><a href="#">Art & Motion<span>( 15 )</span></a></li>
									<li><a href="#">3D Rendering<span>( 18 )</span></a></li>
									<li><a href="#">Marketing Banner<span>( 13 )</span></a></li>
								</ul>
							</div>
							<div class="st_blog_sidebar_item bg-polar rounded p-l-r-40 p-t-40 p-b-40 m-b-60 m-sm-b-25 m-md-b-35">
								<div class="st_blog_sidebar_title">
									<h3 class="st-font-24 m-b-30 p-b-15"><strong>Most Populer</strong></h3>
								</div>
								<div class="st_popular_post_wrap m-b-40">
									<div class="st_poster_neme">
										<ul class="st_single_popular_post list-inline m-0 m-b-15 st-font-13">
											<li class="d-inline-block  m-r-25">Posted By: <i class="text-haiti">Jhon Legend</i></li>
											<li class="d-inline-block ">20 JUN 2018</li>
										</ul>
										<a href="#"><h3 class="st-font-16"><strong>How to Prepare for an Automted Future Build Car</strong></h3></a>
									</div>
								</div>
								<div class="st_popular_post_wrap m-b-40">
									<div class="st_poster_neme">
										<ul class="st_single_popular_post list-inline m-0 m-b-15">
											<li class="d-inline-block st-font-13 m-r-25">Posted By: <i class="text-haiti">Jhon Legend</i></li>
											<li class="d-inline-block st-font-13">20 JUN 2018</li>
										</ul>
										<a href="#"><h3 class="st-font-16"><strong>How to Prepare for an Automted Future Build Car</strong></h3></a>
									</div>
								</div>
								<div class="st_popular_post_wrap">
									<div class="st_poster_neme">
										<ul class="st_single_popular_post list-inline m-0 m-b-15">
											<li class="d-inline-block st-font-13 m-r-25">Posted By: <i class="text-haiti">Jhon Legend</i></li>
											<li class="d-inline-block st-font-13">20 JUN 2018</li>
										</ul>
										<a href="#"><h3 class="st-font-16"><strong>How to Prepare for an Automted Future Build Car</strong></h3></a>
									</div>
								</div>	
							</div>
							<div class="st_blog_sidebar_item aqua-gredient-color rounded p-l-r-25 p-t-40 p-t-b-60">
								<div class="st_blog_subscription text-center">
									<img class="m-b-30" src="assets/images/blog/email.png" alt="">
									<h3 class="text-white st-font-24 m-b-5"><strong>Subscribe</strong></h3>
									<p class="text-white m-b-30 font-weight-light">To get latest update & news</p>
									<div class="st_subscribe st_blog_page">
										<form class="st-form st-subscription-form">
											<input class="st_subscribe_email st_subscribe_email_transparent st-font-13" placeholder="Email address" required="required" name="EMAIL" type="email">
											<input class="st_subscribe_btn bg-st-aqua font-weight-semi-bold st-font-12" value="subscribe" type="submit">
											<div class="st_subscription_info">Please enter a value</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
				<div class="st_pagination_wrap d-flex justify-content-between align-items-center p-t-70 p-b-100 p-md-t-50 p-md-b-60">
					<div class="st_single_pagination order-0">
						<a class="st_pagination font-weight-medium d-inline-block p-t-b-25 p-l-r-35 text-haiti st-font-14 bg-polar" href="#"><i class="fas fa-arrow-left text-st-aqua m-r-10"></i>PREV PAGE</a>
					</div>
					<div class="st_single_pagination order-lg-2 order-md-1">
						<a class="st_pagination font-weight-medium d-inline-block p-t-b-25 p-l-r-35 text-haiti st-font-14 bg-polar" href="#">NEXT PAGE<i class="fas fa-arrow-right text-st-aqua m-l-10"></i></a>
					</div>
					<div class="st_single_pagination order-lg-1 order-md-2 st-text-md-center m-md-t-40">
						<ul class="list-inline m-0 st_number_pagenation">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a class="active" href="#">3</a></li>
							<li><a href="#">.</a></li>
							<li><a href="#">.</a></li>
							<li><a href="#">.</a></li>
							<li><a href="#">12</a></li>
							<li><a href="#">13</a></li>
							<li><a href="#">14</a></li>
						</ul>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_blog_area -->

		<footer class="st_default_footer_area polar-gradient-background p-t-150 p-b-100 p-sm-t-70 p-md-t-70 p-md-b-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 m-md-b-60 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Links</h3>
								</div>
								<div class="st_fotter_menu">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Support</h3>
								</div>
								<div class="st_fotter_menu">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-aqua">Contact</h3>
								</div>
								<div class="st_social_icon">
									<p>info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>