<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:200,300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>

	<body>

		<div id="stick-menu"></div>
		<header class="st_header_area sticky-bg-st-white sticky-box-shadow bg-st-white">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="../index.html"><img src="assets/images/logo/st_logo-13.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-st-aqua">
						<nav class="st_menu">
							<ul>
								<li class="st-has-submenu"><a href="#home">Demos <i class="fas fa-angle-down"></i></a>
									<ul class="nav-col-2">
										<li><a href="v10.html">Github</a></li>
										<li><a href="v7.html">Bootstrap</a></li>
										<li><a href="v2.html">Slack</a></li>
										<li><a href="v14.html">Paypal</a></li>
										<li><a href="v13.html">Uber</a></li>
										<li><a href="v8.html">Trello</a></li>
										<li><a href="v6.html">Skype</a></li>
										<li><a href="v11.html">Gmail</a></li>
										<li><a href="v16.html">Dropbox</a></li>
										<li><a href="v16.html">Dropbox</a></li>
										<li><a href="v1.html">Webpack 1</a></li>
										<li><a href="v3.html">Webpack 2</a></li>
										<li><a href="v4.html">Webpack 3</a></li>
										<li><a href="v12.html">Webpack 4</a></li>
										<li><a href="v17.html">Webpack 5</a></li>
										<li><a href="v20.html">Webpack 6</a></li>
										<li><a href="v21.html">Webpack 7</a></li>
										<li><a href="v22.html">Webpack 8</a></li>
									</ul>
								</li>
								<li><a href="#feature">Pages <i class="fas fa-angle-down"></i></a>
									<ul class="nav-col-1">
										<li><a href="about.html">About </a></li>
										<li class="st-has-submenu"><a href="contact.html">Contact</a>
											<ul>
												<li><a href="contact.html">Contact 1</a></li>
												<li><a href="contact-2.html">Contact 2</a></li>
											</ul>
										</li>
										<li class="st-has-submenu"><a href="#">Extra</a>
											<ul>
												<li><a href="login.html">Login Page</a></li>
												<li><a href="register.html">Register Page</a></li>
												<li><a href="404.html">404 Page</a></li>
											</ul>
										</li>
										<li><a href="coming-soon.html">Coming Soon Page</a></li>
										<li><a href="docs.html">Documentation</a></li>
									</ul>
								</li>
								<li><a href="blog.html">Blog <i class="fas fa-angle-down"></i></a>
									<ul class="nav-col-1">
										<li><a href="blog.html">Defult</a></li>
										<li><a href="blog-grid.html">Grid</a></li>
										<li><a href="blog-single.html">Single</a></li>
									</ul>
								</li>
								<li><a href="shop.html">Shop <i class="fas fa-angle-down"></i></a>
									<ul class="nav-col-1">
										<li><a href="shop.html">Shop</a></li>
										<li><a href="shop-single.html">Single</a></li>
									</ul>
								</li>
								<li class="st-has-submenu"><a href="#">Elements <i class="fas fa-angle-down"></i></a>
									<ul class="nav-col-2">
										<li><a href="elements-features.html">Features</a></li>
										<li><a href="elements-promo.html">Promo</a></li>
										<li><a href="elements-price.html">Price</a></li>
										<li><a href="elements-screenshots.html">Screenshotsypal</a></li>
										<li><a href="elements-clients.html">Clients</a></li>
										<li><a href="elements-counter.html">Counter</a></li>
										<li><a href="elements-team.html">Team</a></li>
										<li><a href="elements-testimonial.html">Testimonial</a></li>
										<li><a href="elements-video.html">Video</a></li>
										<li><a href="elements-faqs.html">Faqs</a></li>
										<li><a href="elements-subscriptions.html">Subscription Form</a></li>
										<li><a href="elements-contact-form.html">Contact Form</a></li>
									</ul>
								</li>
								<li><a href="https://1.envato.market/c/1267300/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fsaastrend-bootstrap-saas-startup-software-webapp-template%2F22673166" target="_blank" class="st_default_btn m-l-40 m-lg-l-none bg-st-aqua text-st-white">Buy $17</a></li>
							</ul>
						</nav>
					</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section class="st_breadcrumb_wrapper st_breadcrumb_3 bg-polar p-t-200 p-b-130 p-lg-t-150 p-lg-b-90 p-md-t-140 p-md-b-70 p-sm-t-130 p-sm-b-50" style="background-image: url(assets/images/contact/breadcrumb.png);">
			<div class="container">
				<div class="st_breadcrumb_content text-left">
					<h1 class="st-font-34 st-font-lg-30 st-font-sm-24 m-md-b-10 text-haiti"><strong>Article</strong></h1>
					<ul class="list-inline m-0">
						<li><a class="text-st-aqua" href="#"><i class="fas fa-home m-r-10 text-haiti"></i>Home</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li><a class="text-st-aqua" href="#">Page</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li>doc</li>
					</ul>
				</div>
			</div><!--End container -->
		</section><!--End st_breadcrumb_wrapper -->

		<div class="st_doc_area p-t-b-150">
			<div class="container docs_container">
				<div class="row" data-sticky_parent>
					<div class="col-lg-4 col-md-12">
						<div class="st_doc_menu p-t-b-30 p-l-r-15 m-md-b-50" data-sticky_column>
							<ul class="list-inline m-0">
								<li><a href="#directory"><i class="fas fa-angle-right"></i>Directory structure</a>
									<ul class="list-inline m-0 st_doc_submenu">
										<li><a href="#folder_stucture">Folder and files Structure</a></li>
										<li><a href="#folder_gets_started">Folder: get_started</a></li>
									</ul>
								</li>
								<li><a href="#html_structure"><i class="fas fa-angle-right"></i>HTML Structure</a>
									<ul class="list-inline m-0 st_doc_submenu">
										<li><a href="#html_header">Header</a></li>
										<li><a href="#html_body">Body</a></li>
										<li><a href="#html_footer">Footer</a></li>
									</ul>
								</li>
								<li><a href="#sass_compile"><i class="fas fa-angle-right"></i>Sass Compile ( Gulp )</a>
									<ul class="list-inline m-0 st_doc_submenu">
										<li><a href="#working_gulp">Working with gulp</a></li>
										<li><a href="#commands">Gulp Commands</a></li>
										<li><a href="#create_package">Create own package.json</a></li>
										<li><a href="#create_scss">Create a new scss file</a></li>
										<li><a href="#add_spacing">Add new spacing size?</a></li>
									</ul>
								</li>
								<li><a href="#google_map"><i class="fas fa-angle-right"></i>Google Map API</a></li>
								<li><a href="#contact_form"><i class="fas fa-angle-right"></i>Contact Form</a></li>
								<li><a href="#subscription_form"><i class="fas fa-angle-right"></i>Subscription Form</a></li>
								<li><a href="#custom_font"><i class="fas fa-angle-right"></i>Add Custom Font?</a></li>
								<li><a href="#add_plugin"><i class="fas fa-angle-right"></i>Add New Plugin?</a></li>
								<li><a href="#styling"><i class="fas fa-angle-right"></i>Styling</a>
									<ul class="list-inline m-0 st_doc_submenu">
										<li><a href="#create_scss">Create a new scss file</a></li>
										<li><a href="#add_spacing">Add new spacing size?</a></li>
										<li><a href="#add_color">Add new color?</a></li>
										<li><a href="#add_color_class">Add new color class?</a></li>
										<li><a href="#add_font_size">Add new font size?</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-8 col-md-12">
						<div class="st_doc_wrap m-l-20 m-md-l-none">
							<section id="directory" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
							<div class="st_doc_content m-b-25">
								<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">Directory structure</h2>
								<p>SaasTrend is designed for both large and small applications and keeping in mind that, creating it as very easy to use with modern structure.</p>
								<h5>SaasTrend Download package structure</h5>

<pre>
<code class="language-css">saastrend-main-v*
|
├─ template/                Latest released version complete.
├─ docs.html                SaasTrend Docs
├─ demo.html                SaasTrend demo url
├─ Licensing/               SaasTrend License
├─ CHANGELOG.md             SaasTrend Changelog tracker
└─ get_started/             Latest released version:</code>
</pre>
							</div>



							<div id="folder_stucture" class="st_doc_content m-b-25">
								<h3 class="m-b-15 st-font-24">Folder and files Structure</h3>
<pre>
<code class="language-css">saastrend-main-v*
|
├─ template/                Latest released version complete.
|  ├─ assets/               The core module. This is also what you get with
|  |  ├─ js/		        contain js files
|  |  |
|  |  |  |─ bundle.min.js   compiled all js
|  |  |  |─ plugins.min.js  compiled plugins/vendor js
|  |  |  |─ sliderInit.js   saastrend all slider initial js file
|  |  |  |─ saastrend.js    saastrend config js
|  |  |  |─ custom.js       saastrend custom js file for write something you need.
|  |  |
|  |  ├─ css/		        contain css files
|  |  |
|  |  |  |─ bundle.min.css  compiled all css
|  |  |  |─ plugins.min.css compiled plugins/vendor css
|  |  |  |─ saastrend.css   compiled sass/scss file to main stylesheet file
|  |  |  |─ custom.css    	compiled file for write something you need.
|  |  |
|  |  ├─ images/	        contain images/icons files
|  |  ├─ webfonts/	        contain fonts files included font-awesome and et-line
|  └─ **.html               Implicitly loaded dependencies
|
├─ docs.html                SaasTrend Docs
├─ demo.html                SaasTrend demo url
|
└─ get_started/            Latest released version:
	├─ src/                	Latest released version where should you edit or modify
	|  ├─ assets/          	The core module. This is also what you get with
	|  |  ├─ js/		   	contain js files
	|  |  ├─ css/		   	contain css files
	|  |  ├─ sass/		   	contain sass/scss files
	|  |  ├─ images/	   	contain images/icons files
	|  |  ├─ plugins/	   	contain all third party plugins or vendors files
	|  |  ├─ webfonts/	   	contain fonts files included font-awesome and et-line
	|  └─ **.html          	Implicitly loaded dependencies
	|
	├─ gulpfile.js 		    Gulp config files
	└─ package.json		    npm config fil</code>
</pre>
							</div>
							<div id="folder_gets_started" class="st_doc_content m-b-25">
								<h3 class="m-b-15 st-font-24">Folder: get_started</h3>
								<p>get_started is the key folder of SaasTrend where you should edit or modify SaasTrend.</p>
<pre>
<code class="language-css">saastrend-main-v*
|
└─ get_started/            Latest released version:
	├─ src/                	Latest released version where should you edit or modify
	|  ├─ assets/          	The core module. This is also what you get with
	|  |  ├─ js/		   	contain js files
	|  |  ├─ css/		   	contain css files
	|  |  ├─ sass/		   	contain sass/scss files
	|  |  ├─ images/	   	contain images/icons files
	|  |  ├─ plugins/	   	contain all third party plugins or vendors files
	|  |  ├─ webfonts/	   	contain fonts files included font-awesome and et-line
	|  └─ **.html          	Implicitly loaded dependencies
	|
	├─ gulpfile.js 		    Gulp config files
	└─ package.json		    npm config fil</code>
</pre>
							</div>

							</section>
							<section id="html_structure" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">HTML Structure</h2>
									<p>This template is based on a responsive and full screen layout. And it's built using HTML5 standard. </p>
									<p>From beginning of the body staring tag till the ending body end tag, all the codes and texts are used for the Template structure. You can change any text from the template by navigating through the file and localizing each line of text you want to change.</p>							
								</div>
								<div id="html_header" class="st_doc_content m-b-40">
									<h4><strong>Header Structure</strong></h4>
									<p>The <code>head</code> contains the template title, favicon, font links and all the stylesheets it needs. We used two google font <code>Poppins</code> and <code>Oxygen</code>. </p>
									<a class="st_docs_thumbs" href="assets/images/docs/header.png"><img src="assets/images/docs/header.png" alt=""></a>
								</div>
								<div id="html_body" class="st_doc_content m-b-40">
									<h4><strong>Body Structure</strong></h4>
									<p>The <code>body</code> contains all the contents of the template. From the beginning, Every section has different comment. </p>
									<p>If you need to change or customize any section, simply navigate to that section and change whatever you need to change.</p>
									<a class="st_docs_thumbs" href="assets/images/docs/body.png"><img src="assets/images/docs/body.png" alt=""></a>
								</div>
								<div id="html_fooer" class="st_doc_content m-b-40">
									<h4><strong>Footer Structure</strong></h4>
									<a class="st_docs_thumbs" href="assets/images/docs/footer.png"><img src="assets/images/docs/footer.png" alt=""></a>
								</div>
							</section>
							<section id="sass_compile" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to edit and compiled sass/scss files</h2>
									<p>You will find scss file in get_started/src/assets/sass/ folder and feel free to edit whatever file you need to and you can used any kind of compiler to comiple those scss into css. However, we highly recommended to used gulp to do this task. Below we share the info how you can compile scss files into css.</p>
								</div>
								<div id="working_gulp" class="st_doc_content m-b-25">
									<h3 class="m-b-15 st-font-24">Working with Gulp</h3>
									<p><a target="_blank" href="https://gulpjs.com/">Gulp</a> is one of the popular javascript task runner and easiest one.  gulp's use of streams and code-over-configuration makes for a simpler and more intuitive build.</p>
									<h4 class="m-t-40">Installing Gulp</h4>
									<p>To install gulp first you must have <a href="http://nodejs.org/download/">NodeJs installed</a>, NodeJS will have npm (node packaged modules)</p>
									<p class="st-note">Test if you have <code>node.js</code> installed in your PC by running the following command <code>node -v</code>. If that shows the node.js version, this means you have node.js installed.</p>

									<h6>If <code>node -v</code> command not found in your command line then follow the links to install node.js on your machine</h6>
									<br>
									<a target="_blank" class="d-block" href="https://treehouse.github.io/installation-guides/mac/node-mac.html">Installing Node.js and NPM on Mac</a>
									<a target="_blank" class="d-block" href="https://treehouse.github.io/installation-guides/windows/node-windows.html">Installing Node.js and NPM on Windows</a>
									<a target="_blank" class="d-block" href="https://treehouse.github.io/installation-guides/linux/node-linux.html">Installing Node.js and NPM on Linux</a>
									<br>
									<p>After successfully installed node.js run the following commands. <b>Note:</b> These commands only works if you have node.js installed.</p>
									<br>
									<ul class="list-inline m-l-r-0 m-b-15 p-l-50">
										<li>Install <code>gulp</code> globally by running the following command <code>npm install -g gulp</code></li>
										<li>In your downloaded package from themeforest, navigate to get_started folder into your terminal or cmd or Drag the folder into your Command Window.</li>
										<li>Make sure that your are in root directory of your project or get_started folder, then run <code>npm install</code>. </li>
									</ul>
									<a>Or you can watch this video <a target="_blank" href="https://www.youtube.com/watch?v=CxM1RYnCYwM&t=2s">how to install gulp on youtube</a></h5>
									<br>
									<br>
									<p>Once you have succesfully setup now you can use Gulp CLI commands to automate your task</p>
									<h4 id="commands">Commands</h4>
									<br>
									<h5><code>gulp watch</code></h5>
									<p>This will automaically compile the SaasTrend scss, css and js files once the file is saved</p>
									<br>
									<h5><code>gulp build</code></h5>
									<p>This will automatically compile all scss into css and then minify vendor css, js into one files and then moved into a folder called <strong>template</strong> </p>
									<br>
									<h5><code>gulp saas</code></h5>
									<p>This will compile the saastrend scss files once on execute</p>
									<br>
									<h5><code>gulp styles</code></h5>
									<p>This will minify all plugins/vendor stylesheet that are linked in gulpfile.js into a single file called plugins.min.css</p>
									<br>
									<h5><code>gulp fonts</code></h5>
									<p>This will copy fonts that you linked on gulpfile.js font task then automatically paste into assets/webfonts. you don't need to create assest/webfonts manually just follow gulp fonts task setting linking your fonts folder that contain in plugins folder it will be automatically moved for you.</p>
									<p class="st-note">Note: in order to use any font you need to link fonts files properly on font stylesheet. follow one of our fonts stylesheet.</p>
									<br>
									<h5><code>gulp scripts</code></h5>
									<p>This will minify all plugins/vendor js that you linking in gulpfile.js into a single file called plugins.min.js</p>
									<br>
									<h5><code>gulp styles_bundle</code></h5>
									<p>This will minify all css into a single file called bundle.min.css</p>
									<br>
									<h5><code>gulp scripts_bundle</code></h5>
									<p>This will minify all js into a single file called bundle.min.js</p>
									<br>
									<h5><code>gulp scripts_bundle</code></h5>
									<p>This will minify all js into a single file called bundle.min.js</p>
									<br>
									<h5><code>gulp extreme_build</code></h5>
									<p>This will automatically compile all scss into css and then minify vendor css, js into one files and will move into a folder called <strong>template</strong> but in extreme way. it will be automatically add bundle.min.css and bundle.min.js on header.</p>
									<br>
									<h5><code>gulp html_minify</code></h5>
									<p>This will minify html files that include in <strong>template</strong> folder</p>
									<br>
									<p>Your are free to customize the Gulp task to your need by editing the gulpfile.js</p>
									<h4>
									<br>
									<div class="embed-responsive embed-responsive-16by9">
									  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CWbdSChC7dA" allowfullscreen></iframe>
									</div>
									<br>
									<br>
									Troubleshooting </h4>
									<p>Should you encounter problems with installing dependencies or running Gulps commands, first delete the <code>/node_modules/</code> directory generated by npm. Then, rerun <code>npm install</code>.</p>
								</div>
								<div id="create_package" class="st_doc_content m-b-25">
									<h3 class="m-b-15 st-font-24">Working gulp without our package.json</h3>
									<p>If you wish not to use our package.json that also cool but in order to used our gulp config file <code>gulpfile.js</code> you need to download dependencies that we used in gulpfile.js. to download and make your own new package.json follo the steps</p>
	
									<ul class="list-inline m-l-r-0 m-b-15 p-l-50">
										<li>First navigate your working directory for saastrend it get_started folder</li>
										<li>When you navigate your working directory correctly run <code>npm init</code> in cmd or terminal. it will create a new package.json file for you.</li>
										<li>After succesfully create package.json you need to install gulp locally to do so run <code>npm install -g gulp</code></li>
										<li>After finising gulp download run <code>npm i -D del gulp-concat gulp-csso gulp-html-replace gulp-htmlmin gulp-rename gulp-sass gulp-sourcemaps gulp-uglify-es merge-stream run-sequence</code></li>
										<li>After finishing all dependencies download copy our gulpfile.js and page into your working directory then you good to go.</li>
										<li>See above we share our build command that we setup in gulpfile.js.</li>
									</ul>
									
								</div>
							</section>

							<section id="google_map" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to set your google map api and map coordinates?</h2>
									<p>You need to first set your own google map api key in order to work with google map. If you don't have any google map api key get one from <a href="https://developers.google.com/maps/documentation/javascript/get-api-key" target="_blank">https://developers.google.com/maps/documentation/javascript/get-api-key</a></a>. When you have google map api key then open <code>get_started/src/assets/js/custom.js</code> line no 11 and replace your key with existing one.</p>
								</div>
							</section>

							<section id="contact_form" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to set your email for recive contact form's entry?</h2>
									<p>Open <code>get_started/src/assets/php/config.php</code> line no 4 and change <code>CONTACT_FORM_RECIPIENT</code> value with your email address. You can also modify default subject value as well.</p>
								</div>
							</section>

							<section id="subscription_form" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to revice subscription to your Mailchimp account?</h2>
									<p>You need to first set your own Mailchimp api key in order to work with subscription form. If you don't have Mailchimp api key get one. Here is a tutorial that help you to get your mailchimp api key <a href="https://wpsmackdown.com/mailchimp-api-key/" target="_blank">https://wpsmackdown.com/mailchimp-api-key/</a></a>. When you have your Mailchimp api key then open <code>get_started/src/assets/js/custom.js</code> line no 12 and change <code>mailchimpUrl</code> value with your Mailchimp api key.</p>
									<p>For more details visit <a href="https://github.com/scdoshi/jquery-ajaxchimp" target="_blank">https://github.com/scdoshi/jquery-ajaxchimp</a></p>
								</div>
							</section>
							
							<section id="custom_font" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to add new custom font?</h2>
									<p>The @font-face rule allows custom fonts to be loaded on a webpage. Once added to a stylesheet, the rule instructs the browser to download the font from where it is hosted, then display it as specified in the CSS.</p>

									<p>Without the rule, our designs are limited to the fonts that are already loaded on the particular HTML file header. </p>

									<h4><strong>How to add custom font to the website:</strong></h4>
									<p>We will use @fontface technology to add new font. Find the custom font that you want to add to website and download it (file .ttf). Different browsers supports different font formats, to add custom font to website and to have correct displaying on every browser you have to generate your font. For example, there are different formats like EOT, TTF, OTF, SVG, WOFF. To get all needed file extensions we need to use Font Face generator.</p>

									<p>Use <a target="_blank" href="https://transfonter.org/">transfonter.org</a> to generate font face. After generating copy all fonts files on your website, in folder... get_started/scr/assets/plugins/fonts/webfonts. Create a file with your font name, and create a folder with "webfonts" inside that folder. make sure this last folder name is "webfonts", this is important to compile font faces. Make sure you have the CSS file in this folder too provided with the downloaded Font Face zip file.</p>

									<p>Now, Open the CSS file and you will find some codes like bellow:</p>
<pre><code class="language-css">@font-face {
	font-family: 'MyWebFont';
	src: url('webfont.eot');
	src: url('webfont.eot?#iefix') format('embedded-opentype'),
		url('webfont.woff2') format('woff2'),
		url('webfont.woff') format('woff'),
		url('webfont.ttf')  format('truetype'),
		url('webfont.svg#svgFontName') format('svg');
}</code></pre>

									<p>Just change the structure with <code>../webfonts/</code> before the font name. For example:</p>
<pre><code class="language-css">@font-face {
	font-family: 'MyWebFont';
	src: url('../webfonts/webfont.eot');
	src: url('../webfonts/webfont.eot?#iefix') format('embedded-opentype'),
		url('../webfonts/webfont.woff2') format('woff2'),
		url('../webfonts/webfont.woff') format('woff'),
		url('../webfonts/webfont.ttf')  format('truetype'),
		url('../webfonts/webfont.svg#svgFontName') format('svg');
}</code></pre>

									<p>Then navigate to the "get_started" folder and find "gulpfile.js" file. Open it with a text editor and find the comment "// CLONE ALL WEBSFONT TO ASSETS/FONTS/ FOLDER"</p>

									<p>Add a new line with this format <code>'src/assets/plugins/your-font/webfonts/**/*',</code> where "your-font" is the folder name you created to store your generated fonts.</p>

									<p>After that, there is another section with comment "// GULP TASK FOR MINIFY AND CONCAT ALL EXTERNAL PLUGINS STYLES FILES TO ONE CALLED PLUGINS.CSS". Add a new line with this format <code>'src/assets/plugins/your-font/webfonts/stylesheet.css',</code> where "your-font" is the folder name you created to store your generated fonts and "stylesheet.css" is the CSS file you have for your custom fonts.</p>

									<p>After finishing above process run <code>gulp fonts</code> and <code>gulp styles</code> in terminal/cmd</p>
									<p>Now you can use the font family in your css/scss file with this way</p>

<pre><code class="language-css">.your-class {
	font-family: 'MyWebFont', Arial, sans-serif;
	font-weight:normal;
}</code></pre>
								</div>
							</section>
							<section id="add_plugin" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to add new plugins?</h2>
									<p>We store all vendor or third party plugins in one folder called plugins</p>
									<p>In order to include a new plugin create a folder in get_started/src/assets/plugins and then put your new plugins file in it.</p>
									<p>Now you need to link into gulpfile.js order to work with our automate workflow. Open gulpfile.js and find gulp task <code>styles</code> and <code>scripts</code> now add your stylesheet or scripts file on those task properly.</p>
									<a class="st_docs_thumbs" href="assets/images/docs/plugins.png"><img src="assets/images/docs/plugins.png" alt=""></a>
									<br>
									<br>
									<p class="st-note"><strong>Note</strong>: if plugin have any image that called in plugin stylesheet then you need to re-write those image calling. something like <code>background-image: url(../images/plugin-name/name.png);</code> places all plugin images into assets/images folder with plugin-name</p>
								</div>
							</section>
							
							<section id="styling" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to you overwrite or add new styles in saastrend?</h2>
									<p>Only for this reason we already place custom.css in css folder. you can add your css there.</p>
								</div>
							</section>
							<section id="create_scss" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to add new scss file in sass folder?</h2>
									<p>First create a file with .scss extensionn then link that scss file properly in <code>_theme.scss</code></p>
								</div>
							</section>
							<section id="add_spacing" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to add new spacing size?</h2>
									<p>Open <code>get_started/src/assets/sass/setup/_sections.scss</code> then you will be find like this. Add you own size and then compile sass with <code>gulp sass</code> into terminal/cmd</p>
									<a class="st_docs_thumbs" href="assets/images/docs/spacing.png"><img src="assets/images/docs/spacing.png" alt=""></a>
								</div>
							</section>
							<section id="add_color" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to add new color?</h2>
									<p>Open <code>get_started/src/assets/sass/utility/_variables.scss</code> then you will be find like this. Add you own color and then compile sass with <code>gulp sass</code> into terminal/cmd</p>
									<a class="st_docs_thumbs" href="assets/images/docs/color.png"><img src="assets/images/docs/color.png" alt=""></a>
								</div>
							</section>
							<section id="add_color_class" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to add new color class?</h2>
									<p>Open <code>get_started/src/assets/sass/utility/_variables.scss</code> then add your own color name on <code>$colors</code> and then compile sass with <code>gulp sass</code> into terminal/cmd</p>
									<a class="st_docs_thumbs" href="assets/images/docs/color-class.png"><img src="assets/images/docs/color-class.png" alt=""></a>
								</div>
							</section>
							<section id="add_font_size" class="st-doc-single-wrapper m-b-100 m-md-b-75 m-sm-b-50">
								<div class="st_doc_content m-b-40">
									<h2 class="st-font-34 st-font-lg-30 st-font-sm-24">How to add new font size?</h2>
									<p>Open <code>get_started/src/assets/sass/utility/_variables.scss</code> then add your own font size on <code>$font-size</code> and then compile sass with <code>gulp sass</code> into terminal/cmd. if you need to pass line-height then pass as key otherwise it should be "null" follow the example</p>
									<a class="st_docs_thumbs" href="assets/images/docs/font-size.png"><img src="assets/images/docs/font-size.png" alt=""></a>
								</div>
							</section>
							
				
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_doc_area --> 

		<footer id="contact" class="st_default_footer_area bg-ebony-clay st_subscribe_fotter st_section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo-11.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-primary">Links</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-primary">Support</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-primary">Contact</h3>
								</div>
								<div class="st_social_icon text-st-white">
									<p>info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->
			

		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>