{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="stick-menu"></div>
<header class="st_header_area sticky-bg-clear-day">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
                <div class="st_logo">
                    <a href="#"><img src="{% static 'assets/images/logo/st_logo-04.png' %}" alt="St Logo"></a>
                </div>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
                <div class="st_nav_wrapper st-mean-emerald">
                    <div class="st_menu text-hover-emerald">
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="#download">Download</a></li>
                            <li><a href="#faqs">Faqs</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#" class="st_default_btn bg-emerald bg-hover-st-aqua m-l-40 m-lg-l-none">SIGN
                                IN</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</header>
<!--End st_header_area -->

<section id="home" class="st_banner_area st-background-wrap bg-clear-day"
         style="background-image: url({% static 'assets/images/v5/banner-bg.png' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 d-flex justify-content-start align-items-center height-100vh-full-screen st-height-md-inherit">
                <div class="st_banner_waraper m-md-t-200 st-text-md-center">
                    <div class="st_banner_content color_black align_item br-md-none">
                        <h1 class="st-font-sm-34">Share Your Ride<br/> Earn Money With <span class="text-emerald">Sawari!</span>
                        </h1>
                        <p>Share a ride <br/>Earn and contribute to Society.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-center justify-content-end height-100vh-full-screen st-height-md-inherit">
                <div class="st_banner_tab st-width-90 st-width-md-70 st-width-sm-100 st-side-md-auto m-md-b-80 wow fadeInUp"
                     data-wow-delay="0.3s">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="st_custom-tab">
                            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link p-t-b-15 active" id="pills-driver-tab" data-toggle="pill"
                                       href="#pills-driver" role="tab" aria-controls="pills-driver"
                                       aria-selected="true">DRIVER</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane show active" id="pills-driver" role="tabpanel"
                             aria-labelledby="pills-driver-tab">
                            <div class="st_contact_waraper">
                                <h3 class="text-center">SIGN UP AS DRIVER</h3>
                                <form class="st_contact_form_box" action="#" method="POST" name="myForm">
                                    {% csrf_token %}
                                    {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    {{errors}}
                                    {% endfor %}
                                    {% endif %}
                                    {% for field in form %}
                                    <div class="st_input_item">
                                        {{field}}
                                        <small>{{field.errors|striptags}}</small>
                                    </div>
                                    {% endfor %}
                                    <div class="st_input_item">
                                        <input type="submit" class="shadow-none bg-emerald bg-hover-st-aqua"
                                               value="Submit" data-toggle="model" data-target="#modelLoginForm">
                                    </div>


                                    {% if messages %}

                                    {% for message in messages %}
                                    {% if message.tags %}
                                    <div class="alert alert-{{message.tags}}" role="alert">

                                        {{ message }}

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</section>
<!--End st_banner_area -->
<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglepopup()">&times;</div>
        <h1>iTSoch Info</h1>
        <p>Thank You For submitting <br>For more detail 9800991847</p>
    </div>
</div>
<!--<button onclick="togglepopup()">show page</button>-->
{% if success is True %}
<script>
function togglepopup(){
        document.getElementById("popup-1").classList.toggle("active");
    }
togglepopup();

</script>
{% endif %}

<div class="st_promo_area st_section_padding st_promo_center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <a href="#" class="st_single_prom_item m-sm-b-100 st_single_prom_item_v3 wow fadeInUp"
                   data-wow-delay="0.3s">
                    <div class="st_promo_icon">
                        <img src="{% static 'assets/images/v5/promo-01.jpg' %}" alt="">
                    </div>
                    <article class="st_promo_content">
                        <h3><strong>Select your Ride</strong></h3>
                        <p>Sawari features the best rates and the largest fleets of sawaris in Itahari, ranging from
                            budget-friendly e-rickshaws to luxury taxis.
                        </p>
                    </article>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#" class="st_single_prom_item m-sm-b-100 st_single_prom_item_v3 wow fadeInUp"
                   data-wow-delay="0.5s">
                    <div class="st_promo_icon">
                        <img src="{% static 'assets/images/v5/promo-02.jpg' %}" alt="">
                    </div>
                    <article class="st_promo_content">
                        <h3><strong>Select your Destination</strong></h3>
                        <p>Choose your pick-up and drop-off locations to get your estimated fare.
                        </p>
                    </article>
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <a href="#" class="st_single_prom_item m-sm-b-100 st_single_prom_item_v3 wow fadeInUp"
                   data-wow-delay="0.7s">
                    <div class="st_promo_icon">
                        <img src="{% static 'assets/images/v5/promo-03.jpg' %}" alt="">
                    </div>
                    <article class="st_promo_content">
                        <h3><strong>Cash Payment</strong></h3>
                        <p>After reaching your desired location, pay via cash. Sawari wallet will be available soon for
                            e-payment as well. </p>
                    </article>
                </a>
            </div>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</div>
<!--End st_promo_area -->

<div id="about" class="st_ride_location st_section_padding top_0">
    <div class="container">
        <div class="st_ride_waraper text-center wow fadeInUp" data-wow-delay="0.3s">
            <img src="{% static 'assets/images/v5/ride-location.jpg' %}" alt="">
            <h2 class="st-font-34 font-weight-light br-sm-none">We got over <span class="text-emerald font-weight-bold">500+</span>
                Driver<br/>& <span class="text-emerald font-weight-bold">2000+</span> Users in <span
                        class="text-emerald font-weight-bold">1</span> City</h2>
        </div>
    </div>
    <!--End container -->
</div>
<!--End st_ride_location -->

<div id="download" class="st_app_download_area bg-clear-day st-background-wrap"
     style="background-image: url({% static 'assets/images/v5/download-bg.png' %});">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-start align-items-center">
                <div class="st_app_download_warap p-md-t-b-100 st-width-md-100 st-text-md-center">
                    <div class="st_app_download_title">
                        <h2 class="st-font-34">Download our app now !</h2>
                        <p>Get 1st Ride free for 1st time login in our app</p>
                    </div>
                    <!-- <div class="st_app_download_subscription st-width-md-80 st-width-sm-100 st-side-md-auto">
                        <div class="st_subscribe st_subscribe_flat st-width-full">
                            <form class="st-form">
                                <input class="st_subscribe_email" placeholder="Enter phone number" required="required" name="PHONE" type="email">
                                <input class="st_subscribe_btn bg-emerald bg-hover-st-aqua" value="SEND APP LINK" type="submit">
                                <div class="st_subscription_info">Please enter a value</div>
                            </form>
                        </div>
                        <div class="st_subscribe_info align_item">
                            <p>(example 01710 XXXXXXX)</p>
                        </div>
                    </div> -->
                    <!-- <div class="st_or text-emerald">or</div> -->
                    <div class="st_app_download_btn">
                        <a class="st_default_btn bg-st-white" href="#"><img
                                src="{% static 'assets/images/v5/google-play.png' %}"
                                alt=""></a>
                        <a class="st_default_btn bg-haiti" href="#"><img
                                src="{% static 'assets/images/v5/app-store.png' %}"
                                alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-end align-items-end">
                <div class="st_app_download_sidebar st-d-md-none wow fadeInUpBig" data-wow-delay="0.3s">
                    <img src="{% static 'assets/images/v5/download-single-img.png' %}" alt="">
                </div>
            </div>
        </div>
        <!--End row -->
    </div>
    <!--End container -->
</div>
<!--End st_app_download_area -->

<!-- <section class="st_testimonial_area st_section_padding bottom_0 st-position-wrap">
    <div class="container">
        <div class="st_section_heding_title">
            <h2><span class="text-emerald font-weight-bold">2000+</span> people share their experience</h2>
        </div>
        <div class="st_testimonial_slider_v3 owl-carousel owl-theme">
            <div class="st_testimonial_item text-center">
                <div class="st_testimonial_client">
                    <div class="client_img">
                        <img src="assets/images/slider-01.jpg" alt="">
                    </div>
                </div>
                <div class="st_testimonial_content">
                    <p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
                    <h3>Jhon Certer, <span>San francisco</span></h3>
                </div>
                <div class="st_quote">
                    <img src="assets/images/v5/quote.png" alt="">
                </div>
            </div>
            <div class="st_testimonial_item text-center">
                <div class="st_testimonial_client">
                    <div class="client_img">
                        <img src="assets/images/slider-02.jpg" alt="">
                    </div>
                </div>
                <div class="st_testimonial_content">
                    <p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
                    <h3>Jhon Certer, <span>San francisco</span></h3>
                </div>
                <div class="st_quote">
                    <img src="assets/images/v5/quote.png" alt="">
                </div>
            </div>
            <div class="st_testimonial_item text-center">
                <div class="st_testimonial_client">
                    <div class="client_img">
                        <img src="assets/images/slider-03.jpg" alt="">
                    </div>
                </div>
                <div class="st_testimonial_content">
                    <p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
                    <h3>Jhon Certer, <span>San francisco</span></h3>
                </div>
                <div class="st_quote">
                    <img src="assets/images/v5/quote.png" alt="">
                </div>
            </div>
        </div>
    </div> -->
<!--- End container -->
<!-- <div class="st_online_community_item st_online_community_item_v4">
        <div class="st_single_item item_1">
            <img src="assets/images/v5/01.jpg" alt="">
        </div>
        <div class="st_single_item item_2">
            <img src="assets/images/v5/02.jpg" alt="">
        </div>
        <div class="st_single_item item_3">
            <img src="assets/images/v5/03.jpg" alt="">
        </div>
        <div class="st_single_item item_4">
            <img src="assets/images/v5/03.jpg" alt="">
        </div>
        <div class="st_single_item item_5">
            <img src="assets/images/v5/03.jpg" alt="">
        </div>
        <div class="st_single_item item_6">
            <img src="assets/images/v5/05.jpg" alt="">
        </div>
        <div class="st_single_item item_7">
            <img src="assets/images/v5/04.jpg" alt="">
        </div>
        <div class="st_single_item item_8">
            <img src="assets/images/v5/01.jpg" alt="">
        </div>
    </div>
</section> -->
<!--- End st_testimonial_area -->

<!-- <div class="st_client_area st_v5 st_section_padding">
    <div class="container">
        <div class="st_section_heding_title">
            <h2><span class="text-emerald font-weight-bold">50+</span> trusted us for our service & partnership</h2>
        </div>
        <div class="st_client_slider owl-carousel owl-theme">
            <div class="st_client_slider_item">
                <img src="assets/images/client-01.png" alt="">
            </div>
            <div class="st_client_slider_item">
                <img src="assets/images/client-02.png" alt="">
            </div>
            <div class="st_client_slider_item">
                <img src="assets/images/client-03.png" alt="">
            </div>
            <div class="st_client_slider_item">
                <img src="assets/images/client-04.png" alt="">
            </div>
            <div class="st_client_slider_item">
                <img src="assets/images/client-01.png" alt="">
            </div>
        </div>
    </div>
</div> -->

<!--- End st_client_area -->

<div id="faqs" class="st_faq_area st_section_padding bg-polar">
    <div class="container">
        <div class="st_section_heding_title">
            <h2>Frequently ask question about <span>Sawari!</span></h2>
            <p>Lets see how it works with full fuctionality with more acessable things</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="st_faq_item">
                    <div class="st_faq_single_item">
                        <i class="fas fa-question-circle text-emerald"></i>
                        <h3><strong>How do I get rides from Sawari?</strong></h3>
                    </div>
                    <div class="st-faq-content">
                        <p>In order to use the service as a client, one has to download the Sawari app. You can book a
                            ride in just 2 taps. Select your pick-up and drop-off locations and confirm the ride with an
                            estimated fare shown aside. Sawari will
                            find you the available driver and you can know your driver’s location and estimated time of
                            arrival in real time. The request for rides can only be made through the application. We
                            have no provision of matching the client
                            with a Sawari partner by any other means. Also, please make sure you have an internet
                            connection when you make a booking.
                        </p>
                    </div>
                </div>
                <div class="st_faq_item">
                    <div class="st_faq_single_item">
                        <i class="fas fa-question-circle text-emerald"></i>
                        <h3><strong>How do I give rides to earn money?
                        </strong></h3>
                    </div>
                    <div class="st-faq-content">
                        <p>You have to become a Sawari partner to give rides and earn money.To become a Sawari partner,
                            download the Sawari Partner app from Playstore, sign up with your phone number & upload the
                            required documents. You can also sign
                            up from the website. Please bring the following documents during your training session:
                            Valid License (professional/non-professional), Valid Bluebook, Valid Registration paper. For
                            more details, please attend the training
                            sessions. The link to Safari partner app is:
                        </p>
                    </div>
                </div>
                <div class="st_faq_item">
                    <div class="st_faq_single_item">
                        <i class="fas fa-question-circle text-emerald"></i>
                        <h3><strong>Can I use the same mobile number to use both Sawari and Sawari partner
                            apps?</strong></h3>
                    </div>
                    <div class="st-faq-content">
                        <p>Yes, you can use same mobile number to use both the app. However, the process to sign up is
                            different. You will have to sign up on both the apps separately using the process mentioned
                            above. If you have signed up only in the
                            Sawari app, do not expect the same account to work in the Sawari partner app. You have to
                            sign up again for the Sawari partner app following the required procedures even if you use
                            the same mobile number.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="st_faq_item">
                    <div class="st_faq_single_item">
                        <i class="fas fa-question-circle text-emerald"></i>
                        <h3><strong>Do I have to turn on Mobile data throughout my journey?
                        </strong></h3>
                    </div>
                    <div class="st-faq-content">
                        <p>For clients, you have to turn on the mobile data or have an internet connection till the
                            driver accepts your ride request. After that it is optional. However, if you still want to
                            turn on your mobile data throughout the ride,
                            you get some additional features like knowing the driver status and tracking the driver on
                            the way. For the driver, yes you will have to turn on your Mobile data throughout the ride.
                            PS: The data cost for using our application
                            for one particular ride of about 5 km is Rs 1. Make sure you have turned off other
                            applications from using your mobile data at that particular time. You can change this in
                            your settings.
                        </p>
                    </div>
                </div>
                <div class="st_faq_item">
                    <div class="st_faq_single_item">
                        <i class="fas fa-question-circle text-emerald"></i>
                        <h3><strong>What if my rider drove dangerously/behaved rudely?
                        </strong></h3>
                    </div>
                    <div class="st-faq-content">
                        <p>For this type of issue, you may ask the rider for slowing down bike speed or you can ask him
                            to park in any safe place then call us immediately or call us at 9810477387. After sharing
                            with us about this issue we will take corrective
                            measures for the rider. Your safety is our first concern.
                        </p>
                    </div>
                </div>
                <div class="st_faq_item">
                    <div class="st_faq_single_item">
                        <i class="fas fa-question-circle text-emerald"></i>
                        <h3><strong>Why is my account suspended? How to appeal?
                        </strong></h3>
                    </div>
                    <div class="st-faq-content">
                        <p>Please call us at our helpline to know the suspension reason and duration. You have to visit
                            our Walk-In-Support center to withdraw your suspension.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--- End row -->
    </div>
    <!--- End container -->
</div>
<!--- End st_faq_area -->

<footer id="contact" class="st_default_footer_area bg-haiti st_subscribe_footer st_section_padding"
        style="background-image: url({% static 'assets/images/footer-shape.png' %});">
    <div class="container">
        <div class="st_subscription_wrapper text-center wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="text-st-white">Subscribe our newsletter for product & promtion</h2>
            <div class="st_subscribe st_subscribe_flat">
                <form id="st-subscription-form" class="st-form">
                    <input id="st-subscription-email" class="st_subscribe_email" placeholder="Enter email address"
                           required="required" name="EMAIL" type="email">
                    <input class="st_subscribe_btn bg-emerald bg-hover-aqua" value="subscribe" type="submit">
                    <div class="st_subscription_info">Please enter a value</div>
                </form>
                <label for="st-subscription-email" class="st-subscription-info position-absolute"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="st_footer_logo_warap">
                    <a href="#"><img src="{% static 'assets/images/logo/fotter-logo-02.png' %}" alt=""></a>
                    <!-- <p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p> -->
                </div>
                <div class="st_copyright_content d-lg-block st-d-md-none">
                    <p>All Right Reserved by <a class="text-white" href="https://itsoch.com">iTsoch</a> Copyright &copy;2020
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="row">
                    <!-- <div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6 offset-lg-1">
                        <div class="st_fotter_heding_title">
                            <h3 class="text-emerald">Links</h3>
                        </div>
                        <div class="st_fotter_menu text-st-white">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Doc</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6">
                        <div class="st_fotter_heding_title">
                            <h3 class="text-emerald">Support</h3>
                        </div>
                        <div class="st_fotter_menu text-st-white">
                            <ul>
                                <li><a href="#">Stack Comunity</a></li>
                                <li><a href="#">Support Docs</a></li>
                                <li><a href="#">Help API Docs</a></li>
                                <li><a href="#">Service Satus</a></li>
                                <li><a href="#">Email Contact</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <div class="col-lg-5 col-md-4 m-md-b-60">
                        <div class="st_fotter_heding_title">
                            <h3 class="text-emerald">Contact</h3>
                        </div>
                        <div class="st_social_icon text-st-white">
                            <p class="text-st-primary">info@saastrend.com</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-git-square"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--- End row -->
            </div>
        </div>
        <!--- End row -->
        <div class="d-none st-d-md-block">
            <div class="st_copyright_content text-center">
                <p>All Right Reserved by <a class="text-white" href="https://itsoch.com">iTsoch</a> Copyright &copy;2020
                </p>
            </div>
        </div>
    </div>
    <!--- End container -->
</footer>
<!--- End st_default_footer_area -->


{% endblock content %}
