<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:200,300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>

	<body>

		<div id="stick-menu"></div>
		<header class="st_header_area sticky-box-shadow sticky-bg-st-white bg-st-white">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/fotter-logo-11.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-st-aqua">
							<nav class="st_menu sticky-text-st-white">
								<ul>
									<li class="st-has-submenu"><a href="#home">Demos <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="v10.html">Github</a></li>
											<li><a href="v7.html">Bootstrap</a></li>
											<li><a href="v2.html">Slack</a></li>
											<li><a href="v14.html">Paypal</a></li>
											<li><a href="v13.html">Uber</a></li>
											<li><a href="v8.html">Trello</a></li>
											<li><a href="v6.html">Skype</a></li>
											<li><a href="v11.html">Gmail</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v16.html">Dropbox</a></li>
											<li><a href="v1.html">Webpack 1</a></li>
											<li><a href="v3.html">Webpack 2</a></li>
											<li><a href="v4.html">Webpack 3</a></li>
											<li><a href="v12.html">Webpack 4</a></li>
											<li><a href="v17.html">Webpack 5</a></li>
											<li><a href="v20.html">Webpack 6</a></li>
										</ul>
									</li>
									<li><a href="#feature">Pages <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="about.html">About </a></li>
											<li class="st-has-submenu"><a href="contact.html">Contact</a>
												<ul>
													<li><a href="contact.html">Contact 1</a></li>
													<li><a href="contact-2.html">Contact 2</a></li>
												</ul>
											</li>
											<li class="st-has-submenu"><a href="#">Extra</a>
												<ul>
													<li><a href="login.html">Login Page</a></li>
													<li><a href="register.html">Register Page</a></li>
													<li><a href="404.html">404 Page</a></li>
												</ul>
											</li>
											<li><a href="coming-soon.html">Coming Soon Page</a></li>
											<li><a href="docs.html">Documentation</a></li>
										</ul>
									</li>
									<li><a href="blog.html">Blog <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="blog.html">Defult</a></li>
											<li><a href="blog-grid.html">Grid</a></li>
											<li><a href="blog-single.html">Single</a></li>
										</ul>
									</li>
									<li><a href="shop.html">Shop <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-1">
											<li><a href="shop.html">Shop</a></li>
											<li><a href="shop-single.html">Single</a></li>
										</ul>
									</li>
									<li class="st-has-submenu"><a href="#">Elements <i class="fas fa-angle-down"></i></a>
										<ul class="nav-col-2">
											<li><a href="elements-features.html">Features</a></li>
											<li><a href="elements-promo.html">Promo</a></li>
											<li><a href="elements-price.html">Price</a></li>
											<li><a href="elements-screenshots.html">Screenshotsypal</a></li>
											<li><a href="elements-clients.html">Clients</a></li>
											<li><a href="elements-counter.html">Counter</a></li>
											<li><a href="elements-team.html">Team</a></li>
											<li><a href="elements-testimonial.html">Testimonial</a></li>
											<li><a href="elements-video.html">Video</a></li>
											<li><a href="elements-faqs.html">Faqs</a></li>
											<li><a href="elements-subscriptions.html">Subscription Form</a></li>
											<li><a href="elements-contact-form.html">Contact Form</a></li>
										</ul>
									</li>
									<li><a href="https://1.envato.market/c/1267300/275988/4415?u=https%3A%2F%2Fthemeforest.net%2Fitem%2Fsaastrend-bootstrap-saas-startup-software-webapp-template%2F22673166" target="_blank" class="st_default_btn m-l-40 m-lg-l-none bg-st-aqua text-st-white">Buy $17</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section class="st_breadcrumb_wrapper st_breadcrumb_3 bg-polar p-t-150 p-b-60 p-lg-t-120 p-md-t-100 p-lg-b-40">
			<div class="container">
				<div class="st_breadcrumb_content text-center">
					<h1 class="st-font-34 st-font-lg-30 st-font-sm-24 m-md-b-10 text-haiti st-line-height-1"><strong>Shop Page</strong></h1>
					<ul class="list-inline m-0">
						<li><a class="text-st-aqua" href="#"><i class="fas fa-home m-r-10 text-haiti"></i>Home</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li><a class="text-st-aqua" href="#">Page</a></li>
						<li class="breadcrumb-seperator text-haiti"></li>
						<li>Shop</li>
					</ul>
				</div>
			</div><!--End container -->
		</section><!--End st_breadcrumb_wrapper --> 

		<div class="st_commerce_shop_area st_section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="st_commerce_shop_item m-b-80 text-center">
							<div class="st_commerce_shop_thumb bg-polar">
								<a href="#"><img src="assets/images/shop/shop-01.png" alt=""></a>
								<div class="st_commerce_add_to_cart bg-polar">
									<a class="st_default_btn bg-polar text-haiti m-r-none border-0" href="#">QUICK VIEW</a>
									<a class="st_default_btn bg-st-aqua" href="#">ADD TO CART</a>
								</div>
							</div>
							<div class="st_commerce_shop_content">
								<a href="#"><h2 class="st-font-24 st-font-sm-18 m-b-10">Boxer Zen Loo</h2></a>
								<div class="st-font-24 text-haiti m-b-10"><strong><span>$</span>300</strong></div>
								<ul class="list-inline m-0">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_commerce_shop_item m-b-80 text-center">
							<div class="st_commerce_shop_thumb bg-polar">
								<a href="#"><img src="assets/images/shop/shop-01.png" alt=""></a>
								<div class="st_commerce_add_to_cart bg-polar">
									<a class="st_default_btn bg-polar text-haiti m-r-none border-0" href="#">QUICK VIEW</a>
									<a class="st_default_btn bg-st-aqua" href="#">ADD TO CART</a>
								</div>
							</div>
							<div class="st_commerce_shop_content">
								<a href="#"><h2 class="st-font-24 st-font-sm-18 m-b-10">Mi Max men T-Shirt</h2></a>
								<div class="st-font-24 text-haiti m-b-10"><strong><span>$</span>300</strong></div>
								<ul class="list-inline m-0">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_commerce_shop_item m-b-80 text-center">
							<div class="st_commerce_shop_thumb bg-polar">
								<a href="#"><img src="assets/images/shop/shop-02.png" alt=""></a>
								<div class="st_commerce_add_to_cart bg-polar">
									<a class="st_default_btn bg-polar text-haiti m-r-none border-0" href="#">QUICK VIEW</a>
									<a class="st_default_btn bg-st-aqua" href="#">ADD TO CART</a>
								</div>
							</div>
							<div class="st_commerce_shop_content">
								<a href="#"><h2 class="st-font-24 st-font-sm-18 m-b-10">Polo Men Clasic T-Shirt</h2></a>
								<div class="st-font-24 text-haiti m-b-10"><strong><span>$</span>300</strong></div>
								<ul class="list-inline m-0">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_commerce_shop_item m-b-80 text-center">
							<div class="st_commerce_shop_thumb bg-polar">
								<a href="#"><img src="assets/images/shop/shop-03.png" alt=""></a>
								<div class="st_commerce_add_to_cart bg-polar">
									<a class="st_default_btn bg-polar text-haiti m-r-none border-0" href="#">QUICK VIEW</a>
									<a class="st_default_btn bg-st-aqua" href="#">ADD TO CART</a>
								</div>
							</div>
							<div class="st_commerce_shop_content">
								<a href="#"><h2 class="st-font-24 st-font-sm-18 m-b-10">Ry max modern T-Shirt</h2></a>
								<div class="st-font-24 text-haiti m-b-10"><strong><span>$</span>300</strong></div>
								<ul class="list-inline m-0">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_commerce_shop_item m-b-80 text-center">
							<div class="st_commerce_shop_thumb bg-polar">
								<a href="#"><img src="assets/images/shop/shop-04.png" alt=""></a>
								<div class="st_commerce_add_to_cart bg-polar">
									<a class="st_default_btn bg-polar text-haiti m-r-none border-0" href="#">QUICK VIEW</a>
									<a class="st_default_btn bg-st-aqua" href="#">ADD TO CART</a>
								</div>
							</div>
							<div class="st_commerce_shop_content">
								<a href="#"><h2 class="st-font-24 st-font-sm-18 m-b-10">Polo Men Classic T-Shirt</h2></a>
								<div class="st-font-24 text-haiti m-b-10"><strong><span>$</span>300</strong></div>
								<ul class="list-inline m-0">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_commerce_shop_item m-b-80 text-center">
							<div class="st_commerce_shop_thumb bg-polar">
								<a href="#"><img src="assets/images/shop/shop-05.png" alt=""></a>
								<div class="st_commerce_add_to_cart bg-polar">
									<a class="st_default_btn bg-polar text-haiti m-r-none border-0" href="#">QUICK VIEW</a>
									<a class="st_default_btn bg-st-aqua" href="#">ADD TO CART</a>
								</div>
							</div>
							<div class="st_commerce_shop_content">
								<a href="#"><h2 class="st-font-24 st-font-sm-18 m-b-10">Polo Men Honor T-Shirt</h2></a>
								<div class="st-font-24 text-haiti m-b-10"><strong><span>$</span>300</strong></div>
								<ul class="list-inline m-0">
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
									<li><i class="fas fa-star"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
				<div class="st_pagination_wrap d-flex justify-content-between align-items-center p-t-90 p-lg-t-60 p-md-t-40">
					<div class="st_single_pagination order-0">
						<a class="st_pagination font-weight-medium d-inline-block p-t-b-25 p-l-r-35 text-haiti st-font-14 bg-polar" href="#"><i class="fas fa-arrow-left text-st-aqua m-r-10"></i>PREV PAGE</a>
					</div>
					<div class="st_single_pagination order-lg-2 order-md-1">
						<a class="st_pagination font-weight-medium d-inline-block p-t-b-25 p-l-r-35 text-haiti st-font-14 bg-polar" href="#">NEXT PAGE<i class="fas fa-arrow-right text-st-aqua m-l-10"></i></a>
					</div>
					<div class="st_single_pagination order-lg-1 order-md-2 st-text-md-center m-md-t-40">
						<ul class="list-inline m-0 st_number_pagenation">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a class="active" href="#">3</a></li>
							<li><a href="#">.</a></li>
							<li><a href="#">.</a></li>
							<li><a href="#">.</a></li>
							<li><a href="#">12</a></li>
							<li><a href="#">13</a></li>
							<li><a href="#">14</a></li>
						</ul>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_commerce_shop_area -->

		<footer class="st_default_footer_area bg-ebony-clay st_subscribe_fotter st_section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo-11.png" alt=""></a>
							<p class="text-french-grey">Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 m-md-b-60 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-primary">Links</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-primary">Support</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-primary">Contact</h3>
								</div>
								<div class="st_social_icon text-st-white">
									<p class="text-st-primary">info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->
		

		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>