<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>

		<div class="st_header_top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 st-text-sm-center">
						<div class="st_header_top_content m-md-b-10">
							<p class='st-font-14 text-st-white'>Welcome to coder community github</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 d-flex d-md-flex d-sm-block d-xs-block justify-content-end st-text-sm-center">
						<div class="st_social_icon text-st-white">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fab fa-git-square"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="st_header-wrapper">
			<div id="stick-menu"></div>
			<header id="st-header-section" class="st_header_area st_header_btn p-t-b-none sticky-box-shadow">
				<div class="st_header_bottom bg-st-white">
					<div class="container">
						<div class="row">
							<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
								<div class="st_logo">
									<a href="#"><img src="assets/images/logo/st_logo-08.png" alt="St Logo"></a>
								</div>
							</div>
							<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
								<div class="st_nav_wrapper st_nav_wrapper_v2 st-mean-emerald text-right">
									<div class="st_menu text-hover-emerald d-inline-block d-lg-inline-block d-md-none d-sm-none d-xs-none">
										<ul>
											<li><a href="#home">Home</a></li>
											<li><a href="#about">About</a></li>
											<li><a href="#choose">why choose</a></li>
											<li><a href="#pricing">pricing</a></li>
											<li><a href="#contact">Contact</a></li>
											<li class="m-l-r-none"><a href="#" class="st_default_btn sign_up st_plain_text text-emerald text-hover-emerald border-emerald">Register</a></li>
											<li class="m-l-r-none"><a href="#" class="st_default_btn sing_in bg-emerald bg-hover-st-aqua">Sign in</a></li>
										</ul>
									</div>
									<div class="st_menu_sign d-inline-block m-l-40 m-lg-l-15">
										<a class="st_header_search" href="#"><i class="fas fa-search"></i></a>
									</div>
								</div>
							</div>
						</div><!--End row -->
					</div><!--End container -->
				</div>
			</header><!--End st_header_area -->
		</div>

		<section id="home" class="st_banner_area bg-polar margin-header" style="background-image: url(assets/images/v10/banner-shape.png);">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex justify-content-start align-items-center height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_waraper m-md-t-200 m-md-b-50">
							<div class="st_banner_content color_black align_item">
								<h1 class="st-font-78 m-b-30 st-font-xs-48">Github <br/><span class="st-font-44 font-weight-light st-font-xs-28">work & built for developers</span></h1>
								<p>Continually actualize leading-edge e-tailers without dynamic ideas for convert Conveniently aggregate competitive.</p>
								<a class="st_default_btn text-capitalize bg-emerald bg-hover-st-aqua st_btn_large_shadow" href="#">Get a Free Account</a>
							</div>
						</div>
					</div>
					<div class="col-xl-5 offset-xl-1 col-lg-6 d-flex align-items-center justify-content-end height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_info_box align_item m-md-b-100">
							<div class="st_sidebar_single_item wow fadeInUp" data-wow-delay="0.3s">
								<div class="st_banner_sidebar_icon">
									<img src="assets/images/v10/banner-icon-01.png" alt="">
								</div>
								<div class="st_banner_sidebar_content">
									<h3>WRITE BETTER CODE</h3>
									<p>On GitHub, lightweight code rev tools are built into every pull request.</p>
								</div>
							</div>
							<div class="st_sidebar_single_item wow fadeInUp" data-wow-delay="0.5s">
								<div class="st_banner_sidebar_icon">
									<img src="assets/images/v10/banner-icon-02.png" alt="">
								</div>
								<div class="st_banner_sidebar_content">
									<h3>MANAGE YOUR CHAOS</h3>
									<p>On GitHub, lightweight code rev tools are built into every pull request.</p>
								</div>
							</div>
							<div class="st_sidebar_single_item wow fadeInUp" data-wow-delay="0.7s">
								<div class="st_banner_sidebar_icon">
									<img src="assets/images/v10/banner-icon-03.png" alt="">
								</div>
								<div class="st_banner_sidebar_content">
									<h3>FIND THE RIGHT TOOL</h3>
									<p>On GitHub, lightweight code rev tools are built into every pull request.</p>
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_feature_area st_section_padding p-b-80 p-sm-b-30">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="st_feature_left_item bg-polar m-md-b-80 p-">
							<h2><strong>Lets check</strong> our lot of new features in <span>github!</span></h2>
							<p>Energistically actualize resource for a maximizing methodologies whereas is equity invested resources. Distinctively re-engineer just in time.</p>
							<a class="read_more_btn" href="#">Read More<img src="assets/images/v10/read-more.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="st_feature_item_wrapper p-t-30 text-center">
							<div class="row">
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item wow fadeIn" data-wow-delay="0.3s">
										<img src="assets/images/v10/01.png" alt="">
										<h3>COUSTOMIZE</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item wow fadeIn" data-wow-delay="0.4s">
										<img src="assets/images/v10/02.png" alt="">
										<h3>RESUME</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item wow fadeIn" data-wow-delay="0.5s">
										<img src="assets/images/v10/03.png" alt="">
										<h3>SAVE HISTORY</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item wow fadeIn" data-wow-delay="0.6s">
										<img src="assets/images/v10/04.png" alt="">
										<h3>MULTIPLE</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item wow fadeIn" data-wow-delay="0.3s">
										<img src="assets/images/v10/05.png" alt="">
										<h3>TEAM WORK</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item wow fadeIn" data-wow-delay="0.4s">
										<img src="assets/images/v10/06.png" alt="">
										<h3>SECURITY</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item wow fadeIn" data-wow-delay="0.5s">
										<img src="assets/images/v10/07.png" alt="">
										<h3>DATA MANAGE</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item wow fadeIn" data-wow-delay="0.6s">
										<img src="assets/images/v10/08.png" alt="">
										<h3>MANAGEMENT</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
							</div><!--End row -->
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_v10_feature_area -->

		<div class="st_cta_area text-center p-b-60">
			<div class="container">
				<div class="very-short-width-content m-b-80">
					<h2 class="m-b-30">Github for teams A better way to work together</h2>
					<p class="m-b-40">Professionally reconceptualize process-centric quality vectors for fully researched results. Collaboratively enable revolutionary e-tailers whereas team</p>
					<a href="#" class="st_default_btn text-capitalize bg-emerald bg-hover-st-aqua st_btn_large_shadow">Sign up as your team</a>
				</div>
				<div class="st_cta_img wow fadeInUp" data-wow-delay="0.3s">
					<img src="assets/images/v10/cta.png" alt="">
				</div>
			</div><!--End container -->
		</div><!--End st_v10_cta_area -->

		<div class="st_promo_area st_section_padding top_0 st_promo_center p-sm-b-30">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<a href="#" class="st_single_prom_item m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v2/promo-01.png" alt="">
								<span class="st_promo_counter">1</span>
							</div>
							<article class="st_promo_content">
								<h3><strong>Download Our App</strong></h3>
								<p>Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="#" class="st_single_prom_item m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v2/promo-02.png" alt="">
								<span class="st_promo_counter">2</span>
							</div>
							<article class="st_promo_content">
								<h3><strong>Create a Account</strong></h3>
								<p>Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-12">
						<a href="#" class="st_single_prom_item m-md-t-70 m-sm-t-none m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v2/promo-03.png" alt="">
								<span class="st_promo_counter">3</span>
							</div>
							<article class="st_promo_content">
								<h3><strong>And Start your Jorney</strong></h3>
								<p>Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div class="st_video_area bg-md-haiti">
			<div class="container">
				<div class="st_video_cloumn bg-haiti bgc-md-none wow fadeInLeft" data-wow-delay="0.3s">
					<div class="row ">
						<div class="col-lg-8 d-flex align-items-center">
							<div class="st_video_content st-width-md-80 st-width-sm-100 st-side-md-auto">
								<h2 class="text-st-white m-b-30 st-font-34">Github for teams A better way to work together</h2>
								<p>Professionally reconceptualize process-centric quality vectors for fully researched results for my</p>
							</div>
						</div>
						<div class="col-lg-4 d-flex justify-content-center">
							<div class="st_video_img m-md-t-50">
								<img src="assets/images/v10/video-bg.png" alt="">
								<a class="st_popup_youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
									<img src="assets/images/v10/video-icon.png" alt="">
								</a>
							</div>
						</div>
					</div><!--End row -->
				</div>
			</div><!--End container -->
		</div><!--End st_v10_video_area -->

		<div class="st_team_area st_section_padding p-sm-b-40">
			<div class="container">
				<div class="st_section_heding_title">
					<div class="st_section_title_icon bg-icon rgba-science-blue">
						<img src="assets/images/v10/title-icon.png" alt="">
					</div>
					<h2>Our dedicated developers</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="st_team_item_v2 m-md-b-50 wow fadeInUp" data-wow-delay="0.3s">
							<div class="st_team_member">
								<img src="assets/images/v10/team-01.png" alt="">
							</div>
							<div class="st_team_content">
								<div class="st_team_single_content">
									<h3>Autumn Jacobi</h3>
									<p>WEB DESIGNER</p>
								</div>
								<div class="st_team_social_icon">
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="st_team_item_v2 m-md-b-50 wow fadeInUp" data-wow-delay="0.5s">
							<div class="st_team_member">
								<img src="assets/images/v10/team-02.png" alt="">
							</div>
							<div class="st_team_content">
								<div class="st_team_single_content">
									<h3>Keven Feil</h3>
									<p>PHP DEVELOPER</p>
								</div>
								<div class="st_team_social_icon">
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="st_team_item_v2 m-md-b-50 wow fadeInUp" data-wow-delay="0.7s">
							<div class="st_team_member">
								<img src="assets/images/v10/team-03.png" alt="">
							</div>
							<div class="st_team_content">
								<div class="st_team_single_content">
									<h3>Madaline Gibson</h3>
									<p>REACT DEV</p>
								</div>
								<div class="st_team_social_icon">
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="st_team_item_v2 m-md-b-50 wow fadeInUp" data-wow-delay="0.9s">
							<div class="st_team_member">
								<img src="assets/images/v10/team-04.png" alt="">
							</div>
							<div class="st_team_content">
								<div class="st_team_single_content">
									<h3>Dylan Moore</h3>
									<p>FOUNDER</p>
								</div>
								<div class="st_team_social_icon">
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_v10_team_area -->

		<div class="st_stats_area bg-md-science-blue">
			<div class="container">
				<div class="st_stats_waraper bg-science-blue bgc-md-none p-md-b-50 wow fadeInRight" data-wow-delay="0.3s">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="st_stats_content">
								<h2>100M</h2>
								<p>conversation enable</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="st_stats_content">
								<h2>99.99%</h2>
								<p>network uptime</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="st_stats_content">
								<h2>24/7</h2>
								<p>support</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="st_stats_content">
								<h2>+10yrs</h2>
								<p>trusted service</p>
							</div>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</div><!--- End st_counter_area -->

		<div class="st_client_area st_section_padding p-b-100 p-sm-b-50">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Trusted by 1.8 millions businesses & organizations</h2>
					<p>Professionally incubate reliable manufactured products whereas cross functional e-markets completely.</p>
				</div>
				<div class="st_client_waraper">
					<div class="st_client_item">
						<img src="assets/images/v10/client-01.png" alt="">
					</div>
					<div class="st_client_item margin_bottom">
						<img src="assets/images/v10/client-02.png" alt="">
					</div>
					<div class="st_client_item">
						<img src="assets/images/v10/client-03.png" alt="">
					</div>
					<div class="st_client_item">
						<img src="assets/images/v10/client-04.png" alt="">
					</div>
					<div class="st_client_item">
						<img src="assets/images/v10/client-05.png" alt="">
					</div>
					<div class="st_client_item">
						<img src="assets/images/v10/client-06.png" alt="">
					</div>
					<div class="st_client_item">
						<img src="assets/images/v10/client-07.png" alt="">
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_v10_client_area -->

		<div class="st_pricing_table_area st_section_padding bg-polar">
			<div class="container">
				<div class="st_section_heding_title">
					<div class="st_section_title_icon bg-icon rgba-science-blue">
						<img src="assets/images/v10/title-icon-02.png" alt="">
					</div>
					<h2>Our regulare pricing</h2>
				</div>
				<div class="st_pricing_table_waraper">
					<div class="st_pricing_single_item wow fadeInLeft" data-wow-delay="0.3s">
						<div class="st_pricing_title">
							<h3>FEATURES</h3>
						</div>
						<div class="st_pricing_package">
							<p>Code Saving</p>
						</div>
						<div class="st_pricing_package">
							<p>Team Manage</p>
						</div>
						<div class="st_pricing_package">
							<p>Auto Correct</p>
						</div>
						<div class="st_pricing_package">
							<p>React support</p>
						</div>
						<div class="st_pricing_package">
							<p>Online support</p>
						</div>
						<div class="st_pricing_package">
							<p>C panel</p>
						</div>
						<div class="st_pricing_package">
							<p>Iframe Support</p>
						</div>
						<div class="st_pricing_package st_extra_height"></div>
					</div>
					<div class="st_pricing_single_item wow fadeInRight" data-wow-delay="0.5s">
						<div class="st_pricing_title">
							<h3>FREE PACKAGE</h3>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package"></div>
						<div class="st_pricing_package"></div>
						<div class="st_pricing_package"></div>
						<div class="st_pricing_package"></div>
						<div class="st_pricing_package st_extra_height">
							<a class="st_default_btn st_transparent text-emerald text-hover-st-white" href="#">Subscribe</a>
						</div>
					</div>
					<div class="st_pricing_single_item wow fadeInRight" data-wow-delay="0.7s">
						<div class="st_pricing_title color_blue">
							<h3>PREMIUM PACKAGE</h3>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package">
							<i class="fas fa-check"></i>
						</div>
						<div class="st_pricing_package st_extra_height">
							<a class="st_default_btn bg-emerald" href="#">Subscribe</a>
						</div>
					</div>
				</div>
				<div class="st_bank_card d-flex justify-content-center m-t-35">
					<div class="st_single_bank_card m-l-r-15">
						<img src="assets/images/v10/visa.png" alt="">
					</div>
					<div class="st_single_bank_card m-l-r-15">
						<img src="assets/images/v10/pay.png" alt="">
					</div>
					<div class="st_single_bank_card m-l-r-15">
						<img src="assets/images/v10/master-card.png" alt="">
					</div>
					<div class="st_single_bank_card m-l-r-15">
						<img src="assets/images/v10/paypal.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_v10_pricing_table_area -->

		<div class="st_user_login_area st_section_padding" style="background-image: url(assets/images/v10/user-logi-bg.png);">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Ready to sign up with us?</h2>
					<p>Ready to singn in our site and acess merchent account</p>
				</div>
				<div class="st_user_login">
					<form class="st_contact_form_box" action="#" method="POST">
						<div class="st_input_item wow fadeInUp" data-wow-delay="0.3s">
							<label>EMAIL</label>
							<input type="text" placeholder="Enter Your Email Address">
						</div>
						<div class="st_input_item wow fadeInUp" data-wow-delay="0.5s">
							<label>PASSWORD</label>
							<input type="password" placeholder="Enter Your Password">
						</div>
						<div class="st_input_submit wow fadeInUp" data-wow-delay="0.7s">
							<input type="submit" class="st_default_btn st_default_btn_full p-t-b-20 bg-science-blue text-capitalize" value="Login your github account">
						</div>
					</form>
				</div>
			</div><!--- End container -->
		</div><!--- End st_user_login_area -->


		<footer id="contact" class="st_default_footer_area bg-ebony-clay st_subscribe_fotter st_section_padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 p-md-l-100 p-sm-l-15">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo-06.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 p-md-l-100 p-sm-l-15">
						<div class="row">
							<div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-blue-bell">Links</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6">
								<div class="st_fotter_heding_title">
									<h3 class="text-blue-bell">Support</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-blue-bell">Contact</h3>
								</div>
								<div class="st_social_icon text-st-white">
									<p class="text-st-primary">info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->



		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>