<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>
		
		<div id="stick-menu"></div>
		<header class="st_header_area">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper">
							<nav class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#feature">Features</a></li>
									<li><a href="#download">download</a></li>
									<li><a href="#team">Team</a></li>
									<li><a href="#screenshot">Screenshots</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_areaT -->

		<section id="home" class="st_banner_area st_banner_default st_banner_radius_gradient text-center">
			<div class="container">
				<div class="row">
					<div class="col-12 d-flex justify-content-center height-100vh st-min-1150 st-min-md-900 st-min-sm-auto">
						<div class="st_banner_waraper">
							<div class="st_banner_content m-t-120 m-b-100 m-md-b-25 m-sm-b-100 m-sm-t-50">
								<h1 class="text-st-white st-font-sm-34">The very 1st Saas Project</h1>
								<p class="text-st-fog st-font-18 st-font-sm-16">Continually seize enterprise-wide web-readiness through integrated.</p>
								<a class="st_default_btn bg-emerald-gredient" href="#">DOWNLOAD NOW</a>
								<a class="st_default_btn st_transparent" href="#">HOW IT WORKS</a>
							</div>
							<div class="st_banner_sidebar p-md-t-110 p-xs-t-50 d-md-block d-sm-none d-xs-none">
								<div class="st_banner_single_img_01 st-side-auto wow fadeInDown" data-wow-delay="0.3s">
									<img src="assets/images/macbook-pro.png" alt="">
									<div class="st_banner_small_img">
										<img src="assets/images/v2/banner-img.png" alt="">
									</div>
								</div>
								<div class="st-banner-single-img-02 st-banner-base">
									<img src="assets/images/banner-img.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_promo_area st_section_padding bottom_0">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-60 st-text-sm-center wow fadeInUp" data-wow-delay="0.3s">
							<div class="st_promo_icon st-icon-gradient gigas-icon-gradient">
								<img src="assets/images/promo-01.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Retina Ready</strong></h3>
								<p class="text-st-gray">Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-60 st-text-sm-center wow fadeInUp" data-wow-delay="0.4s">
							<div class="st_promo_icon st-icon-gradient gigas-icon-gradient">
								<img src="assets/images/promo-02.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Ulimate Dashbord</strong></h3>
								<p class="text-st-gray">Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-60 st-text-sm-center wow fadeInUp" data-wow-delay="0.5s">
							<div class="st_promo_icon st-icon-gradient gigas-icon-gradient">
								<img src="assets/images/promo-03.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Fully Responsive</strong></h3>
								<p class="text-st-gray">Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<section class="st_video_area st_section_padding ">
			<div class="container">
				<div class="st_section_heding_title">
					<h2><strong>How this app work with other component</strong></h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="st_video_bg st_transparent_overly js-tilt wow fadeInUp" data-wow-delay="0.3s">
					<img src="assets/images/video-bg.png" alt="">
					<div class="st_video_icon">
						<a class="st_popup_youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
							<img src="assets/images/video-icon.png" alt="">
						</a>
					 	<div class="iq-waves">
							<div class="waves wave-1"></div>
							<div class="waves wave-2"></div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</section><!--End st_video_area -->

		<div class="st_counter_area st_section_padding top_0">
			<div id="st_counter"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter">
							<div class="st_counter_left">
								<img src="assets/images/counter-01.png" alt="">
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="800" class="counter-result">0</h2>
								<p>Satisfied Client</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter">
							<div class="st_counter_left">
								<img src="assets/images/counter-02.png" alt="">
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="200" class="counter-result">0</h2>
								<p>Appriciation</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter">
							<div class="st_counter_left">
								<img src="assets/images/counter-03.png" alt="">
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="5289" class="counter-result">0</h2>
								<p>Response time</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter">
							<div class="st_counter_left">
								<img src="assets/images/counter-04.png" alt="">
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="3335" class="counter-result">0</h2>
								<p>Data Entry</p>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st-counter-area -->

		<section id="feature" class="st_feature_area bg-gigas-gradient st_section_padding p-md-b-40">
			<div class="container">
				<div class="st_section_heding_title st_white_color m-lg-b-120 m-md-b-120">
					<h2>Our app exciting features & component</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-st-white">
							<div class="feature_item_icon bg-st-aqua">
								<img src="assets/images/feature-01.png" alt="">
							</div>
							<h3><strong>Retina Support</strong></h3>
							<p>Progressively procrastinate for an leveraged manufactured<br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-st-white">
							<div class="feature_item_icon bg-perison-blue">
								<img src="assets/images/feature-02.png" alt="">
							</div>
							<h3><strong>Friendly Customized</strong></h3>
							<p>Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-st-white">
							<div class="feature_item_icon bg-st-violet">
								<img src="assets/images/feature-03.png" alt="">
							</div>
							<h3><strong>Unlocked Turbo</strong></h3>
							<p>Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-st-white">
							<div class="feature_item_icon bg-sun-glow">
								<img src="assets/images/feature-04.png" alt="">
							</div>
							<h3><strong>Auto Appriciate</strong></h3>
							<p>Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-st-white">
							<div class="feature_item_icon bg-st-cabaret">
								<img src="assets/images/feature-05.png" alt="">
							</div>
							<h3><strong>QR Code Scaner</strong></h3>
							<p>Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_feature_item bg-st-white">
							<div class="feature_item_icon bg-st-shamrock">
								<img src="assets/images/feature-06.png" alt="">
							</div>
							<h3><strong>Heart Beat Tester</strong></h3>
							<p>Progressively procrastinate for an leveraged manufactured <br/>products via covalent supply chains after dramatically.</p>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</section><!--- End st_feature_area -->

		<div id="about" class="st_about_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-5">
						<article class="st_default_content wow fadeInLeft" data-wow-delay="0.3s">
							<h5>Deliver now</h5>
							<h2>Deliver now better experice you & much faster</h2>
							<h4>Lets see how it works with full fuctionality</h4>
							<p>Progressively engage multidisciplinary value vis-a-vis sticky channels. Dynamically exploit synergistic markets via just in time users. Competently e-enable maintainable.</p>
							<a class="st_default_btn st_transparent text-medium-purple" href="#">HOW IT WORKS</a>
						</article>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
			<div class="st_about_side_img m-md-t-100 d-md-block d-sm-none d-xs-none">
				<img class="wow fadeInRight" data-wow-delay="0.4s" src="assets/images/about.png" alt="">
			</div>
		</div><!--- End st_about_area -->

		<div id="download" class="st_download_area_v2 bg-md-polar bgi-md-none p-md-b-none m-md-b-80">
			<div class="container">
				<div class="st_download_content_wrapper st_section_padding js-tilt bgi-sm-none" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="200" data-tilt-max="5" style="background-image: url(assets/images/st-cta-bg.png)">
					<h2 class="st-font-34 st-font-md-22 br-sm-none">Ready to Start Download this Awesome App for your <br/>Busineess?</h2>
					<a class="st_default_btn bg-emerald-gradient" href="#">DOWNLOAD NOW</a>
					<a class="st_default_btn bg-gigas-gradient-btn " href="#">APP PRICING</a>
				</div>
			</div><!--- End container -->
		</div><!--- End st_cta_area -->

		<div class="st_single_area">
			<div class="container">
				<div class="st_img_waraper js-tilt wow fadeInUp" data-wow-delay="0.4s" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="200" data-tilt-max="5">
					<img src="assets/images/single-img.png" alt="">
				</div>
			</div><!--- End container -->
		</div><!--- End st_single_area -->

		<section id="team" class="st_team_area">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Our dedicated team member & developers</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_team_item">
							<div class="st_single_team_bg">
								<div class="st_team_single_img js-tilt" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="400" data-tilt-max="15">
									<img src="assets/images/team-01.png" alt="">
								</div>
							</div>
							<div class="st_team_content">
								<a href="#"><h3 class="font-weight-bold">Autumn Jacobi</h3></a>
								<p>TV REPORTER</p>
								<div class="st_team_social_icon" >
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_team_item">
							<div class="st_single_team_bg">
								<div class="st_team_single_img js-tilt" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="400" data-tilt-max="15">
									<img src="assets/images/team-02.png" alt="">
								</div>
							</div>
							<div class="st_team_content">
								<a href="#"><h3 class="font-weight-bold">Keven Feil</h3></a>
								<p>CSE ENGINEER</p>
								<div class="st_team_social_icon">
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_team_item">
							<div class="st_single_team_bg">
								<div class="st_team_single_img js-tilt" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="400" data-tilt-max="15">
									<img src="assets/images/team-03.png" alt="">
								</div>
							</div>
							<div class="st_team_content">
								<a href="#"><h3 class="font-weight-bold">Madaline Gibson</h3></a>
								<p>APPS DEVELOPER</p>
								<div class="st_team_social_icon">
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_team_item">
							<div class="st_single_team_bg">
								<div class="st_team_single_img js-tilt" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="400" data-tilt-max="15">
									<img src="assets/images/team-04.png" alt="">
								</div>
							</div>
							<div class="st_team_content">
								<a href="#"><h3 class="font-weight-bold">Dylan Moore</h3></a>
								<p>VISUAL DESIGNER</p>
								<div class="st_team_social_icon">
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</section><!--- End st_team_area -->

		<section class="st_testimonial_area st_section_padding bg-gigas-gradient">
			<div class="container">
				<div class="st_section_heding_title st_white_color">
					<h2>What people say about our work & services</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="st_testimonial_slider owl-carousel owl-theme text-center owl-border-nav">
					<div class="st_testimonial_item">
						<div class="st_testimonial_content">
							<h3>You Nailed the efficiency</h3>
							<p>Rapidiously transition innovative products through installed base processes. Dramatically deliver multidisciplinary is a great expertise whereas practices.</p>
						</div>
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-01.jpg" alt="">
							</div>
							<div class="client_title">
								<h4>Zara Leresson</h4>
								<p>TV REPORTER</p>
							</div>
						</div>
					</div>
					<div class="st_testimonial_item">
						<div class="st_testimonial_content">
							<h3>You Nailed the efficiency</h3>
							<p>Rapidiously transition innovative products through installed base processes. Dramatically deliver is a great expertise whereas practices.</p>
						</div>
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-02.jpg" alt="">
							</div>
							<div class="client_title">
								<h4>mitchell marsh</h4>
								<p>web developer</p>
							</div>
						</div>
					</div>
					<div class="st_testimonial_item">
						<div class="st_testimonial_content">
							<h3>You Nailed the efficiency</h3>
							<p>Rapidiously transition  products through installed base processes. Dramatically deliver is a great expertise whereas practices.</p>
						</div>
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-03.jpg" alt="">
							</div>
							<div class="client_title">
								<h4>mitchell marsh</h4>
								<p>web developer</p>
							</div>
						</div>
					</div>
				</div>
			</div><!--- End container -->
		</section><!--- End st_team_area -->

		<section id="screenshot" class="st_swiper_slider_area st_section_padding bottom_0">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Apps screenshot & showcase</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="st_swiper_slider">
					<div id="st_screenshot" class="st_screenshot">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-02.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-03.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-02.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-03.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-01.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-02.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="assets/images/swiper-03.jpg" alt="">
							</div>
						</div>
						<!-- Add Arrows -->
					</div>
					<div class="swiper-button-prev">
						<i class="fas fa-angle-left"></i>
					</div>
					<div class="swiper-button-next">
						<i class="fas fa-angle-right"></i>
					</div>
				</div>
			</div><!-- End container -->
		</section><!-- End swiper-slider-area -->

		<div class="st_news_letter_area st_section_padding bg-md-polar bgi-md-none m-md-b-100">
			<div class="container">
				<div class="st_subscribe_waraper p-md-t-b-none js-tilt p-sm-t-b-20 br-sm-none bgi-sm-none" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="200" data-tilt-max="5" style="background-image: url(assets/images/st-cta-bg.png);">
					<h2 class="st-font-34 st-font-md-22">Subscribe our Newsletter Get all Promotion <br/>& Update</h2>
					<div class="st_subscribe wow fadeInUp" data-wow-delay="0.3s">
						<form id="st-subscription-form" class="st-form">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<input id="st-subscription-email" class="st_subscribe_email" placeholder="Enter your email address" required="required" name="EMAIL" type="email">
							<input class="st_subscribe_btn bg-gigas-gradient-btn" value="subscribe" type="submit">
							<div class="st_subscription_info">Please enter a value</div>
						</form>
						<label for="st-subscription-email" class="st-subscription-info position-absolute"></label>
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_single_area -->

		<section class="st_pricing_table_area st_section_padding top_0">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Our adorable app pricing & details</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="st-pricing-container">
					<div class="st-pricing-switcher">
						<div class="fieldset fieldset-active-medium-purple">
							<input type="radio" name="duration-1" value="monthly" id="monthly-1" checked>
							<label for="monthly-1">Monthly</label>
							<input type="radio" name="duration-1" value="yearly" id="yearly-1">
							<label for="yearly-1">Yearly</label>
							<div class="st-pricing-underlines">
								<div class="st-pricing-underlines-1"></div>
								<div class="st-pricing-underlines-2"></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$00</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Free</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$00</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>2 Active Account</li>
													<li>1000 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Free</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.4s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Popular</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$40</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Popular</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>Popular</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$100</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Popular</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Basic</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$20</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>3 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Basic</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>Basic</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$60</span>
												<span class="st-duration">m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Basic</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-6">
							<ul class="st-pricing-list st-bounce-invert text-center wow fadeInUp" data-wow-delay="0.6s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Pro</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$50</span>
												<span class="st-duration">/m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>10 Active Account</li>
													<li>1 TB Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Pro</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
										<li data-type="yearly" class="is-hidden">
											<header class="st-pricing-header">
												<h3>Pro</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$80</span>
												<span class="st-duration">/m</span>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Active Account</li>
													<li>100 Mb Space</li>
												</ul>
											</div>
											<div class="st-pricing-hover">
												<h2>Pro</h2>
												<a class="st_default_btn st-pricing" href="#">SUBSCRIPTION</a>
											</div>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</section><!--- End st_pricing_table_area -->

		<div class="st_client_area st_section_padding top_0">
			<div class="container">
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<footer id="contact" class="st_fotter_area st-s-gredient-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 p-md-l-100 p-sm-l-40 m-md-b-60 d-flex align-items-end">
						<div class="st_fotter_logo">
							<a href="#"><img src="assets/images/logo/fotter-logo.png" alt="Fotter Logo"></a>
							<div class="st_copyright_content">
								<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-12 p-md-l-100 p-sm-l-40 m-md-b-60 d-flex align-items-end">
						<div class="st_fotter_single_content">
							<p>Our office Location for Info</p>
							<h3><strong>728 Dooley Branch, Beckershire, LA 63598-2909</strong></h3>
						</div>	
					</div>
					<div class="col-lg-3 col-md-12 p-md-l-100 p-sm-l-40 d-flex align-items-end">
						<div class="st_fotter_single_content">
							<p>Our Mailing Adress</p>
							<a href="#"><h3><strong>saastrend@emaily.com</strong></h3></a>
						</div>	
					</div>
				</div><!--- End row -->
			</div><!--- End container -->
		</footer><!--- End st_fotter_area -->



		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->
			
	</body>
</html>