<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>


	<body>

		<div id="stick-menu"></div>
		<header id="st-header-section" class="st_header_area sticky-bg-koamaru st_header_btn">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-06.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper">
							<div class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#about">About</a></li>
									<li><a href="#choose">why choose</a></li>
									<li><a href="#pricing">pricing</a></li>
									<li><a href="#contact">Contact</a></li>
									<li><a href="#" class="st_default_btn bg-science-blue st_btn_round m-l-80">SIGN IN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area bg-koamaru d-flex align-items-center height-100vh-full-screen st-min-lg-650 st-height-md-inherit st-overflow-hidden">
			<div class="container">
				<div class="st--hero-slider owl-carousel">
					<div class="single-hero-slide">
						<div class="row">
							<div class="col-lg-6 d-flex align-items-center">
								<div class="hero-slide-content">
									<h1 class="text-st-white" data-animation-in="fadeInDown" data-animation-out="fadeInUp">Need any solution?</h1>
									<p class="text-st-white" data-animation-in="fadeInDown" data-animation-out="fadeInUp">Intrinsicly foster alternative opportunities without optimal supply chains. Professionally optimize.</p>
									<div class="st_btn_group m-t-50">
										<a class="st_default_btn st_btn_round bg-science-blue bg-hover-st-aqua m-r-15" href="#" data-animation-in="fadeInLeft" data-animation-out="fadeInRight">Explore More</a>
										<a class="st_popup_youtube st_default_btn st_icon_btn" href="https://www.youtube.com/watch?v=HPyC6wZqTCg&index=13&list=RDMMnmUKsZG-76A" data-animation-in="fadeInRight" data-animation-out="fadeInLeft">
											<span><img src="assets/images/v8/vedio-icon.png" alt=""></span>
											<p>PLAY VIDEO</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="hero-slider-thumb st-text-md-center" data-animation-in="fadeInRight" data-animation-out="fadeInLeft">
									<img src="assets/images/v18/assets.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="single-hero-slide">
						<div class="row">
							<div class="col-lg-6 d-flex align-items-center">
								<div class="hero-slide-content">
									<h1 class="text-st-white" data-animation-in="fadeInDown" data-animation-out="fadeInUp">Need any solution?</h1>
									<p class="text-st-white" data-animation-in="fadeInDown" data-animation-out="fadeInUp">Intrinsicly foster alternative opportunities without optimal supply chains. Professionally optimize.</p>
									<div class="st_btn_group m-t-50">
										<a class="st_default_btn st_btn_round bg-science-blue bg-hover-st-aqua m-r-15" href="#" data-animation-in="fadeInLeft" data-animation-out="fadeInRight">Explore More</a>
										<a class="st_popup_youtube st_default_btn st_icon_btn" href="https://www.youtube.com/watch?v=HPyC6wZqTCg&index=13&list=RDMMnmUKsZG-76A" data-animation-in="fadeInRight" data-animation-out="fadeInLeft">
											<span><img src="assets/images/v8/vedio-icon.png" alt=""></span>
											<p>PLAY VIDEO</p>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="hero-slider-thumb st-text-md-center" data-animation-in="fadeInRight" data-animation-out="fadeInLeft">
									<img src="assets/images/v18/assets.png" alt="">
								</div>
							</div>
						</div>
					</div>

				</div>
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_promo_area st_section_padding st_promo_center position-relative promo-after-background">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>World wide peoples at all age connected with<br/><strong>Saas</strong><span class="text-science-blue">mail</span> service</h2>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-01.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Modern interface & design</h3>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-02.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Instant messaging & mail</h3>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item st_single_prom_item_v5 m-sm-b-60">
							<div class="st_promo_icon">
								<img src="assets/images/v11/promo-03.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Compability desktop & mobile</h3>
							</article>
						</a>
					</div>
				</div><!--End row -->
				<div class="st_video_bg st_transparent_overly js-tilt st_before_none st_after_none m-t-150 m-b-100" data-tilt data-tilt-perspective="1000" data-tilt-scale="1" data-tilt-speed="100" data-tilt-max="5">
					<img src="assets/images/v18/video-bg.png" alt="">
					<div class="st_video_icon">
						<a class="st_popup_youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
							<img src="assets/images/video-icon.png" alt="">
						</a>
					 	<div class="iq-waves">
							<div class="waves wave-1"></div>
							<div class="waves wave-2"></div>
						</div>
					</div>
				</div>
				<div id="st_counter"></div>
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter bg-st-white">
							<div class="st_counter_left">
								<img src="assets/images/counter-01.png" alt="">
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="800" class="counter-result">0</h2>
								<p>Satisfied Client</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter bg-st-white">
							<div class="st_counter_left">
								<img src="assets/images/counter-02.png" alt="">
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="200" class="counter-result">0</h2>
								<p>Appriciation</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter bg-st-white">
							<div class="st_counter_left">
								<img src="assets/images/counter-03.png" alt="">
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="5289" class="counter-result">0</h2>
								<p>Response time</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="st_single_counter bg-st-white">
							<div class="st_counter_left">
								<img src="assets/images/counter-04.png" alt="">
							</div>
							<div class="st_counter_right">
								<h2 data-percentage="3335" class="counter-result">0</h2>
								<p>Data Entry</p>
							</div>
						</div>
					</div>
				</div><!--- End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div id="about" class="st_about_inner_page st_section_padding position-relative">
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 d-flex justify-content-start align-items-center">
							<article class="st_default_content">
								<img src="assets/images/v6/share.png" alt="">
								<h2>Upto 2 millions website & provided services worldwide.</h2>
								<p>Holisticly empower alternative expertise without scalable solutions. Objectively monetize</p>
								<ul class="st-ul-coloum-two">
									<li>Insufficient order</li>
									<li>Huge benifites</li>
									<li>Mico subleting</li>
									<li>Cryptocurrency</li>
									<li>Wallet manager</li>
									<li>Xtreme budgets</li>
								</ul>
							</article>
						</div>
						<div class="col-lg-5 offset-lg-1 d-flex justify-content-center align-items-center">
							<div class="st_about_right_item m-md-t-30 p-l-40">
								<img src="assets/images/v18/assets2.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_single_full m-b-none">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 d-flex justify-content-start align-items-center order-lg-2">
							<article class="st_default_content">
								<img src="assets/images/v6/share.png" alt="">
								<h2>Upto 2 millions website & provided services worldwide.</h2>
								<p>Holisticly empower alternative expertise without scalable solutions. Objectively monetize</p>
								<ul>
									<li>Insufficient order for make every as a Moments</li>
									<li>The Wealth of New Choices With Robot narrow Cleaners</li>
									<li>How to Prepare for an Automated Future</li>
								</ul>
							</article>
						</div>
						<div class="col-lg-6 d-flex justify-content-center align-items-center">
							<div class="st_about_right_img m-r-50 m-md-r-none m-md-t-30">
								<img src="assets/images/v18/assets.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_single_img">
				<img src="assets/images/v6/about-side-img.png" alt="">
			</div>
		</div><!--End st_about_inner_page -->

		<div class="st_testimonial_slider_area bg-koamaru p-t-100 p-md-t-50 p-sm-t-none st-overflow-hidden">
			<div class="container position-relative p-b-100 p-md-b-80 br-sm-none">
				<div class="st_v4_testimonial_slider st_v4_testimonial_slider_v2 owl-carousel owl-theme">
					<div class="st_testimonial_waraper">
						<div class="st_testimonial_right">
							<div class="st_testimonial_content">
								<h3 class="text-st-white"><strong>Great Services provided all time</strong></h3>
								<p class="text-st-white">Collaboratively revolutionize client-focused communities and low-<br/>risk high-yield interfaces. Seamlessly disseminate adaptive data<br/> through backward-compatible customer service.</p>
							</div>
							<div class="st_testimonial_client">
								<h3 class="text-st-white"><strong>james anderson</strong></h3>
								<p>Ceo of nike velly</p>
							</div>
							<div id="cd-testimonial-customNav" class="cd-testimonial-control">
								<div class="cd-blog-pagination-prev custom-nav-prev"></div>
								<div class="cd-blog-pagination-next custom-nav-next"></div>
							</div>
						</div>
					</div>
					<div class="st_testimonial_waraper">
						<div class="st_testimonial_right">
							<div class="st_testimonial_content">
								<h3 class="text-st-white"><strong>Great Services all time</strong></h3>
								<p class="text-st-white">Collaboratively revolutionize client-focused communities and low-<br/>risk high-yield interfaces. Seamlessly disseminate adaptive data<br/> through backward-compatible</p>
							</div>
							<div class="st_testimonial_client">
								<h3 class="text-st-white"><strong>Alastair Cook</strong></h3>
								<p>Ceo of nike velly</p>
							</div>
						</div>
					</div>
				</div>
				<div class="st_testimonial_avatar st-d-md-none">
					<img src="assets/images/v18/john-doe.png" alt="">
				</div>
			</div><!--End container -->
		</div><!--End st_feature_area -->

		<div class="st_client_area p-t-b-60">
			<div class="container">
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div id="faqs" class="st_faq_area p-t-50 p-b-50">
			<div class="container">
				<div class="st_section_heding_title">
					<img src="assets/images/v9/share.png" alt="">
					<h2>Frequently asked question<br/> about <span>paypal!</span></h2>
				</div>
				<div class="st_faq_tab_waraper">
					<div class="st_faqs_tab">
						<ul class="nav nav-pills nav-pills-bg-science-blue mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-payment" aria-selected="true">PAYMENTS</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-acount-tab" data-toggle="pill" href="#pills-acount" role="tab" aria-controls="pills-acount" aria-selected="false">ACOUNT</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-transfer-tab" data-toggle="pill" href="#pills-transfer" role="tab" aria-controls="pills-transfer" aria-selected="false">TRANSFER</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-widraw-tab" data-toggle="pill" href="#pills-widraw" role="tab" aria-controls="pills-widraw" aria-selected="false">WIDRAW</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-statement-tab" data-toggle="pill" href="#pills-statement" role="tab" aria-controls="pills-statement" aria-selected="false">STATEMENTS</a>
							</li>
						</ul>
					</div>
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
						<div class="tab-pane fade" id="pills-acount" role="tabpanel" aria-labelledby="pills-acount-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
						<div class="tab-pane fade" id="pills-transfer" role="tabpanel" aria-labelledby="pills-transfer-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
						<div class="tab-pane fade" id="pills-widraw" role="tabpanel" aria-labelledby="pills-widraw-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
						<div class="tab-pane fade" id="pills-statement" role="tabpanel" aria-labelledby="pills-statement-tab">
							<div class="row">
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item st_faq_bottom">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
									<div class="st_faq_item">
										<div class="st_faq_single_item">
											<i class="fas fa-question-circle text-science-blue"></i>
											<h3>Is this a secure site for purchases?</h3>
										</div>
										<p>You can cancel your subscription anytime in your account. Once the subscription is cancelled, you will not be charged next month. You will continue to have access to subscription expires.</p>
									</div>
								</div>
							</div><!--- End row -->
						</div>
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_faq_area -->

		<div class="st_event_area footer-subscription-wrapper p-sm-t-20">
			<div class="container position-relative">
				<div class="st_single_event short-width-content text-center st-width-sm-100">
					<p class="text-haiti">What are you waiting for?</p>
					<h3 class="text-st-primary st-font-28 m-b-40 font-weight-bold st-font-sm-22"><span class="text-haiti">Sign up for free</span> and become one of the millions of people around the world who have fallen in love with Trello.</h3>
					<a class="st_default_btn bg-emerald bg-hover-st-aqua st_btn_round" href="#">SIGN UP-It's Free</a>
				</div>
				<div class="st_footer_subscriber">
					<span class="subscription-form-logo" style="background-image: url(assets/images/v18/footer-subscription-logo.png)"></span>
					<div class="st_news_left_item align_item">
						<h2 class="text-haiti">Suscribe <strong>Newsletter</strong> today !</h2>
						<p>Compellingly re-engineer installed base intellectual capital</p>
					</div>
					<div class="st_subscribe">
						<form id="st-subscription-form"  class="st-form">
							<input id="st-subscription-email" class="st_subscribe_email" placeholder="Enter your email address" required="required" name="EMAIL" type="email">
							<input class="st_subscribe_btn bg-koamaru" value="subscribe" type="submit">
							<div class="st_subscription_info">Please enter a value</div>
						</form>
						<label for="st-subscription-email" class="st-subscription-info"></label>
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_event_area -->

		<footer id="contact" class="st_default_footer_area st_footer_variation st_subscribe_fotter p-t-200 bg-koamaru footer-angle">
			<div class="container">
				<div class="row st_fotter_border_bottom st_fotter_border_bottom_v2">
					<div class="col-xl-3 col-lg-6 d-flex d-lg-flex d-sm-block d-xs-block justify-content-start align-items-center">
						<div class="st_footer_logo_warap m-b-none">
							<a href="#"><img class="m-b-none" src="assets/images/logo/fotter-logo-05.png" alt=""></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-6 order-xl-3 d-flex d-lg-flex justify-content-end align-items-cente d-sm-block d-xs-block m-md-t-80 m-sm-t-50 st-font-sm-left">
						<div class="st_social_icon text-st-white">
							<ul>
								<li><a href="#"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
								<li><a href="#"><i class="fab fa-git-square"></i></a></li>
								<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12 d-flex d-lg-flex d-sm-block d-xs-block justify-content-center align-items-center m-lg-t-80 m-sm-t-50">
						<div class="st_fotter_menu text-st-white st_fotter_menu_inline">
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Why Choose</a></li>
								<li><a href="#">Pricing</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
				</div><!--- End row -->
				<div class="st_copyright_content text-center p-b-60">
					<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
				</div>
			</div><!--- End container -->
			<div class="st_left_about_shape wow">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</footer><!--- End st_default_footer_area -->

		
		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>