<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>
		<div id="stick-menu"></div>
		<header class="st_header_area sticky-orange-gradient st_header_btn p-t-b-15 sticky-padding-10">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-02.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper">
							<div class="st_menu text-st-white">
								<ul>
									<li><a href="#" class="st_default_btn bg-white text-st-orange m-l-80 m-md-l-none">DOWNLOAD</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->


		<section id="home" class="st_banner_area orange-gradient-banner banner_before_img">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 d-flex justify-content-start align-items-center height-100vh-full-screen st-height-md-inherit">
						<div class="st_banner_waraper m-md-t-b-150">
							<div class="st_banner_content align_item m-b-50 m-r-40 m-md-r-none m-md-b-none st-text-md-center">
								<h1 class="text-st-white st-font-sm-34">A Better way to Make Any Solution</h1>
								<p class="text-st-white">Authoritatively orchestrate worldwide materials and user-centric best practices. Quickly integrate reliable  making for alignments whereas diverse markets.</p>
								<a class="st_default_btn bg-st-white text-st-orange" href="#">EXPLORE FEATURE</a>
								<a class="st_default_btn st_transparent" href="#">EXPLORE FEATURE</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6 d-flex align-items-center justify-content-end height-100vh-full-screen st-d-md-none">
						<div class="st_hero_banner">
							<img src="assets/images/macbook-pro.png" alt="">
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_promo_area st_section_padding text-center">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<a href="#" class="st_single_prom_item m-md-b-60">
							<div class="st_promo_icon st-icon-gradient orange-icon-gradient">
								<img src="assets/images/promo-01.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Retina Ready</h3>
								<p class="text-st-gray">Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-6">
						<a href="#" class="st_single_prom_item m-md-b-60">
							<div class="st_promo_icon st-icon-gradient orange-icon-gradient">
								<img src="assets/images/promo-02.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Ulimate Dashbord</h3>
								<p class="text-st-gray">Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-12">
						<a href="#" class="st_single_prom_item m-md-b-60">
							<div class="st_promo_icon st-icon-gradient orange-icon-gradient">
								<img src="assets/images/promo-03.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3>Fully Responsive</h3>
								<p class="text-st-gray">Completely drive process cent potential<br/> without information convenien.</p>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div id="st_image_mapping" class="st_about_mapping st_section_padding top_0 text-center">
			<div class="container">
				<div class="very-short-width-content m-b-80">
					<h2 class="m-b-30">Github for teams A better way to work together</h2>
					<p class="m-b-40">Professionally reconceptualize process-centric quality vectors for fully researched results. Collaboratively enable revolutionary e-tailers whereas team</p>
					<a href="#" class="st_default_btn text-capitalize bg-st-orange bg-hover-st-aqua st_btn_large_shadow">Sign up as your team</a>
				</div>
				<div class="st_image_mapping_wrap st_image_mapping_wrap_v2">
					<img src="assets/images/macbook-pro.png" alt="">
					<a class="st_tooltip bg-st-orange st_tooltip_post_1"><span>Send Button</span></a>
					<a class="st_tooltip bg-st-orange st_tooltip_post_2"><span>Navigate by Category</span></a>
					<a class="st_tooltip bg-st-orange st_tooltip_post_3"><span>Recent Update</span></a>
					<a class="st_tooltip bg-st-orange st_tooltip_post_4"><span>Quick Response</span></a>
				</div>
			</div>
		</div>
		
		<div id="feature" class="st_feature_area st_section_padding p-b-80 p-sm-b-30 bg-polar">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Our app exciting features & component</h2>
					<p>Lets see how it works with full fuctionality</p>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="st_feature_left_item m-md-b-80 bg-st-white">
							<h2><strong>Lets check</strong> our lot of new features in <span class="text-st-orange">github!</span></h2>
							<p>Energistically actualize resource for a maximizing methodologies whereas is equity invested resources. Distinctively re-engineer just in time.</p>
							<a class="read_more_btn" href="#">Read More<img src="assets/images/v20/line.png" alt=""></a>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="st_feature_item_wrapper p-t-30 text-center">
							<div class="row">
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item">
										<img src="assets/images/v20/icon-01.png" alt="">
										<h3>COUSTOMIZE</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item">
										<img src="assets/images/v20/icon-02.png" alt="">
										<h3>RESUME</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item">
										<img src="assets/images/v20/icon-03.png" alt="">
										<h3>SAVE HISTORY</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item">
										<img src="assets/images/v20/icon-04.png" alt="">
										<h3>MULTIPLE</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item">
										<img src="assets/images/v20/icon-05.png" alt="">
										<h3>TEAM WORK</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item">
										<img src="assets/images/v20/icon-06.png" alt="">
										<h3>SECURITY</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item">
										<img src="assets/images/v20/icon-07.png" alt="">
										<h3>DATA MANAGE</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
								<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
									<div class="st_feature_single_item">
										<img src="assets/images/v20/icon-08.png" alt="">
										<h3>MANAGEMENT</h3>
										<p>Enthusiastic develop multifunctional</p>
									</div>
								</div>
							</div><!--End row -->
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_v10_feature_area -->

		<div class="st_section_padding orange-gradient-banner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="st_cta_single_img m-md-b-75">
							<img src="assets/images/v3/cta.png" alt="">
						</div>
					</div>
					<div class="col-lg-6 d-flex align-items-center">
						<div class="st_cta_content">
							<h2 class="text-st-white">Life on Mars Get to Know the Crew</h2>
							<p class="text-st-white">Continually seize enterprise-wide web-readiness through <br/>integrated catalysts for change.</p>
							<a class="st_default_btn bg-st-aqua" href="#">DOWNLOAD NOW</a>
						</div>
					</div>											
				</div><!--- End row -->
			</div><!--- End container -->
		</div><!--- End st_v3_cta_area -->

		<div class="st_promo_area st_section_padding st_promo_center p-b-130">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Designed for everyone, everywhere</h2>
					<p>Bootstrap makes front-end web development faster.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-40 st_single_prom_item_v5">
							<div class="st_promo_icon">
								<img src="assets/images/v20/promo-01.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Select your data</strong></h3>
								<p>Proactively negotiate fully researched<br/> processes customer service.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-40 st_single_prom_item_v5">
							<div class="st_promo_icon">
								<img src="assets/images/v20/promo-02.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Select your option</strong></h3>
								<p>Proactively negotiate fully researched <br/>processes customer service.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-40 st_single_prom_item_v5">
							<div class="st_promo_icon">
								<img src="assets/images/v20/promo-03.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Dashboard Responsive</strong></h3>
								<p>Proactively negotiate fully researched <br/>processes customer service.</p>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->

		<div class="st_client_area st_section_80_padding bg-polar">
			<div class="container">
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div class="st_user_login_area st_section_padding bottom_0">
			<div class="container">
				<div class="st_section_heding_title">
					<h2>Send a message to us for any problem</h2>
					<p>Ready to singn in our site and acess merchent account</p>
				</div>
				<div class="st_user_login st_user_login_v2">
					<form class="st_contact_form_box st-contact-form-init" action="assets/php/contact.php" method="POST">
						<div class="st_user_login_wrap">
							<div class="st_input_column">
								<div class="st_input_item">
									<label>NAME</label>
									<input type="text" name="name" placeholder="Enter Your Name">
								</div>
								<div class="st_input_item">
									<label>EMAIL</label>
									<input type="text" name="email" placeholder="Enter Your Email">
								</div>
							</div>
							<div class="st_input_column">
								<div class="st_input_item">
									<label>MESSAGE</label>
									<textarea name="message" placeholder="Enter Your Message"></textarea>
								</div>
								
								<div class="st_input_submit">
									<input type="submit" class="orange-deep-gradient st_default_btn_full p-t-b-20 st-font-16 font-weight-normal" value="Send a direct message">
								</div>
							</div>
						</div>
					</form>
					<div class="st-form-info"></div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_user_login_area -->

		<footer class="st_default_footer_area polar-gradient-background p-t-150 p-b-100 p-sm-t-75">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo-08.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-orange">Links</h3>
								</div>
								<div class="st_fotter_menu">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 m-md-b-60 col-sm-6">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-orange">Support</h3>
								</div>
								<div class="st_fotter_menu">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-st-orange">Contact</h3>
								</div>
								<div class="st_social_icon">
									<p>info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->



		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>