<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->

	</head>

	<body>
		
		<div id="stick-menu"></div>
		<header id="st-header-section" class="st_header_area sticky-gigas-gradient st_header_btn">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-06.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper">
							<div class="st_menu text-st-white">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#about">About</a></li>
									<li><a href="#choose">why choose</a></li>
									<li><a href="#pricing">pricing</a></li>
									<li><a href="#contact">Contact</a></li>
									<li><a href="#" class="st_default_btn bg-gigas">SIGN IN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area bg-medium-purple" style="background-image: url(assets/images/v16/banner-mask.png); background-repeat: no-repeat; background-size: 53%;">
			<div class="container">
				<div class="row st_screenfix">
					<div class="col-xl-4 col-lg-6 d-flex justify-content-start align-items-center height-100vh-full-screen st-min-lg-850 st-height-md-inherit st-min-sm-650">
						<div class="st_banner_waraper m-md-t-150 m-sm-t-100 wow fadeInLeft" data-wow-delay="0.2s">
							<div class="st_banner_content align_item">
								<h1 class="text-st-white">Slack App</h1>
								<h5 class="text-st-white">a new begining for your team</h5>
								<p class="text-st-white">Continually seize enterprise-wide web-readiness <br/>through for change.</p>

								<div class="st_btn_group">
									<a class="st_default_btn" href="#">DOWNLOAD NOW</a>
									<p class="text-st-white">Already Member ? <a class="st_sign_in text-st-white" href="#">SIGN IN</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-6 d-flex align-items-center justify-content-start height-100vh-full-screen st-min-lg-850 st-height-md-inherit st-d-sm-none">
						<div class="st_hero_banner m-md-b-80 wow fadeInRight" data-wow-delay="0.3s">
							<img src="assets/images/v16/screenshot.png" alt="">
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_client_area p-t-b-60">
			<div class="container">
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div id="st_image_mapping" class="st_about_mapping st_section_padding top_0 st-overflow-hidden">
			<div class="container">
				<div class="st_simple_content text-center m-b-60">
					<h2 class="text-st-primary st-font-30 st-font-lg-25 st-font-sm-22 br-sm-none st-line-height-1-7"><span class="text-haiti">Saas<span class="text-medium-purple font-normal">mail</span> is built for designers</span> like you. With useful features<br> an intuitive interface and powerful plugins built by a community of developers,<br> it helps you focus on what you do best.</h2>
				</div>
				<div class="st_image_mapping_wrap wow fadeIn" data-wow-delay="0.3s">
					<img src="assets/images/v16/screenshot-large.png" alt="">
					<a class="st_tooltip st_tooltip_post_1"><span>Send Button</span></a>
					<a class="st_tooltip st_tooltip_post_2"><span>Navigate by Category</span></a>
					<a class="st_tooltip st_tooltip_post_3"><span>Recent Update</span></a>
					<a class="st_tooltip st_tooltip_post_4"><span>Quick Response</span></a>
				</div>
			</div>
		</div>

		<div class="st_inner_feature_area p-b-120 bg-polar st_section_padding p-sm-b-50">
			<div class="container">
				<div class="st_section_heding_title">
					<h2><strong>Take Bootstrap 4 to the next level</strong></h2>
					<p>Distinctively e-enable cutting-edge catalysts for change without user friendly networks.</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-medium-purple rgba-medium-purple">
								<i class="fas fa-phone"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Free Caliing Service</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-emerald rgba-emerald">
								<i class="fas fa-video"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Unimited Video Call</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-pink rgba-st-pink">
								<i class="fas fa-comments"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Camera filter</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-orange rgba-st-orange">
								<i class="fas fa-camera"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Encrypted Chat</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-gigas rgba-gigas">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Camera Filter</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-aqua rgba-st-aqua">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Daily Free Gift</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-aqua rgba-st-aqua">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Daily Free Gift</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-st-pink rgba-st-pink">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Add Favourite contact</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="st_inner_feature_item st_trasnparent_item">
							<div class="st_inner_feature_icon text-emerald rgba-emerald">
								<i class="fas fa-gift"></i>
							</div>
							<div class="st_inner_feature_content">
								<h3><strong>Free Calling Service</strong></h3>
								<p>Completely grow focused users for an erse content comptently.</p>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_inner_feature_area -->

		<section id="pricing" class="st_pricing_table_area text-center st_section_padding">
			<div class="container">
				<div class="st_section_heding_title light">
					<h2><strong>Our adorable pricing plan</strong></h2>
					<p>Lets see how it works with full fuctionality with more acessable things</p>
				</div>
				<div class="st-pricing-container st-pricing-btn-style-wrapper">
					<div class="row">
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInLeft" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">Free</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-gigas bg-hover-gigas " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeIn" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>STANDARD</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$80</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent  text-gigas bg-hover-gigas " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInRight" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header">
												<h3>PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$50</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-gigas bg-hover-gigas" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</section><!--- End st_pricing_table_area -->

		<div class="st_box_call_to_action" >
			<div class="container">
				<div class="bg-medium-purple p-t-b-50 wow fadeInUp" data-wow-delay="0.3s" style="background-image: url(assets/images/v16/call2action.png); background-size: cover; background-position: center bottom;">
					<div class="row">
						<div class="col-xl-7 col-lg-8">
							<div class="st_news_left_item text-left p-l-50 p-md-l-10 p-md-r-10 st-text-md-center m-md-b-25">
								<h2 class="text-st-white">Start you 14 day <strong>Free trial</strong> today !</h2>
								<p class="m-b-none text-st-white">Compellingly re-engineer installed base intellectual capital</p>
							</div>
						</div>
						<div class="col-xl-5 col-lg-4 align-items-center d-flex flex-wrap">
							<div class="st_subscribe text-right p-r-50 p-md-r-none st-text-md-center">
								<a class="st_default_btn bg-st-white text-gigas" href="#">Get Start Now</a>
							</div>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</div><!--- End st_single_area -->

		<div id="testimonial" class="st_v2_testimonial_area st_section_padding">
			<div class="container">
				<div class="st_section_heding_title m-b-40">
					<h2>Client testimonials about services</h2>
					<p>Lets see how it works with full fuctionality with more acessable things</p>
				</div>
				<div class="st_v2_testimonial_slider st_slider_bottom_dots slider-control-medium-purple owl-carousel owl-theme">
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-02.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>jahanara</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-02.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>jahanara</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="st_v2_testimonial_item">
						<div class="st_testimonial_content">
							<h3><strong>Modern Design & very friendly</strong></h3>
							<p>Progressively develop revolutionary solutions via customer directed testing for a new procedures. This is great show experience with Elite Car makes great life.</p>
						</div>
						<div class="st_testimonial_feedback">
							<div class="st_client_waraper">
								<div class="st_client_img">
									<img src="assets/images/v2/testimonial-01.jpg" alt="">
								</div>
								<div class="st_client_name">
									<h4>john grisham</h4>
									<p>developer</p>
								</div>
							</div>
							<div class="st_client_review">
								<ul>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
									<li><a href="#"><i class="fas fa-star"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!--End container -->
		</div><!--End st_v2_testimonial_area -->

		<footer id="contact" class="st_default_footer_area bg-haiti st_subscribe_footer st_section_padding bgi-sm-none" style="background-image: url(assets/images/footer-shape.png);">
			<div class="container">
				<div class="st_subscription_wrapper text-center m-sm-b-100">
					<h2 class="text-st-white">Subscribe our newsletter for product & promtion</h2>
					<div class="st_subscribe st_subscribe_flat wow fadeInUp" data-wow-delay="0.3s">
						<form id="st-subscription-form" class="st-form">
							<input id="st-subscription-email" class="st_subscribe_email" placeholder="Enter email address" required="required" name="EMAIL" type="email">
							<input class="st_subscribe_btn" value="subscribe" type="submit">
							<div class="st_subscription_info">Please enter a value</div>
						</form>
						<label for="st-subscription-email" class="st-subscription-info position-absolute"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/footer-logo.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-gigas">Links</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-gigas">Support</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-gigas">Contact</h3>
								</div>
								<div class="st_social_icon text-st-white">
									<p class="text-st-primary">info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->

		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->
		
	</body>
</html>