<!DOCTYPE html>
<!--[if lt IE 7]>      
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> 
<![endif]-->
<!--[if IE 7]>         
    <html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>         
    <html class="no-js lt-ie9"> 
<![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="en" class="js">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SaaSTrend - Bootstrap SaaS, Startup, Software & WebApp Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700%7CPoppins:300,400,500,600,700" rel="stylesheet">
		<!--- End google font-->

		<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
		<!--- End favicon-->
		
		<!-- build:css -->
	    <link rel="stylesheet" type="text/css" href="assets/css/plugins.min.css">		
		<link rel="stylesheet" type="text/css" href="assets/css/saastrend.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">
	    <!-- endbuild -->
		<!--End ALL STYLESHEET -->
		
	</head>

	<body>

		<div id="stick-menu"></div>
		<header class="st_header_area sticky-bg-clear-day">
			<div class="container">
				<div class="row">
					<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-6 d-flex align-items-center">
						<div class="st_logo">
							<a href="#"><img src="assets/images/logo/st_logo-04.png" alt="St Logo"></a>
						</div>
					</div>
					<div class="col-xl-10 col-lg-10 col-md-6 col-sm-6 col-xs-6 d-flex justify-content-end">
						<div class="st_nav_wrapper st-mean-emerald">
							<div class="st_menu st_color_black">
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="#about">About</a></li>
									<li><a href="#download">Download</a></li>
									<li><a href="#faqs">Faqs</a></li>
									<li><a href="#contact">Contact</a></li>
									<li><a href="#" class="st_default_btn bg-emerald bg-hover-st-aqua">SIGN IN</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</header><!--End st_header_area -->

		<section id="home" class="st_banner_area st-background-wrap bg-clear-day">
			<div class="container">
				<div class="row">
					<div class="col-12 d-flex justify-content-center align-items-end st-align-items-sm-center height-100vh min-height-mobile">
						<div class="st_banner_waraper text-center m-sm-t-none">
							<div class="st_banner_content m-b-75 m-sm-b-100 wow fadeInUp" data-wow-delay="0.3s">
								<h1 class="st-font-60 st-font-md-38 st-lineheight-md-48"><strong>Ultimate dashboard builder</strong></h1>
								<p class="st-font-25 text-haiti">Make life easy & simplier to make <span class="text-emerald">dashboard!</span></p>
								<a class="st_default_btn bg-emerald bg-hover-st-aqua" href="#">DOWNLOAD NOW</a>
								<a class="st_default_btn st_transparent text-emerald" href="#">EXPLORE FEATURE</a>
							</div>
							<div class="st_banner_sidebar st_banner_sidebar_v2 wow fadeInUp" data-wow-delay="0.5s">
								<div class="st_banner_single_img">
									<div class="st_video_icon">
										<svg viewBox="0 0 120 120">
										  <circle cx="59" cy="60" r="50" class="dashed" />
										</svg>
										<a class="st_popup_youtube bg-emerald" href="http://www.youtube.com/watch?v=0O2aH4XLbto">
											<img src="assets/images/v19/play.png" alt="">
										</a>
									 	<div class="iq-waves">
											<div class="waves wave-1"></div>
											<div class="waves wave-2"></div>
										</div>
									</div>
									<img class="st-d-md-none" src="assets/images/v19/banner-screenshot.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</section><!--End st_banner_area -->

		<div class="st_promo_area st_section_padding st_promo_center">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-40 st_single_prom_item_v3 wow fadeInUp" data-wow-delay="0.3s">
							<div class="st_promo_icon">
								<img src="assets/images/v19/promo-01.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Select your data</strong></h3>
								<p>Proactively negotiate fully researched<br/> processes customer service.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-40 st_single_prom_item_v3 wow fadeInUp" data-wow-delay="0.5s">
							<div class="st_promo_icon">
								<img src="assets/images/v19/promo-02.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Select your option</strong></h3>
								<p>Proactively negotiate fully researched <br/>processes customer service.</p>
							</article>
						</a>
					</div>
					<div class="col-lg-4 col-md-4">
						<a href="#" class="st_single_prom_item m-sm-b-40 st_single_prom_item_v3 wow fadeInUp" data-wow-delay="0.7s">
							<div class="st_promo_icon">
								<img src="assets/images/v19/promo-03.png" alt="">
							</div>
							<article class="st_promo_content">
								<h3><strong>Dashboard Responsive</strong></h3>
								<p>Proactively negotiate fully researched <br/>processes customer service.</p>
							</article>
						</a>
					</div>
				</div><!--End row -->
			</div><!--End container -->
		</div><!--End st_promo_area -->
		
		<div class="st_client_area p-b-120 p-sm-b-70">
			<div class="container">
				<div class="st_simple_content text-center m-b-60">
					<h2 class="text-st-primary st-font-30 st-font-lg-25 st-font-sm-22 br-sm-none st-line-height-1-7"><span class="text-haiti">Saas<span class="text-emerald font-normal">Agency</span> is built for designers</span> like you. With useful features<br> an intuitive interface and powerful plugins built by a community of developers,<br> it helps you focus on what you do best.</h2>
				</div>
				<div class="st_client_slider owl-carousel owl-theme">
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-02.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-03.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-04.png" alt="">
					</div>
					<div class="st_client_slider_item">
						<img src="assets/images/v13/client-01.png" alt="">
					</div>
				</div>
			</div><!--- End container -->
		</div><!--- End st_client_area -->

		<div id="about" class="st_about_inner_page st_section_padding bg-clear-day">
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 d-flex justify-content-center align-items-center">
							<article class="st_default_content st-text-md-center wow fadeInLeft" data-wow-delay="0.3s">
								<i class="fas fa-bolt bg-emerald"></i>
								<h2>Great Timeline Analysis</h2>
								<p>Proactively reinvent inexpensive e-commerce for parallel relationships. Distinctively brand adaptive inn after state of the art alignments. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
								<p>Uniquely streamline parallel quality vectors without turnkey vortals exploit enterprise-wide internal..</p>
							</article>
						</div>
						<div class="col-lg-6 offset-lg-1">
							<div class="st_about_right_item js-tilt m-md-t-50 st-text-md-center wow fadeInRight" data-wow-delay="0.5s">
								<img src="assets/images/v19/about-01.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
			<div class="st_about_single_full">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 offset-lg-1 d-flex justify-content-center align-items-center order-lg-2">
							<article class="st_default_content  st-text-md-center wow fadeInRight" data-wow-delay="0.5s">
								<i class="fas fa-bolt bg-emerald"></i>
								<h2>Unlimited Customization</h2>
								<p>Proactively reinvent inexpensive e-commerce for parallel relationships. Distinctively brand adaptive inn after state of the art alignments. Globally underwhelm customized services whereas enabled ROI. Collaboratively.</p>
								<p>Uniquely streamline parallel quality vectors without turnkey vortals exploit enterprise-wide internal..</p>
							</article>
						</div>
						<div class="col-lg-6">
							<div class="st_about_right_item js-tilt m-md-t-50 st-text-md-center wow fadeInLeft" data-wow-delay="0.3s">
								<img src="assets/images/v19/about-02.png" alt="">
							</div>
						</div>
					</div><!--End row -->
				</div><!--End container -->
			</div>
		</div><!--End st_v2_about_area -->

		<section class="st_testimonial_area st_section_padding bottom_0 st-position-wrap">
			<div class="container">
				<div class="st_section_heding_title">
					<h2><span class="text-emerald font-weight-bold">2000+</span> people share their experience</h2>
				</div>
				<div class="st_testimonial_slider_v3 owl-carousel owl-theme">
					<div class="st_testimonial_item text-center">
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-01.jpg" alt="">
							</div>
						</div>
						<div class="st_testimonial_content">
							<p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
							<h3>Jhon Certer, <span>San francisco</span></h3>
						</div>
						<div class="st_quote">
							<img src="assets/images/v5/quote.png" alt="">
						</div>
					</div>
					<div class="st_testimonial_item text-center">
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-02.jpg" alt="">
							</div>
						</div>
						<div class="st_testimonial_content">
							<p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
							<h3>Jhon Certer, <span>San francisco</span></h3>
						</div>
						<div class="st_quote">
							<img src="assets/images/v5/quote.png" alt="">
						</div>
					</div>
					<div class="st_testimonial_item text-center">
						<div class="st_testimonial_client">
							<div class="client_img">
								<img src="assets/images/slider-03.jpg" alt="">
							</div>
						</div>
						<div class="st_testimonial_content">
							<p>Seamlessly procrastinate superior imperatives whereas multidisciplinary users. Dynamically pontificate 2.0 experiences vis-a-vis mission-critical internal.Procrastinate superior imperatives whereas</p>
							<h3>Jhon Certer, <span>San francisco</span></h3>
						</div>
						<div class="st_quote">
							<img src="assets/images/v5/quote.png" alt="">
						</div>
					</div>
				</div>
			</div><!--- End container -->
			<div class="st_online_community_item st_online_community_item_v4">
				<div class="st_single_item item_1">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
				<div class="st_single_item item_2">
					<img src="assets/images/v5/02.jpg" alt="">
				</div>
				<div class="st_single_item item_3">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_4">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_5">
					<img src="assets/images/v5/03.jpg" alt="">
				</div>
				<div class="st_single_item item_6">
					<img src="assets/images/v5/05.jpg" alt="">
				</div>
				<div class="st_single_item item_7">
					<img src="assets/images/v5/04.jpg" alt="">
				</div>
				<div class="st_single_item item_8">
					<img src="assets/images/v5/01.jpg" alt="">
				</div>
			</div>
		</section><!--- End st_testimonial_area -->

		<section id="pricing" class="st_pricing_table_area text-center st_section_padding">
			<div class="container">
				<div class="st_section_heding_title light">
					<h5>SassAgency Pricing</h2>
					<h2><strong>Our adorable pricing plan</strong></h2>
				</div>
				<div class="st-pricing-container st-pricing-btn-style-wrapper">
					<div class="row">
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInLeft" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header bg-clear-day">
												<h3 class="text-emerald">Free</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">Free</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-emerald bg-hover-emerald " href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInUp" data-wow-delay="0.3s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header bg-clear-day">
												<h3 class="text-emerald">STANDARD</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$80</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-emerald bg-hover-emerald" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-lg-4">
							<ul class="st-pricing-list st-bounce-invert wow fadeInRight" data-wow-delay="0.5s">
								<li>
									<ul class="st-pricing-wrapper">
										<li data-type="monthly" class="is-visible">
											<header class="st-pricing-header bg-clear-day">
												<h3 class="text-emerald">PREMIUM</h3>
											</header>
											<div class="st-price">
												<span class="st-currency">$50</span>
												<p>Forever</p>
											</div>
											<div class="st-pricing-body">
												<ul class="st-pricing-features">
													<li>1 Account Holder</li>
													<li>Message Record Upto 5K</li>
													<li>Upto 10 addones support</li>
												</ul>
											</div>
											<div class="cs-pricing-footer">
												<a class="st_default_btn st_transparent text-emerald bg-hover-emerald" href="#">SUBSCRIBE</a>
											</div>	
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div><!--- End row -->
				</div>
			</div><!--- End container -->
		</section><!--- End st_pricing_table_area -->

		<footer id="contact" class="st_default_footer_area bg-haiti st_subscribe_footer st_section_padding bgi-sm-none" style="background-image: url(assets/images/footer-shape.png);">
			<div class="container">
				<div class="st_subscription_wrapper text-center m-sm-b-100">
					<h2 class="text-st-white">Subscribe our newsletter for product & promtion</h2>
					<div class="st_subscribe st_subscribe_flat wow fadeInUp" data-wow-delay="0.3s">
						<form id="st-subscription-form" class="st-form">
							<input id="st-subscription-email" class="st_subscribe_email" placeholder="Enter email address" required="required" name="EMAIL" type="email">
							<input class="st_subscribe_btn" value="subscribe" type="submit">
							<div class="st_subscription_info">Please enter a value</div>
						</form>
						<label for="st-subscription-email" class="st-subscription-info position-absolute"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="st_footer_logo_warap">
							<a href="#"><img src="assets/images/logo/fotter-logo-02.png" alt=""></a>
							<p>Holisticly streamline client-centric intuitive markets and a good intuitive human capital. a great place for the placing in a muse.</p>
						</div>
						<div class="st_copyright_content d-lg-block st-d-md-none">
							<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="row">
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60 offset-lg-1">
								<div class="st_fotter_heding_title">
									<h3 class="text-emerald">Links</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Home</a></li>
										<li><a href="#">Features</a></li>
										<li><a href="#">Doc</a></li>
										<li><a href="#">Pricing</a></li>
										<li><a href="#">Blog</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-4 col-sm-6 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-emerald">Support</h3>
								</div>
								<div class="st_fotter_menu text-st-white">
									<ul>
										<li><a href="#">Stack Comunity</a></li>
										<li><a href="#">Support Docs</a></li>
										<li><a href="#">Help API Docs</a></li>
										<li><a href="#">Service Satus</a></li>
										<li><a href="#">Email Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-5 col-md-4 m-md-b-60">
								<div class="st_fotter_heding_title">
									<h3 class="text-emerald">Contact</h3>
								</div>
								<div class="st_social_icon text-st-white">
									<p class="text-st-primary">info@saastrend.com</p>
									<ul>
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
										<li><a href="#"><i class="fab fa-git-square"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div><!--- End row -->
					</div>
				</div><!--- End row -->
				<div class="d-none st-d-md-block">
					<div class="st_copyright_content text-center">
						<p>All Right Reserved by <a class="text-white" href="#">Pixiefy</a> Copyright &copy;2018</p>
					</div>
				</div>
			</div><!--- End container -->
		</footer><!--- End st_default_footer_area -->


		<!-- build:js -->
	    <script src="assets/js/plugins.min.js"></script>
	    <script src="assets/js/sliderInit.js"></script>
	    <script src="assets/js/saastrend.js"></script>
	    <script src="assets/js/custom.js"></script>
	    <!-- endbuild -->
		<!-- End All Js -->

	</body>
</html>